{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <section>
        <h1>Przedłużenie przypisania</h1>

        <table class="records_list">
            <thead>
            <tr>
                <th class="lp">Lp</th>
                <th>{{ knp_pagination_sortable(lista_filii,'Klient','k.nazwaSkrocona') }}</th>
                <th>Nazwa filii</th>
                <th>Kod MAX</th>
                <th class="szer-370">{{ knp_pagination_sortable(lista_filii,'Przypisany do','u.username') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for filia in lista_filii %}
                <tr class="wys-50">
                    <td class="lp"><a href="{{ path('klient_show', { 'id': filia.id }) }}">{{ lista_filii.getPaginationData['firstItemNumber'] + loop.index - 1}}</a></td>
                    <td title="Pełna nazwa: {{ filia.klient.nazwaPelna }}">{{ filia.klient.nazwaSkrocona }}</td>
                    <td>{{ filia.nazwaFilii }}</td>
                    <td>{{ filia.klient.kodMax }}</td>
                    <td>
                        {% if filia.filieUzytkownicy|length > 0 %}
                            {% for przypisani in filia.filieUzytkownicy %}
                                <div class="przypisanie-container">
                                    <div class="przypisany">
                                        {{ przypisani.uzytkownik }}
                                    </div>
                                    <div class="data">
                                        {{ przypisani.koniecPrzypisania|date("Y-m-d") }}
                                    </div>
                                    <div class="record_actions" style="width: 120px">
                                        <a href="{{ path("backend_przypisane_edycja", {'id' : przypisani.id}) }}" class="art-button maly pomaranczowy" style="float: left;">Edytuj</a>
                                        {{ form_start(delete_forms[przypisani.id], {'action':path('backend_przypisane_usun', {'id' : przypisani.id} )}) }}
                                            {{ form_widget(delete_forms[przypisani.id].submit, {'attr': {'class':'art-button maly czerwony confirm-delete','style':'float:right;'} }) }}
                                        {{ form_end(delete_forms[przypisani.id]) }}
                                    </div>
                                </div>

                            {% endfor %}
                        {% endif %}
                        <ul class="record_actions">
                            <li style="margin: 0;"><a href="{{ path('backend_przypisanie_nowe', {'filiaId':filia.id} ) }}" class="art-button maly zielony">Dodaj</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(lista_filii) }}
        </div>
    </section>

    <div id="dialog-delete-confirm" title="Czy na pewno chcesz usunąć ?">
        <p style="text-align: left;"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Potwierdzenie spowoduje nieodwracalne usunięcie elementu z bazy danych Portalu DFP.</p>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#   Confirm-Dialog  #}
    $('.confirm-delete').click(function(e){
        e.preventDefault();
        $('#dialog-delete-confirm')
            .data('submit-form', $(this).closest('form'))
            .dialog("open");
    });

    $('#dialog-delete-confirm').dialog({
        autoOpen: false,
        resizable: false,
        height: 180,
        modal: true,
        buttons: {
            "Usuń": function() {
                $( this ).dialog( "close" );
                $(this).data('submit-form').submit();
            },
            Anuluj: function(event) {
                $( this ).dialog( "close" );
            }
        },
        show: {
            effect: "blind",
            duration: 500
        },
        hide: {
            effect: "blind",
            duration: 500
        },
        closeOnEscape: true
    })
{% endblock javascripts %}
