{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% form_theme form_filter '@DFPEtapI/Form/bootstrap_form.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/main_2.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/layout_2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/custom-theme/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Przedłużenie przypisania</h1>

        <div class="well">
            <form method="get" action="#lista-przypisanych" role="search" class="form-horizontal">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" for="{{ form_filter.kod_max.vars.id }}">{{ form_filter.kod_max.vars.label }}</label>
                                <div class="col-xs-7">
                                    {{ form_widget(form_filter.kod_max) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" for="{{ form_filter.nazwa_klienta.vars.id }}">{{ form_filter.nazwa_klienta.vars.label }}</label>
                                <div class="col-xs-7">
                                    {{ form_widget(form_filter.nazwa_klienta) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" for="{{ form_filter.dostep.vars.id }}">{{ form_filter.dostep.vars.label }}</label>
                                <div class="col-xs-7">
                                    {{ form_widget(form_filter.dostep) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label class="col-xs-5 control-label" for="{{ form_filter.przypisany.vars.id }}">{{ form_filter.przypisany.vars.label }}</label>
                            <div class="col-xs-7">
                                {{ form_widget(form_filter.przypisany) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-xs-offset-6">
                        <div class="form-group">
                            {{ form_rest(form_filter) }}
                            <input class="btn btn-info" type="submit" name="submit-filter" value="Filtruj" style="height: auto;"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table id="lista-przypisanych" class="table records_list">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Użytkownik</th>
                    <th>Klient</th>
                    <th class="text-right"><abbr title="Obrót kroczący z ostatnich 90 dni." data-toggle="tooltip">Obrót 90 <sup><span class="glyphicon glyphicon-question-sign text-info"></span></sup></abbr></th>
                    <th class="text-center"><abbr title="Data ostatniego raportu" data-toggle="tooltip">Ost. notatka <sup><span class="glyphicon glyphicon-question-sign text-info"></span></sup></abbr></th>
                    <th class="text-center"><abbr title="Data końca wstępnej rezerwacji (mechanizm zapobiegający blokowaniu klienta w przypadku nie spełnienia wyrunków)" data-toggle="tooltip">Koniec wstępnej rezerwacji <sup><span class="glyphicon glyphicon-question-sign text-info"></span></sup></abbr></th>
                    <th class="text-center"><abbr title="Możliwość podglądu i edycji karty klienta" data-toggle="tooltip">Dostęp <sup><span class="glyphicon glyphicon-question-sign text-info"></span></sup></abbr></th>
                </tr>
            </thead>
            <tbody>
                {% set lp = 1 %}
                {% for filiaUzytkownika in filie_uzytkownicy %}
                    {% set ostatniaNotatka = filiaUzytkownika.filia.filieNotatki|first %}
                    {% set blokadaNotatka = false %}
                    {% set blokadaObrot = filiaUzytkownika.filia.klient.obrot == 0 ? true : false %}
                    {% set rezerwacja = false %}
                    <tr class="{{ filiaUzytkownika.filia.klient.obrot < 3000 ? 'warning' }}">
                        <th><a href="{{ path('backend_przypisane_edycja', { 'id' : filiaUzytkownika.id }) }}">{{ loop.index }}.</a></th>
                        <td>{{ filiaUzytkownika.uzytkownik }}</td>
                        <td data-toggle="tooltip" data-placement="bottom" title="{{ filiaUzytkownika.filia.klient.nazwaPelna }}">{{ filiaUzytkownika.filia.klient.nazwaSkrocona }} {{ filiaUzytkownika.filia != 'Filia Główna' ? filiaUzytkownika.filia }}</td>
                        <td class="text-right {{ filiaUzytkownika.filia.klient.obrot < 3000 ? 'text-danger' }} ">{{ filiaUzytkownika.filia.klient.obrot|waluta }}</td>
                        {% if ostatniaNotatka %}
                            <td class="{{ ostatniaNotatka.dataSporzadzenia < date()|date_modify('-30days') ? 'text-danger' }} text-center">{{ ostatniaNotatka ? ostatniaNotatka.dataSporzadzenia|date('d.m.Y') : 'brak notatek' }}</td>
                            {% if ostatniaNotatka.dataSporzadzenia < date()|date_modify('-30days') %} {% set blokadaNotatka = true %} {% endif %}
                        {% else %}
                            <td class="text-danger text-center">brak notatek</td>
                            {% set blokadaNotatka = true %}
                        {% endif %}
                        {% if filiaUzytkownika.perm %}
                            <td class="text-center text-success">Na stałe (perm.)</td>
                            {% set rezerwacja = true %}
                        {% else %}
                            {% set dataKoncaPrzypisania = filiaUzytkownika.koniecPrzypisania %}
                            {% if date() < dataKoncaPrzypisania and date()|date_modify('+7days') >= dataKoncaPrzypisania %}
                                <td class="text-warning text-center">{{ dataKoncaPrzypisania|date('d.m.Y') }} <span class="glyphicon glyphicon-info-sign"></span></td>
                                {% set rezerwacja = true %}
                            {% elseif date() > dataKoncaPrzypisania %}
                                <td class="text-danger text-center">{{ dataKoncaPrzypisania|date('d.m.Y') }} <span class="glyphicon glyphicon-exclamation-sign"></span></td>
                            {% else %}
                                <td class="text-center">{{ dataKoncaPrzypisania|date('d.m.Y') }}</td>
                                {% set rezerwacja = true %}
                            {% endif %}
                        {% endif %}
                        {% if blokadaNotatka and blokadaObrot and rezerwacja == false %}
                            <td class="text-center text-danger"><span class="glyphicon glyphicon-minus-sign"></span></td>
                        {% else %}
                            <td class="text-center text-success"><span class="glyphicon glyphicon-ok-sign"></span></td>
                        {% endif %}
                    </tr>
                    {% set lp = lp + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </section>

    <div class="container-fluid bottom-navigation">
        <div class="navigation">
            {{ knp_pagination_render(filie_uzytkownicy) }}
        </div>
    </div>

    <div id="dialog-delete-confirm" title="Czy na pewno chcesz usunąć ?">
        <p style="text-align: left;"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Potwierdzenie spowoduje nieodwracalne usunięcie elementu z bazy danych Portalu DFP.</p>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    {#   Confirm-Dialog  #}
    $('.confirm-delete').click(function(e){
        e.preventDefault();
        $('#dialog-delete-confirm')
            .data('submit-form', $(this).closest('form'))
            .dialog("open");
    });

    $('#dialog-delete-confirm').dialog({
        autoOpen: false,
        resizable: false,
        height: 180,
        modal: true,
        buttons: {
            "Usuń": function() {
                $( this ).dialog( "close" );
                $(this).data('submit-form').submit();
            },
            Anuluj: function(event) {
                $( this ).dialog( "close" );
            }
        },
        show: {
            effect: "blind",
            duration: 500
        },
        hide: {
            effect: "blind",
            duration: 500
        },
        closeOnEscape: true
    })

    $('.records_list').obslugaTabel();
{% endblock javascripts %}
