{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <section>
        <h1>Lista filii</h1>

        <table class="records_list">
            <thead>
                <tr>
                    <th class="lp">Lp</th>
                    <th>{{ knp_pagination_sortable(lista_filii,'Przypisany do','u.username') }}</th>
                    <th>{{ knp_pagination_sortable(lista_filii,'Klient','k.nazwaSkrocona') }}</th>
                    <th>Nazwa filii</th>
                    <th>{{ knp_pagination_sortable(lista_filii,'Miejscowość','f.miejscowosc') }}</th>
                    <th>{{ knp_pagination_sortable(lista_filii,'Profil działalności','pd.profileDzialalnosci.nazwaProfilu') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for filia in lista_filii %}
                <tr>
                    <td class="lp"><a href="{{ path('backend_filia_show', { 'id': filia.id }) }}">{{ lista_filii.getPaginationData['firstItemNumber'] + loop.index - 1}}</a></td>
                    <td>{% for przypisani in filia.filieUzytkownicy %}<span title="Stanowisko: {{ przypisani.uzytkownik.profilUzytkownika is empty ? " - " :  przypisani.uzytkownik.profilUzytkownika.stanowisko }} | Koniec przypisania: {{ przypisani.koniecPrzypisania is empty ? " - " : przypisani.koniecPrzypisania|date("Y-m-d") }}">{{ przypisani.uzytkownik }}, </span>{% endfor %}</td>
                    <td title="Pełna nazwa: {{ filia.klient.nazwaPelna }}">{{ filia.klient.nazwaSkrocona }}</td>
                    <td>{{ filia.nazwaFilii }}</td>
                    <td title="{{ filia.ulica }}&#10;{{ filia.kodPocztowy|kodPocztowy }}; {{ filia.miejscowosc }}&#10;{{ filia.wojewodztwo }}">{{ filia.miejscowosc }}</td>
                    <td>{{ filia.profileDzialalnosci|join(" | ") }}</td>
                    <td>
                        <ul class="record_actions">
                            <li>
                                <a href="{{ path('backend_filia_show', { 'id': filia.id }) }}" class="art-button maly zielony">pokaż</a>
                            </li>
                            <li>
                                <a href="{{ path('backend_filia_edytuj', { 'id': filia.id }) }}" class="art-button maly pomaranczowy">edytuj</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(lista_filii) }}
        </div>
    </section>

{% endblock %}
