{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/karta_klienta.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/notatki_layout.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/qTip.css') }}" rel="stylesheet"/>
    <link href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Filia <sup>(ID: {{ filia.id }})</sup></h1>
        <div class="status-container">
            {% if filia.aktywna == 1 %}
                <span class="aktywny">Aktywna</span>
            {% else %}
                <span class="nieaktywny">Nieaktywna</span>
            {% endif %}
        </div>
        <section id="info-podstawowe">
            <h2>Informacje podstawowe:</h2>
            <table class="record_properties">
                <tbody>
                <tr>
                    <th>Filia klienta:</th>
                    <td><a href="{{ path('klient_show', {'id': filia.klient.id} ) }}">{{ filia.klient.nazwaPelna }}</a></td>
                </tr>
                <tr>
                    <th>Nazwa filii:</th>
                    <td>{{ filia.nazwaFilii }}</td>
                </tr>
                <tr>
                    <th>Adres filii:</th>
                    <td>{{ filia.kodPocztowy|kodPocztowy }} {{ filia.miejscowosc }}; ul. {{ filia.ulica }}</td>
                </tr>
                <tr>
                    <th>Przypisani agenci:</th>
                    <td>{{ filia.filieUzytkownicy|join(" | ") }}</td>
                </tr>
                <tr>
                    <th>Osoby kontaktowe:</th>
                    <td>{{ filia.filiePracownicy|join(" | ")|raw }}</td>
                </tr>
                <tr>
                    <th>Profil działalności:</th>
                    <td>{{ filia.profileDzialalnosci|join(" | ") }}</td>
                </tr>
                <tr>
                    <th>Stosowany system malarski:</th>
                    <td>{{ filia.matlakDotychczas|raw }}</td>
                </tr>
                <tr>
                    <th>Wielkość zużycia:</th>
                    <td>{{ filia.zuzycieMaterialow|raw }}</td>
                </tr>
                <tr>
                    <th>Kolorystyka:</th>
                    <td>{{ filia.kolorystyka|raw }}</td>
                </tr>
                <tr>
                    <th>Materiały uzupełniające:</th>
                    <td>{{ filia.filieMaterialyUzupelniajace|join(" | ")|raw }}</td>
                </tr>
                <tr>
                    <th>Adnotajce:</th>
                    <td>{{ filia.adnotacja|raw }}</td>
                </tr>
                </tbody>
            </table>
        </section>

        <section id="info-dodatkowe" class="two-columns">
            <h2>Informacje dodatkowe:</h2>
            <div class="lewa">
                <fieldset>
                    <legend>Rodzaj podłoża</legend>
                    {% if filia.filieRodzajePowierzchni|length > 0 %}
                        <dl class="table-display">
                            {% for rodzajPowierzchniFilii in filia.filieRodzajePowierzchni %}
                                <dt>{{ rodzajPowierzchniFilii.rodzajPowierzchni.nazwa }}</dt>
                                <dd>{{ rodzajPowierzchniFilii.info }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <legend>Metoda przygotowania powierzchni</legend>
                    {% if filia.filieProcesyPrzygotowaniaPowierzchni|length > 0 %}
                        <dl class="table-display">
                            {% for procesFilii in filia.filieProcesyPrzygotowaniaPowierzchni %}
                                <dt>{{ procesFilii.procesPrzygotowaniaPowierzchni.nazwaProcesu }}</dt>
                                <dd>{{ procesFilii.info }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <legend>Metoda aplikacji farby</legend>
                    {% if filia.filieProcesyAplikacji|length > 0 %}
                        <dl class="table-display">
                            {% for procesFilii in filia.filieProcesyAplikacji %}
                                <dt>{{ procesFilii.procesAplikacji.nazwaProcesu }}</dt>
                                <dd>{{ procesFilii.info }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
            </div>
            <div class="prawa">
                <fieldset>
                    <legend>Parametry utwardzania powłoki</legend>
                    {% if filia.filieProcesyUtwardzaniaPowloki|length > 0 %}
                        <dl class="table-display">
                            {% for procesFilii in filia.filieProcesyUtwardzaniaPowloki %}
                                <dt>{{ procesFilii.procesUtwardzaniaPowloki.nazwaProcesu }}</dt>
                                <dd>
                                    <dl>
                                        <dt>Temp. min:</dt>
                                        <dd>{{ procesFilii.tempMin }}&#176;C</dd>
                                        <dt>Temp max:</dt>
                                        <dd>{{ procesFilii.tempMax }}&#176;C</dd>
                                        <dt>Czas:</dt>
                                        <dd>{{ procesFilii.czasSchniecia }} min</dd>
                                    </dl>
                                </dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <legend>Wymagania powłoki lakierowej</legend>
                    {% if filia.filieWymaganiaPowloki|length > 0 %}
                        <dl class="table-display">
                            {% for wymaganiaPowloki in filia.filieWymaganiaPowloki %}
                                <dt>{{ wymaganiaPowloki.wymaganiaPowloki.nazwaParametru }}</dt>
                                <dd>{{ wymaganiaPowloki.info }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <legend>Parametry produktu obecnie stosowanego</legend>
                    {% if filia.filieWymaganiaProduktu|length > 0 %}
                        <dl class="table-display">
                            {% for filiaWymaganiaProduktu in filia.filieWymaganiaProduktu %}
                                <dt>{{ filiaWymaganiaProduktu.wymaganiaProduktu.nazwaParametru }}</dt>
                                <dd>{{ filiaWymaganiaProduktu.info }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
            </div>
        </section>

        <section id="notatki">
            <h2>Wymagania klienta, harmonogram działań, notatki bieżące:</h2>
            <div class="container">
                {% for notatka in filia.filieNotatki %}
                    <div class="notatka">
                        <div class="naglowek">
                            <span class="kategorie-notatek kategoria-{{ notatka.rodzaj }}">{{ attribute(notatka_kategorie,notatka.rodzaj) }}</span>
                            <span>{{ notatka.uzytkownik }} {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span>
                        </div>
                        <div class="tresc">
                            {% if notatka.status == 0 %}
                                <s>{{ notatka.tresc|raw }}</s>
                            {% else %}
                                {{ notatka.tresc|raw }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>


    <ul class="record_actions">
        <li>
            <a href="{{ path('backend_filie') }}" class="art-button">
                Powrót do listy
            </a>
        </li>
        <li>
            <a href="{{ path('backend_filia_edytuj', { 'id': filia.id }) }}" class="art-button">
                Edytuj
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $('#main [title]').qtip();
{% endblock javascripts %}