{% extends '@GCSVCore/Frontend/frontend_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}

{% endblock javascript %}

{% block content -%}
    <nav class="navbar navbar-default">
        <form method="get" action="" class="navbar-form form-inline" role="search">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-4">
                            <label for="klient_filter_nazwaSkrocona">ID zdarzenia</label>
                            {#{{ form_widget(form.nazwisko, { 'attr' : { 'class' : 'form-control' } } ) }}#}
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="klient_filter_nip">Klient</label>
                            {#{{ form_widget(form.strefa, { 'attr' : { 'class' : 'form-control','style' : 'width: 140px;' } } ) }}#}
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="klient_filter_kodMax">Technik</label>
                            {#{{ form_widget(form.locked, { 'attr' : { 'class' : 'form-control','style' : 'width: 80px;' } } ) }}#}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group col-sm-4">
                            <label for="klient_filter_nazwaSkrocona">Status</label>
                            {#{{ form_widget(form.nazwisko, { 'attr' : { 'class' : 'form-control' } } ) }}#}
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="klient_filter_nip">Rodzaj</label>
                            {#{{ form_widget(form.strefa, { 'attr' : { 'class' : 'form-control','style' : 'width: 140px;' } } ) }}#}
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="klient_filter_kodMax">Zakres</label>
                            {#{{ form_widget(form.locked, { 'attr' : { 'class' : 'form-control','style' : 'width: 80px;' } } ) }}#}
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-12">
                        {#{{ form_rest(form) }}#}
                        <div class="col-sm-2">
                            <input type="submit" name="submit-filter" value="Szukaj" class="btn btn-default"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nav>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Klient</th>
            <th>Rodzaj</th>
            <th>Technik</th>
            <th>Termin</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for termin in terminy_zdarzen %}
            <tr>
                <th>{{ termin.uczestnikZdarzeniaTechnicznego.zdarzenieTechniczne.id }}</th>
                <td>{{ termin.uczestnikZdarzeniaTechnicznego.zdarzenieTechniczne.oddzialFirmy.firma.nazwaSkrocona }}</td>
                <td>{{ termin.uczestnikZdarzeniaTechnicznego.zdarzenieTechniczne.rodzajZdarzeniaTechnicznego }}</td>
                <td>{{ termin.uczestnikZdarzeniaTechnicznego.osoba }}</td>
                <td>{{ termin.rozpoczecieWizyty|date('d-m-Y') }} - {{ termin.zakonczenieWizyty|date('d-m-Y') }}</td>
                <td>{{ termin.uczestnikZdarzeniaTechnicznego.zdarzenieTechniczne.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
