{#{% extends is_full_view() ? '@GCSVCore/Frontend/frontend_layout.html.twig' : '::mobile.html.twig' %}#}

{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{{ asset('css/main_2.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/layout_2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/custom-theme/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/gcsvtechnical/css/kalendarz.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/gcsvtechnical/css/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/gcsvtechnical/css/bootstrap-select2/select2.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/gcsvtechnical/css/bootstrap-select2/select2-bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/gcsvtechnical/css/bootstrap-typeahead/bootstrap3-typeahead.css') }}" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/gcsvtechnical/js/gcsv_autocomplete.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gcsvtechnical/js/zdarzenie-techniczne-new.js') }}"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/lang-all.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.4.0/gcal.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/gcsvtechnical/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gcsvtechnical/js/bootstrap-select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gcsvtechnical/js/bootstrap-typeahead/bootstrap3-typeahead-min.js') }}"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.js"></script>
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content -%}
    <div class="page-header" style="margin-top: 5px;">
        <h1>Nowe zdarzenie techniczne</h1>
    </div>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class' : 'form-horizontal'}}) }}
    <section class="container-fluid">
        <div class="form-group {{ form.oddzialFirmy.vars.errors|length > 0 ? 'has-error' }}">
            {{ form_label(form.oddzialFirmy,null,{ 'label_attr' : { 'class' : 'col-xs-2' } }) }}
            <div class="col-sm-10">
                {{ form_widget(form.oddzialFirmy) }}
                {{ form_errors(form.oddzialFirmy) }}
                {#<button class="speech-record-btn"><i class="fa fa-microphone fa-2x"></i></button>#}
                <p class="help-block"><i class="fa fa-info-circle"></i> Zacznij wprowadzać nazwę firmy, do której ma się udać technik / technolog / kierownik produktu, po czym wskaż na ją na liście.</p>
            </div>
        </div>
        <div class="form-group {{ form.daneKontaktowe.vars.errors|length > 0 ? 'has-error' }}">
            {{ form_label(form.daneKontaktowe,null,{ 'label_attr' : { 'class' : 'col-xs-2' } }) }}
            <div class="col-sm-10">
                {{ form_widget(form.daneKontaktowe) }}
                {{ form_errors(form.daneKontaktowe) }}
                <p class="help-block"><i class="fa fa-info-circle"></i> Wpisz imię i nazwisko oraz numer telefonu komórkowego lub stacjonarnego osoby ze strony klienta, z którą uzgodniłeś wizytę.</p>
            </div>
        </div>
        <div class="form-group {{ form.rodzajZdarzeniaTechnicznego.vars.errors|length > 0 ? 'has-error' }}">
            {{ form_label(form.rodzajZdarzeniaTechnicznego,null, { 'label_attr' : { 'class' : 'col-xs-2' } }) }}
            <div class="col-xs-10">
                {{ form_widget(form.rodzajZdarzeniaTechnicznego) }}
                {{ form_errors(form.rodzajZdarzeniaTechnicznego) }}
                <p class="help-block"><i class="fa fa-info-circle"></i> Wybierz rodzaj zdarzenia technicznego odpowiadającego charakterowi zamawianej wizyty.</p>
            </div>
        </div>
        <div class="form-group {{ form.opis.vars.errors|length > 0 ? 'has-error' }}">
            {{ form_label(form.opis,null,{ 'label_attr' : { 'class' : 'col-xs-2' } }) }}
            <div class="col-sm-10">
                {{ form_widget(form.opis, { 'attr' : { 'rows' : 10 } }) }}
                {{ form_errors(form.opis) }}
                {#<button class="speech-record-btn"><i class="fa fa-microphone fa-2x"></i></button>#}
                <p class="help-block"><i class="fa fa-info-circle"></i> Brak opisu lub zdawkowy wpis będzie skutkować brakiem akceptacji zamówienia. Nie będzie akceptowane "uzupełnianie" zamówienia telefonicznie. Proszę pamiętać, że technik / technolog / kierownik produktu nie ralizuje wizyt rozpoznawczo-handlowych (to jest zadanie handlowca). Jeżeli brakuje dokładnego opisu to oznacza, że handlowiec nie ma planu w jakim celu chce zamówić technika / technologa / kierownika produktu.</p>
            </div>
        </div>
        <div class="form-group {{ form.produkty.vars.errors|length > 0 ? 'has-error' }}">
            {{ form_label(form.produkty,null,{ 'label_attr' : { 'class' : 'col-xs-2' } }) }}
            <div class="col-sm-10">
                {{ form_widget(form.produkty, { 'attr' : { 'rows' : 3 } }) }}
                {{ form_errors(form.produkty) }}
                <p class="help-block"><i class="fa fa-info-circle"></i> W przypadku gdy chcesz, aby technik / technolog / kierownik produktu zaprezentował klientowi konkretne produkty, które wskazujesz w zamówieniu, <cite>DFP</cite> musi zweryfikować ich dobór w oparciu o dane z Karty Klienta w Portalu DFP. Wpisz imię i nazwisko osoby, z którą uzgadniałeś produkty. (Jeśli zamówienie składa WPS - proszę podać czy wymienione produkty posiada WPS na stanie, czy technik / technolog / kierownik produktu musi je sam dostarczyć.)</p>
            </div>
        </div>
        <div class="form-group {{ form.elementyDoLakierowania.vars.errors|length > 0 ? 'has-error' }}">
            {{ form_label(form.elementyDoLakierowania,null,{ 'label_attr' : { 'class' : 'col-xs-2' } }) }}
            <div class="col-sm-10">
                {{ form_widget(form.elementyDoLakierowania, { 'attr' : { 'rows' : 3 } }) }}
                {{ form_errors(form.elementyDoLakierowania) }}
                <p class="help-block"><i class="fa fa-info-circle"></i> Wpisz, czy to płaskie panele, czy elementy profilowane, czy inne. Wpisz z jakiego materiału są wykonane elementy do lakierowania: stal, aluminium, MDF, sklejka, szkło, tworzywo sztuczne (koniecznie podaj typy), inne.</p>
            </div>
        </div>
        {% for technik in form.uczestnikZdarzeniaTechnicznego %}
            <div class="form-group {{ technik.osoba.vars.errors|length > 0 ? 'has-error' }}">
                {{ form_label(technik.osoba,'Osoba',{ 'label_attr' : { 'class' : 'col-xs-2' } }) }}
                <div class="col-sm-10">
                    {{ form_widget(technik.osoba) }}
                    {{ form_errors(technik.osoba) }}
                </div>
            </div>
            {% for termin in technik.terminy %}
                {% if termin.rozpoczecieWizyty.vars.errors|length > 0 or termin.zakonczenieWizyty.vars.errors|length > 0 %}
                    {% set terminError = true %}
                {% endif %}
                <div class="form-group {{ terminError|default(false) ? 'has-error' : '' }}">
                    <label class="col-xs-2 control-label">Termin zdarzenia</label>
                    <div class="col-xs-4">
                        <div id="datetimepicker-start" class="input-group date">
                            {{ form_widget(termin.rozpoczecieWizytyWidget) }}
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                        {{ form_widget(termin.rozpoczecieWizyty) }}
                    </div>
                    <label class="col-xs-1 text-left control-label" for="{{ termin.rozpoczecieWizytyWidget.vars.id }}"><i class="fa fa-arrow-left"></i> od</label>
                    <label class="col-xs-1 text-right control-label" for="{{ termin.zakonczenieWizytyWidget.vars.id }}">do <i class="fa fa-arrow-right"></i></label>
                    <div class="col-xs-4">
                        <div id="datetimepicker-koniec" class="input-group date">
                            {{ form_widget(termin.zakonczenieWizytyWidget) }}
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                        {{ form_widget(termin.zakonczenieWizyty) }}
                    </div>
                    {% if terminError|default(false) %}
                        <div class="col-xs-10 col-xs-offset-2">
                            {{ form_errors(termin.zakonczenieWizyty) }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
        {{ form_row(form.dlugoscGeo) }}
        {{ form_row(form.szerokoscGeo) }}

        <div class="form-group">
            <label class="col-sm-2 control-label">Kalendarz</label>
            <div class="form-control-static col-sm-10">
                <div id="kalendarz-container" class="horizont-panel aktywny">
                    {% include 'GCSVFullCalendarBundle:Default:kalendarz.html.twig' %}
                </div>
            </div>
        </div>
        <div class="form-group {{ form.osobaZlecajaca.vars.errors|length > 0 ? 'has-error' }}">
            {{ form_label(form.osobaZlecajaca,null, { 'label_attr' : { 'class' : 'col-xs-2' } }) }}
            <div class="col-xs-10">
                {{ form_widget(form.osobaZlecajaca) }}
                {{ form_errors(form.osobaZlecajaca) }}
                <p class="help-block"><i class="fa fa-info-circle"></i> Pozostaw to pole bez zmian lub wskaż osobę, na polecenie której wprowadzasz zamówienie wizyty technicznej.</p>
            </div>
        </div>

        <hr>

        {{ form_widget(form.submit) }}

    </section>
    {{ form_end(form) }}

{% endblock %}