{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/i18n/defaults-pl_PL.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock javascript %}

{% form_theme edit_form '@DFPEtapI/Form/bootstrap_form.html.twig' %}

{% block content %}
    {{ form_start(edit_form) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Profil użytkownika</h2>
                {{ form_row(edit_form.imie) }}
                {{ form_row(edit_form.nazwisko) }}
                {{ form_row(edit_form.email) }}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="well well-sm"><strong>Informacje dodatkowe</strong></div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(edit_form.profilUzytkownika.stanowisko) }}
                {{ form_row(edit_form.profilUzytkownika.korporacja, { 'attr' : { 'data-mask' : '999?9' } }) }}
                {{ form_row(edit_form.profilUzytkownika.komorka, { 'attr' : { 'data-mask' : '999-999-999' } } ) }}
                {{ form_row(edit_form.profilUzytkownika.telefonStacjonarny, { 'attr' : { 'data-mask' : '99 999-99-99' } }) }}
                {{ form_row(edit_form.profilUzytkownika.skype) }}
            </div>
        </div>
        <div class="well well-sm"><strong>Informacje osobiste</strong></div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_row(edit_form.profilUzytkownika.plec) }}
                {{ form_row(edit_form.profilUzytkownika.kodPocztowy, { 'attr' : { 'data-mask' : '99-999' } }) }}
                {{ form_row(edit_form.profilUzytkownika.miejscowosc) }}
                {{ form_row(edit_form.profilUzytkownika.ulica) }}
                {{ form_row(edit_form.profilUzytkownika.zainteresowania) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ back_link }}" class="btn btn-warning">Powrót</a>
                {{ form_widget(edit_form.submit, { 'attr': {'class':'btn-success'} }) }}
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock content %}
