{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{{ asset('css/main_2.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/layout_2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/custom-theme/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/gcsvtechnical/css/bootstrap-select2/select2.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/gcsvtechnical/css/bootstrap-select2/select2-bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/gcsvtechnical/css/bootstrap-typeahead/bootstrap3-typeahead.css') }}" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/gcsvtechnical/js/bootstrap-select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gcsvtechnical/js/bootstrap-typeahead/bootstrap3-typeahead-min.js') }}"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.min.js"></script>
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content -%}
    <div class="page-header">
        <h1>Raport po wizycie technika DFP</h1>
    </div>
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-4"><strong>Data wizyty</strong></div>
                    <div class="col-lg-8">
                        {% if zdarzenie.uczestnikZdarzeniaTechnicznego|first.terminy|first.rozpoczecieWizyty != zdarzenie.uczestnikZdarzeniaTechnicznego|first.terminy|first.zakonczenieWizyty %}
                            {{ zdarzenie.uczestnikZdarzeniaTechnicznego|first.terminy|first.rozpoczecieWizyty|localizeddate('medium','none') }} -
                            {{ zdarzenie.uczestnikZdarzeniaTechnicznego|first.terminy|first.zakonczenieWizyty|localizeddate('medium','none') }}
                        {% else %}
                            {{ zdarzenie.uczestnikZdarzeniaTechnicznego|first.terminy|first.zakonczenieWizyty|localizeddate('medium','none') }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-6"><strong>Klient</strong></div>
                    <div class="col-lg-6">{{ zdarzenie.oddzialFirmy.klient.nazwaSkrocona }}</div>
                </div></div>
            <div class="col-lg-2">
                <div class="row">
                    <div class="col-lg-8"><strong>Nr raportu</strong></div>
                    <div class="col-lg-4">{{ zdarzenie.id }}</div>
                </div></div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6"><strong>Technik</strong></div>
                    <div class="col-lg-6">{{ zdarzenie.uczestnikZdarzeniaTechnicznego|first.osoba.imienazwisko }}</div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6"><strong>Agent DFP</strong></div>
                    <div class="col-lg-6">{{ zdarzenie.osobaZlecajaca.imienazwisko }}</div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    {{ form_start(form, { 'attr' : {'class':'form-horizontal'} }) }}
    <section class="container-fluid">
        <div class="form-group">
            {{ form_label(form.cel,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">
                {{ form_widget(form.cel) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.tempOtoczenia,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.tempOtoczenia) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.wilgotnosc,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.wilgotnosc) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.tempPodloza,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.tempPodloza) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.punktRosy,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.punktRosy) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.tempGruntu,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.tempGruntu) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.tempMiedzywarstwy,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.tempMiedzywarstwy) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.tempFarbyNawierzchniowej,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.tempFarbyNawierzchniowej) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.roznicaTemperaturPodloza,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.roznicaTemperaturPodloza) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.systemMalarski,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.systemMalarski) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.przygotowaniePowierzchni,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.przygotowaniePowierzchni) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.apliHydro,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.apliHydro) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.apliElektro,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.apliElektro) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.apliPisto,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.apliPisto) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.aplikacjaInne,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.aplikacjaInne) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.rodzajMalowanejPowierzchni,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.rodzajMalowanejPowierzchni) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.rodzajElementu,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.rodzajElementu) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.gruboscNaMokro,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.gruboscNaMokro) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.przerwaNaOdparowanie,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.przerwaNaOdparowanie) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.gruboscMiedzywarstwy,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.gruboscMiedzywarstwy) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.przerwaNaOdparowanieMiedzywarstwy,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.przerwaNaOdparowanieMiedzywarstwy) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.gruboscNawierzchniNaMokro,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.gruboscNawierzchniNaMokro) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.odparowanie,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.odparowanie) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.suszenie,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.suszenie) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.wykonanePrace,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.wykonanePrace) }}</div>
        </div>
        <div class="form-group">
            {{ form_label(form.wnioski,null,{ 'label_attr' : {'class' : 'col-lg-2' } }) }}
            <div class="col-lg-10">{{ form_widget(form.wnioski) }}</div>
        </div>
    </section>

    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <a href="{{ back_link is defined ? path(back_link.name, { 'id' : back_link.args.id }) : app.request.headers.get('referer') }}" class="btn btn-warning">{% trans %}Powrót{% endtrans %}</a>
            </div>
            <div class="col-lg-3 col-lg-offset-6 text-right">
                {{ form_widget(form.submit) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block dodatkowe_skrypty_js %}
    {#{{ tinymce_init() }}#}
{% endblock dodatkowe_skrypty_js %}

{% block javascripts %}
    $('[data-toggle="tooltip"]').tooltip();
    $('select').selectpicker();
{% endblock javascripts %}