{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/layout-bootstrap-clear.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock javascript %}

{% block content -%}
    <h1>Lista ofert handlowych</h1>
    <nav>
        <div style="margin-bottom: 20px; height: auto; overflow: auto;">
            {{ knp_pagination_filter(oferty_handlowe, {'k.nazwaSkrocona': 'Nazwa klienta', 'uz.nazwisko': 'Nazwisko osoby zamawiającej', 'ut.nazwisko':'Nazwisko technika', 'pd.nazwaProfilu':'Profil działalności','oh.status':'Status'}) }}
        </div>
    </nav>

    <section class="container-fluid">
        <table class="table table-bordered table-responsive table-striped records_list">
            <thead>
            <tr>
                <th class="lp">ID</th>
                <th>{{ knp_pagination_sortable(oferty_handlowe,'Klient','k.nazwaSkrocona') }}</th>
                <th>{{ knp_pagination_sortable(oferty_handlowe,'Profil działalności','pd.nazwaProfilu') }}</th>
                <th style="width: 120px;">{{ knp_pagination_sortable(oferty_handlowe,'Zamawiający','uz.imie') }}</th>
                <th style="width: 120px;">{{ knp_pagination_sortable(oferty_handlowe,'Technik','ut.imie') }}</th>
                <th style="width: 100px;" title="Data złożenia zamówienia">{{ knp_pagination_sortable(oferty_handlowe,'Data złożenia','oh.dataZlozeniaZamowienia') }}</th>
                <th style="width: 100px;">{{ knp_pagination_sortable(oferty_handlowe,'Status','oh.status') }}</th>
                <th class="col-buttons"></th>
            </tr>
            </thead>
            <tbody>
            {% for oferta in oferty_handlowe %}
                <tr>
                    <th class="lp"> <a href="{{ path('backend_pokaz_zrealizowana_oferte_handlowa', {'id':oferta.id}) }}">{{ oferta.id }}</a> </th>
                    <td>{{ oferta.filia.klient.nazwaSkrocona }}</td>
                    <td>{{ oferta.filia.profileDzialalnosci|join(" | ") }}</td>
                    <td>{{ oferta.zamawiajacy }}</td>
                    <td>{{ oferta.technik is empty ? "-" : oferta.technik }}</td>
                    <td>{{ oferta.dataZlozeniaZamowienia|date("Y-m-d") }}</td>
                    <td>{{ attribute(statusy, oferta.status) }}</td>
                    <td class="col-buttons">
                        {{ form_start(delete_forms[oferta.id]) }}
                            <div class="btn-group btn-group-xs">
                                <a href="{{ path('oferta_handlowa_pdf', { 'id' : oferta.id }) }}" class="btn btn-primary">PDF</a>
                                <a href="{{ path('backend_pokaz_zrealizowana_oferte_handlowa', {'id':oferta.id}) }}" class="btn btn-success" style="float: left;">Pokaż</a>
                                {{ form_widget(delete_forms[oferta.id].submit, {'attr': {'class':'btn btn-danger','style':'float:right;'} }) }}
                            </div>
                        {{ form_end(delete_forms[oferta.id]) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(oferty_handlowe) }}
        </div>

        <hr>

        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">{{ suma_ofert['Oczekujących'] }}</span>
                Oczekujących
            </li>
            <li class="list-group-item">
                <span class="badge">{{ suma_ofert['Dobór systemu'] }}</span>
                Dobór systemu
            </li>
            <li class="list-group-item">
                <span class="badge">{{ suma_ofert['Opracowanie oferty cenowej'] }}</span>
                Opracowanie oferty cenowej
            </li>
            <li class="list-group-item">
                <span class="badge">{{ suma_ofert['Zrealizowanych'] }}</span>
                Zrealizowanych
            </li>
            <li class="list-group-item">
                <span class="badge">{{ suma_ofert['Anulowanych'] }}</span>
                Anulowanych
            </li>
            <li class="list-group-item active">
                <span class="badge">{{ suma_ofert['Wszystkich ofert'] }}</span>
                Wszystkich ofert:
            </li>
        </ul>
    </section>

    <div id="dialog-delete-confirm" title="Czy na pewno chcesz usunąć ?">
        <p style="text-align: left;"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Potwierdzenie spowoduje nieodwracalne usunięcie elementu z bazy danych Portalu DFP.</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#   Confirm-Dialog  #}
    $('.confirm-delete').click(function(e){
        e.preventDefault();
        $('#dialog-delete-confirm')
            .data('submit-form', $(this).closest('form'))
            .dialog("open");
    });

    $('#dialog-delete-confirm').dialog({
        autoOpen: false,
        resizable: false,
        height: 180,
        modal: true,
        buttons: {
            "Usuń": function() {
                $( this ).dialog( "close" );
                $(this).data('submit-form').submit();
            },
            Anuluj: function(event) {
                $( this ).dialog( "close" );
            }
        },
        show: {
            effect: "blind",
            duration: 500
        },
        hide: {
            effect: "blind",
            duration: 500
        },
        closeOnEscape: true
    })
{% endblock javascripts %}