{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <section>
        <h1>Lista ofert handlowych</h1>

        <div style="margin-bottom: 20px; height: auto; overflow: auto;">
            {{ knp_pagination_filter(oferty_handlowe, {'k.nazwaSkrocona': 'Nazwa klienta', 'uz.nazwisko': 'Nazwisko osoby zamawiającej', 'ut.nazwisko':'Nazwisko technika', 'pd.nazwaProfilu':'Profil działalności','oh.status':'Status'}) }}
        </div>

        <table class="records_list">
            <thead>
            <tr>
                <th class="lp">ID</th>
                <th>{{ knp_pagination_sortable(oferty_handlowe,'Klient','k.nazwaSkrocona') }}</th>
                <th>{{ knp_pagination_sortable(oferty_handlowe,'Profil działalności','pd.nazwaProfilu') }}</th>
                <th>{{ knp_pagination_sortable(oferty_handlowe,'Zamawiający','uz.imie') }}</th>
                <th>{{ knp_pagination_sortable(oferty_handlowe,'Technik','ut.imie') }}</th>
                <th title="Data złożenia zamówienia">{{ knp_pagination_sortable(oferty_handlowe,'Data złożenia','oh.dataZlozeniaZamowienia') }}</th>
                <th>{{ knp_pagination_sortable(oferty_handlowe,'Status','oh.status') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for oferta in oferty_handlowe %}
                <tr>
                    <th>{{ oferta.id }}</th>
                    <td>{{ oferta.filia.klient.nazwaSkrocona }}</td>
                    <td>{{ oferta.filia.profileDzialalnosci|join(" | ") }}</td>
                    <td>{{ oferta.zamawiajacy }}</td>
                    <td>{{ oferta.technik }}</td>
                    <td>{{ oferta.dataZlozeniaZamowienia|date("Y-m-d") }}</td>
                    <td>{{ attribute(statusy, oferta.status) }}</td>
                    <td>
                        {{ form_start(delete_forms[oferta.id]) }}
                            {{ form_widget(delete_forms[oferta.id].submit, {'attr': {'class':'art-button maly czerwony confirm-delete','style':'float:right;'} }) }}
                        {{ form_end(delete_forms[oferta.id]) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(oferty_handlowe) }}
        </div>
    </section>

    <div id="dialog-delete-confirm" title="Czy na pewno chcesz usunąć ?">
        <p style="text-align: left;"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Potwierdzenie spowoduje nieodwracalne usunięcie elementu z bazy danych Portalu DFP.</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#   Confirm-Dialog  #}
    $('.confirm-delete').click(function(e){
        e.preventDefault();
        $('#dialog-delete-confirm')
            .data('submit-form', $(this).closest('form'))
            .dialog("open");
    });

    $('#dialog-delete-confirm').dialog({
        autoOpen: false,
        resizable: false,
        height: 180,
        modal: true,
        buttons: {
            "Usuń": function() {
                $( this ).dialog( "close" );
                $(this).data('submit-form').submit();
            },
            Anuluj: function(event) {
                $( this ).dialog( "close" );
            }
        },
        show: {
            effect: "blind",
            duration: 500
        },
        hide: {
            effect: "blind",
            duration: 500
        },
        closeOnEscape: true
    })
{% endblock javascripts %}