{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <h1>Lista oczekujących na opracowanie Oferty Handlowej</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th class="lp">Id</th>
            <th>Klient</th>
            <th>Profil działalności</th>
            <th>Zamawiający</th>
            <th title="Technik, który opracował system malarski">Technik</th>
            <th title="Data złożenia zamówienia">Data złożenia</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in oczekujace %}
            <tr>
                <th class="lp"><a href="{{ path('backend_opracowanie_oferty_cenowej', {'id':oferta.id}) }}">{{ oferta.id }}</a></th>
                <td title="{{ oferta.filia.klient.nazwaPelna }}">{{ oferta.filia.klient.nazwaSkrocona }}</td>
                <td>{{ oferta.filia.profileDzialalnosci|join(" | ") }}</td>
                <td>{{ oferta.zamawiajacy }}</td>
                <td>{{ oferta.technik }}</td>
                <td>{{ oferta.dataZlozeniaZamowienia|date("Y-m-d H:i:s") }}</td>
                <td>{{ attribute(statusy, oferta.status) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(oczekujace) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $('.records_list').obslugaTabel();
{% endblock javascripts %}
