{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <h1>Lista oczekujących na dobór Systemu Malarskiego</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th class="lp">ID</th>
            <th>{{ knp_pagination_sortable(oczekujace,'Klient','k.nazwaSkrocona') }}</th>
            <th>{{ knp_pagination_sortable(oczekujace,'Profil działalności','pd.profileDzialalnosci.nazwaProfilu') }}</th>
            <th>{{ knp_pagination_sortable(oczekujace,'Zamawiający','uz.imie') }}</th>
            <th title="Data złożenia zamówienia">{{ knp_pagination_sortable(oczekujace,'Data złożenia','oh.dataZlozeniaZamowienia') }}</th>
            <th>{{ knp_pagination_sortable(oczekujace,'Wielkość zużycia','f.zuzycieMaterialow') }}</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for oferta in oczekujace %}
            <tr>
                <th class="lp"><a href="{{ path('backend_opracowanie_systemu_malarskiego', {'id':oferta.id}) }}">{{ oferta.id }}</a></th>
                <td title="{{ oferta.filia.klient.nazwaPelna }}">{{ oferta.filia.klient.nazwaSkrocona }}</td>
                <td>{{ oferta.filia.profileDzialalnosci|join(" | ") }}</td>
                <td>{{ oferta.zamawiajacy }}</td>
                <td>{{ oferta.dataZlozeniaZamowienia|date("Y-m-d H:i:s") }}</td>
                <td>{{ oferta.filia.zuzycieMaterialow|striptags }}</td>
                <td>{{ attribute(statusy, oferta.status) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(oczekujace) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $('.records_list').obslugaTabel();
{% endblock javascripts %}