{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% form_theme form '@DFPEtapI/Form/bootstrap_form.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/oferta_handlowa.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/i18n/defaults-pl_PL.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dfpetapi/js/dfp_obsluga_formularzy.js') }}"></script>
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Dobór Systemów Malarskich</h1>
        <table class="karta-klient">
            <tbody>
                <tr>
                    <th>Klient:</th>
                    <td><a class="link" href="{{ path('backend_filia_show', { 'id': filia.id }) }}" target="_blank">{{ filia.klient.nazwaPelna }}</a></td>
                </tr>
                <tr>
                    <th>Strona WWW:</th>
                    <td>
                        {% if filia.klient.stronaWWW %}
                            <a class="link" href="{{ filia.klient.stronaWWW }}" target="_blank">{{ filia.klient.stronaWWW }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Osoba zamawiająca ofertę:</th>
                    <td><a class="link" href="mailto:{{ oferta.zamawiajacy.email }}">{{ oferta.zamawiajacy }}</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    <div class="two-columns">
        <section>
            <h4>Informacje o kliencie</h4>
            <table class="karta-klient">
                <tbody>
                <tr>
                    <th>Profil działalności:</th>
                    <td>{{ filia.profileDzialalnosci|join(" | ") }}</td>
                </tr>
                <tr>
                    <th>Stosowany system malarski:</th>
                    <td>{{ filia.matlakDotychczas|striptags }}</td>
                </tr>
                <tr>
                    <th>Wielkość zużycia:</th>
                    <td>
                        {% for kolor in filia.filiePoziomyZapotrzebowaniaKolorow %}
                            <p>{{ kolor.kolor.nazwa }} --> {{ kolor.poziomZuzycia }}L</p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Kolorystyka:</th>
                    <td>{{ filia.kolorystyka }}</td>
                </tr>
                <tr>
                    <th>Rodzaj podłoża:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaRodzajPowierzchni in filia.filieRodzajePowierzchni %}
                                <dt>{{ filiaRodzajPowierzchni.rodzajPowierzchni.nazwa }}</dt>
                                <dd>{{ filiaRodzajPowierzchni.info }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Parametry utwardzania powłoki:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaProcesUtwardzania in filia.filieProcesyUtwardzaniaPowloki %}
                                <dt>{{ filiaProcesUtwardzania.procesUtwardzaniaPowloki.nazwaProcesu }}</dt>
                                <dd>Min: {{ filiaProcesUtwardzania.tempMin }}°C; Max: {{ filiaProcesUtwardzania.tempMax }}°C; Czas: {{ filiaProcesUtwardzania.czasSchniecia }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Metody przygotowania powierzchni:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaProcesPrzygotowaniaPowierzchni in filia.filieProcesyPrzygotowaniaPowierzchni %}
                                <dt>{{ filiaProcesPrzygotowaniaPowierzchni.procesPrzygotowaniaPowierzchni.nazwaProcesu }}</dt>
                                <dd>{{ filiaProcesPrzygotowaniaPowierzchni.info }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Wymagania powłoki lakierowej:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaWymaganiePowloki in filia.filieWymaganiaPowloki %}
                                <dt>{{ filiaWymaganiePowloki.wymaganiaPowloki.nazwaParametru }}</dt>
                                <dd>{{ filiaWymaganiePowloki.info }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Metody aplikacji farby:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaProcesAplikacji in filia.filieProcesyAplikacji %}
                                <dt>{{ filiaProcesAplikacji.procesAplikacji.nazwaProcesu }}</dt>
                                <dd>{{ filiaProcesAplikacji.info }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Parametry produktu obecnie stosowanego:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaWymaganiaProduktu in filia.filieWymaganiaProduktu %}
                                <dt>{{ filiaWymaganiaProduktu.wymaganiaProduktu.nazwaParametru }}</dt>
                                <dd>{{ filiaWymaganiaProduktu.info }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Adnotacje:</th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </section>

        <aside>
            <h4>Informacje dotyczące zamówienia</h4>
            <div class="info-zamawiajacego">
                {{ oferta.infoZamawiajacego }}
            </div>
            <h4>Adnotacje w karcie klienta</h4>
            <div class="info-zamawiajacego">
                {{ filia.adnotacja|striptags }}
            </div>
        </aside>
    </div>

    <aside class="left-toggle-sidebar">
        <div class="toggle-sidebar-context">
            {% for notatka in filia.filieNotatki %}
                <div class="notatka">
                    <div class="naglowek">
                        <span class="kategorie-notatek kategoria-{{ notatka.rodzaj }}">{{ attribute(notatka_kategorie,notatka.rodzaj) }}</span>
                        <span class="autor">{{ notatka.uzytkownik }} || {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span>
                    </div>

                    <div class="tresc">
                        {% if notatka.status == 0 %}
                            <s>{{ notatka.tresc|raw }}</s>
                        {% else %}
                            {{ notatka.tresc|raw }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="sidebar-listek" href="javascript:void(0);">
            <span>Notatki</span>
        </a>
    </aside>

    {{ form_start(form) }}
        <section id="oferty-systemy-container" class="container-fluid" data-prototype="{% filter escape %} {% include 'DFPEtapIBundle:Includes:ofertaSystem.html.twig' with {oferta_system: form.ofertySystemy.vars.prototype} %} {% endfilter %}">
            {% for oferta_system in form.ofertySystemy %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Profil działalności</th>
                            <td>{{ form_widget(oferta_system.profil, { 'attr' : { 'data-live-search' : 'true' } }) }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Grunt / Gruntoemalia</th>
                            <td>{{ form_widget(oferta_system.warstwa1, { 'attr' : { 'data-live-search' : 'true' } }) }}</td>
                            <td>Informacje dodatkowe</td>
                        </tr>
                        <tr>
                            <th>Międzywarstwa</th>
                            <td>{{ form_widget(oferta_system.warstwa2, { 'attr' : { 'data-live-search' : 'true' } }) }}</td>
                            <td rowspan="3">{{ form_widget(oferta_system.informacja, { 'attr' : { 'rows' : 5 } }) }}</td>
                        </tr>
                        <tr>
                            <th>Międzywarstwa / Farba nawierzchniowa</th>
                            <td>{{ form_widget(oferta_system.warstwa3, { 'attr' : { 'data-live-search' : 'true' } }) }}</td>
                        </tr>
                        <tr>
                            <th>Farba nawierzchniowa</th>
                            <td>{{ form_widget(oferta_system.warstwa4, { 'attr' : { 'data-live-search' : 'true' } }) }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        </section>

{#    {% if oferta.status == 1 %}
        <section id="oferty-profile-systemy-container" data-prototype="{% filter escape %} {% include 'DFPEtapIBundle:Includes:ofertaSystem.html.twig' with {oferta_profil_system: form.ofertyProfileSystemy.vars.prototype} %} {% endfilter %}">
            {% for oferta_profil_system in form.ofertyProfileSystemy %}
                <table>
                    {% include 'DFPEtapIBundle:Includes:ofertaSystem.html.twig' with {form: oferta_profil_system.vars.form} %}
                </table>
            {% endfor %}
        </section>
    {% endif %}#}

    <hr>

    <ul class="record_actions">
        <li>
            <a href="{{ powrot_url }}" class="art-button">
                Powrót
            </a>
        </li>

        {% if form.zapisz is defined %} <li> <button class="art-button zielony" name="{{ form.zapisz.vars.full_name }}" id="{{ form.zapisz.vars.id }}" type="submit">Zapisz</button> </li> {% endif %}

        {% if form.zamknij is defined %} <li> <button class="art-button zielony" name="{{ form.zamknij.vars.full_name }}" id="{{ form.zamknij.vars.id }}" type="submit">Zapisz i zamknij</button> </li> {% else %} <li> <button class="art-button zielony" name="{{ form.otworz.vars.full_name }}" id="{{ form.otworz.vars.id }}" type="submit">Zapisz</button> </li> {% endif %}

        {% if form.anuluj is defined %} <li> <button id="btn-anuluj" class="art-button czerwony">Anuluj zamówienie</button> {{ form_widget(form.anuluj) }} </li> {% endif %}

    </ul>


    <div id="dialog-delete-confirm" title="Czy na pewno chcesz usunąć ?">
        <p style="text-align: left;"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Wprowadź poniżej powód odrzucenia zamówienia Oferty Handlowej. Anulowana Oferta Handlowa zaostaje przeniesiona do archiwum wraz z podanym komentarzem.</p>
        {{ form_row(form.anulujInfo) }}
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest':false}) }}

    {% javascripts '@DFPEtapIBundle/Resources/public/js/opracujSystemMalarski.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block javascripts %}
    $('.selectpicker').selectpicker();
{% endblock javascripts %}