{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% form_theme form '@DFPEtapI/Form/bootstrap_form.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/oferta_handlowa.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/i18n/defaults-pl_PL.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dfpetapi/js/dfp_obsluga_formularzy.js') }}"></script>
{% endblock javascript %}

{% macro information_prototype(website) %}
    <tr class="produkt">
        <th style="width: 30px;" rowspan="2">#</th>
        <td>{{ form_widget(website.produkt, { 'attr' : { 'data-live-search' : 'true' } } ) }}</td>
        <td style="width: 100px;">
            {{ form_widget(website.opakowanieWartosc) }}
        </td>
        <td style="width: 130px;">
            {{ form_widget(website.opakowanieJednostka) }}
        </td>
        <td>
            <table class="table">
                <thead>
                <tr>
                    <th>Kolor</th>
                    <th>Cena</th>
                    <th style="width: 35px;"></th>
                </tr>
                </thead>
                <tbody data-prototype="{{ _self.cena_prototype(website.ceny.vars.prototype)|e }}">
                    <tr class="cena">
                        <td><input class="form-control" id="" name="" value=""></td>
                        <td><input class="form-control" id="" name="" value=""></td>
                        <td style="width: 35px;"><a href="#"><span class="glyphicon glyphicon-plus-sign cena-add" style="color: #27A727; font-size: 14px;"></span></a><a href="#"><span class="glyphicon glyphicon-minus-sign cena-del" style="color: #e00800; font-size: 14px;"></span></a></td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td rowspan="2" class="col-action">
            <a href="#" class="btn btn-danger produkt-del">Usuń</a>
        </td>
    </tr>
    <tr>
        <th>{{ form_label(website.informacjeDodatkowe) }}</th>
        <th colspan="3">{{ form_widget(website.informacjeDodatkowe) }}</th>
    </tr>
{% endmacro %}

{% macro cena_prototype(website) %}
    <tr class="cena">
        <td><input class="form-control" id="{{ website['kolor'].vars.id }}" name="{{ website['kolor'].vars.full_name }}" value="{{ website['kolor'].vars.value }}"></td>
        <td><input class="form-control" id="{{ website['wartosc'].vars.id }}" name="{{ website['wartosc'].vars.full_name }}" value="{{ website['wartosc'].vars.value }}"></td>
        <td style="width: 35px;"><a href="#"><span class="glyphicon glyphicon-plus-sign cena-add" style="color: #27A727; font-size: 14px;"></span></a><a href="#"><span class="glyphicon glyphicon-minus-sign cena-del" style="color: #e00800; font-size: 14px;"></span></a></td>
    </tr>
{% endmacro %}

{% block title %}Portal DFP - {{ filia.klient.nazwaSkrocona }}{% endblock %}

{% block content -%}
    <section>
        <h1>Dobór Systemów Malarskich</h1>
        <table class="karta-klient">
            <tbody>
            <tr>
                <th>Klient:</th>
                <td><a class="link" href="{{ path('backend_filia_show', { 'id': filia.id }) }}" target="_blank">{{ filia.klient.nazwaPelna }}</a></td>
            </tr>
            <tr>
                <th>Strona WWW:</th>
                <td>
                    {% if filia.klient.stronaWWW %}
                        <a class="link" href="{{ filia.klient.stronaWWW }}" target="_blank">{{ filia.klient.stronaWWW }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Osoba zamawiająca ofertę:</th>
                <td><a class="link" href="mailto:{{ oferta.zamawiajacy.email }}">{{ oferta.zamawiajacy }}</a></td>
            </tr>
            </tbody>
        </table>
    </section>
    <div class="two-columns">
        <section>
            <h4>Informacje o kliencie</h4>
            <table class="karta-klient">
                <tbody>
                <tr>
                    <th>Profil działalności:</th>
                    <td>{{ filia.profileDzialalnosci|join(" | ") }}</td>
                </tr>
                <tr>
                    <th>Stosowany system malarski:</th>
                    <td>{{ filia.matlakDotychczas|striptags }}</td>
                </tr>
                <tr>
                    <th>Wielkość zużycia:</th>
                    <td>
                        {% for kolor in filia.filiePoziomyZapotrzebowaniaKolorow %}
                            <p>{{ kolor.kolor.nazwa }} --> {{ kolor.poziomZuzycia }}L</p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Kolorystyka:</th>
                    <td>{{ filia.kolorystyka }}</td>
                </tr>
                <tr>
                    <th>Rodzaj podłoża:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaRodzajPowierzchni in filia.filieRodzajePowierzchni %}
                                <dt>{{ filiaRodzajPowierzchni.rodzajPowierzchni.nazwa }}</dt>
                                <dd>{{ filiaRodzajPowierzchni.info }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Parametry utwardzania powłoki:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaProcesUtwardzania in filia.filieProcesyUtwardzaniaPowloki %}
                                <dt>{{ filiaProcesUtwardzania.procesUtwardzaniaPowloki.nazwaProcesu }}</dt>
                                <dd>Min: {{ filiaProcesUtwardzania.tempMin }}°C; Max: {{ filiaProcesUtwardzania.tempMax }}°C; Czas: {{ filiaProcesUtwardzania.czasSchniecia }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Metody przygotowania powierzchni:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaProcesPrzygotowaniaPowierzchni in filia.filieProcesyPrzygotowaniaPowierzchni %}
                                <dt>{{ filiaProcesPrzygotowaniaPowierzchni.procesPrzygotowaniaPowierzchni.nazwaProcesu }}</dt>
                                <dd>{{ filiaProcesPrzygotowaniaPowierzchni.info }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Wymagania powłoki lakierowej:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaWymaganiePowloki in filia.filieWymaganiaPowloki %}
                                <dt>{{ filiaWymaganiePowloki.wymaganiaPowloki.nazwaParametru }}</dt>
                                <dd>{{ filiaWymaganiePowloki.info }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Metody aplikacji farby:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaProcesAplikacji in filia.filieProcesyAplikacji %}
                                <dt>{{ filiaProcesAplikacji.procesAplikacji.nazwaProcesu }}</dt>
                                <dd>{{ filiaProcesAplikacji.info }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Parametry produktu obecnie stosowanego:</th>
                    <td>
                        <dl class="table-display">
                            {% for filiaWymaganiaProduktu in filia.filieWymaganiaProduktu %}
                                <dt>{{ filiaWymaganiaProduktu.wymaganiaProduktu.nazwaParametru }}</dt>
                                <dd>{{ filiaWymaganiaProduktu.info }}</dd>
                            {% endfor %}
                        </dl>
                    </td>
                </tr>
                <tr>
                    <th>Adnotacje:</th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </section>

        <aside>
            <h4>Informacje dotyczące zamówienia</h4>
            <div class="info-zamawiajacego">
                {{ oferta.infoZamawiajacego }}
            </div>
            <h4>Adnotacje w karcie klienta</h4>
            <div class="info-zamawiajacego">
                {{ filia.adnotacja|striptags }}
            </div>
        </aside>
    </div>

    <aside class="left-toggle-sidebar">
        <div class="toggle-sidebar-context">
            {% for notatka in filia.filieNotatki %}
                <div class="notatka">
                    <div class="naglowek">
                        <span class="kategorie-notatek kategoria-{{ notatka.rodzaj }}">{{ attribute(notatka_kategorie,notatka.rodzaj) }}</span>
                        <span class="autor">{{ notatka.uzytkownik }} || {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span>
                    </div>

                    <div class="tresc">
                        {% if notatka.status == 0 %}
                            <s>{{ notatka.tresc|raw }}</s>
                        {% else %}
                            {{ notatka.tresc|raw }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="sidebar-listek" href="javascript:void(0);">
            <span>Notatki</span>
        </a>
    </aside>

    <h3>Dobrane systemy malarskie</h3>
    <section id="dobrane-systemy-info" class="container-fluid">
        {% for ofertaSystem in oferta.ofertySystemy %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ ofertaSystem.profil.nazwaProfilu }}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-8">
                        {% if ofertaSystem.warstwa1 %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <em>Grunt / Gruntoemalia</em>
                                </div>
                                <div class="col-xs-6">
                                    {{ ofertaSystem.warstwa1 }}
                                </div>
                            </div>
                        {% endif %}
                        {% if ofertaSystem.warstwa2 %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <em>Międzywarstwa</em>
                                </div>
                                <div class="col-xs-6">
                                    {{ ofertaSystem.warstwa2 }}
                                </div>
                            </div>
                        {% endif %}
                        {% if ofertaSystem.warstwa3 %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <em>Międzywarstwa / Farba nawierzchniowa</em>
                                </div>
                                <div class="col-xs-6">
                                    {{ ofertaSystem.warstwa3 }}
                                </div>
                            </div>
                        {% endif %}
                        {% if ofertaSystem.warstwa4 %}
                            <div class="row">
                                <div class="col-xs-6">
                                    <em>Farba nawierzchniowa</em>
                                </div>
                                <div class="col-xs-6">
                                    {{ ofertaSystem.warstwa4 }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <p style="text-decoration: underline;">Informacje dodatkowe:</p>
                        <p>{{ ofertaSystem.informacja }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    <h3>Produkty zawarte w ofercie handlowej</h3>
    {{ form_start(form) }}
        <section id="oferty-systemy-container" class="container-fluid">
            <table class="table" style="table-layout: auto;">
                <thead>
                    <tr>
                        <th style="width: 30px;">lp</th>
                        <th style="width: 250px;">produkt</th>
                        <th colspan="2" style="width: 300px;">opakowanie</th>
                        <th>cena</th>
                        <th style="width: 80px;" class="col-action"></th>
                    </tr>
                </thead>
                <tbody id="oferty-produkty-container" data-prototype="{{ _self.information_prototype(form.ofertyProdukty.vars.prototype)|e }}">
                    {% for ofertaProdukt in form.ofertyProdukty %}
                        <tr class="produkt">
                            <th style="width: 30px;" rowspan="2">{{ loop.index }}</th>
                            <td>{{ form_widget(ofertaProdukt.produkt, { 'attr' : { 'data-live-search' : 'true' } } ) }}</td>
                            <td style="width: 100px;">
                                {{ form_widget(ofertaProdukt.opakowanieWartosc) }}
                            </td>
                            <td style="width: 130px;">
                                {{ form_widget(ofertaProdukt.opakowanieJednostka) }}
                            </td>
                            <td>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Kolor</th>
                                            <th>Cena</th>
                                            <th style="width: 35px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody data-prototype="{{ _self.cena_prototype(ofertaProdukt.ceny.vars.prototype)|e }}">
                                        {% for cena in ofertaProdukt.ceny %}
                                            <tr class="cena">
                                                <td><input class="form-control" id="{{ cena['kolor'].vars.id }}" name="{{ cena['kolor'].vars.full_name }}" value="{{ cena['kolor'].vars.value }}"></td>
                                                <td><input class="form-control" id="{{ cena['wartosc'].vars.id }}" name="{{ cena['wartosc'].vars.full_name }}" value="{{ cena['wartosc'].vars.value }}"></td>
                                                <td style="width: 35px;"><a href="#"><span class="glyphicon glyphicon-plus-sign cena-add" style="color: #27A727; font-size: 14px;"></span></a><a href="#"><span class="glyphicon glyphicon-minus-sign cena-del" style="color: #e00800; font-size: 14px;"></span></a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <td rowspan="2" class="col-action">
                                <a href="#" class="btn btn-danger produkt-del">Usuń</a>
                            </td>
                        </tr>
                        <tr class="tessst">
                            <th>{{ form_label(ofertaProdukt.informacjeDodatkowe) }}</th>
                            <th colspan="3">{{ form_widget(ofertaProdukt.informacjeDodatkowe) }}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <hr>

        <ul class="record_actions">
            <li>
                <a href="{{ powrot_url }}" class="art-button">
                    Powrót
                </a>
            </li>
            <li><button class="art-button zielony" name="{{ form.zapisz.vars.full_name }}" id="{{ form.zapisz.vars.id }}" type="submit">Tylko zapisz</button></li>
            {% if form.submit is defined %}
                <li> <button class="art-button zielony" name="{{ form.submit.vars.full_name }}" id="{{ form.submit.vars.id }}" type="submit">Zapisz i zamknij</button> </li>
            {% endif %}
            <li>
                <a href="#" class="art-button czerwony">Anuluj zamówienie</a>
            </li>
            <li style="float: right;">
                <a href="{{ path('backend_oferta_handlowa_pdf', { 'id' : oferta.id }) }}" class="art-button czarny">Podgląd</a>
            </li>
        </ul>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest':false}) }}

    {% javascripts '@DFPEtapIBundle/Resources/public/js/opracujOferteCenowa.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block javascripts %}
    $('.selectpicker').selectpicker({
        'size' : 7
    });
{% endblock javascripts %}
