{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/oferta_handlowa.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Dobór Systemów Malarskich</h1>
        <table class="karta-klient">
            <tbody>
            <tr>
                <th>Klient:</th>
                <td><a class="link" href="{{ path('backend_filia_show', { 'id': filia.id }) }}" target="_blank">{{ filia.klient.nazwaPelna }}</a></td>
            </tr>
            <tr>
                <th>Strona WWW:</th>
                <td>
                    {% if filia.klient.stronaWWW %}
                        <a class="link" href="{{ filia.klient.stronaWWW }}" target="_blank">{{ filia.klient.stronaWWW }}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Osoba zamawiająca ofertę:</th>
                <td><a class="link" href="mailto:{{ oferta.zamawiajacy.email }}">{{ oferta.zamawiajacy }}</a></td>
            </tr>
            </tbody>
        </table>
    </section>
    <div class="two-columns">
        <section>
            <h4>Informacje o kliencie</h4>
            <table class="karta-klient">
                <tbody>
                <tr>
                    <th>Profil działalności:</th>
                    <td>{{ filia.profileDzialalnosci|join(" | ") }}</td>
                </tr>
                <tr>
                    <th>Stosowany system malarski:</th>
                    <td>{{ filia.matlakDotychczas|striptags }}</td>
                </tr>
                <tr>
                    <th>Wielkość zużycia:</th>
                    <td>
                        {% for kolor in filia.filiePoziomyZapotrzebowaniaKolorow %}
                            <p>{{ kolor.kolor.nazwa }} --> {{ kolor.poziomZuzycia }}L</p>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Kolorystyka:</th>
                    <td>{{ filia.kolorystyka }}</td>
                </tr>
                <tr>
                    <th>Rodzaj podłoża:</th>
                    <td>{{ filia.filieRodzajePowierzchni|join(' | ') }}</td>
                </tr>
                <tr>
                    <th>Parametry utwardzania powłoki:</th>
                    <td>{{ filia.filieProcesyUtwardzaniaPowloki|join(' | ') }}</td>
                </tr>
                <tr>
                    <th>Metody przygotowania powierzchni:</th>
                    <td>{{ filia.filieProcesyPrzygotowaniaPowierzchni|join(' | ') }}</td>
                </tr>
                <tr>
                    <th>Wymagania powłoki lakierowej:</th>
                    <td>{{ filia.filieWymaganiaPowloki|join(' | ') }}</td>
                </tr>
                <tr>
                    <th>Metody aplikacji farby:</th>
                    <td>{{ filia.filieProcesyAplikacji|join(' | ') }}</td>
                </tr>
                <tr>
                    <th>Parametry produktu obecnie stosowanego:</th>
                    <td>{{ filia.filieWymaganiaProduktu|join(' | ') }}</td>
                </tr>
                <tr>
                    <th>Adnotacje:</th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </section>

        <aside>
            <h4>Informacje dotyczące zamówienia</h4>
            <div id="info-zamawiajacego">
                {{ oferta.infoZamawiajacego }}
            </div>
        </aside>
    </div>

    <aside class="left-toggle-sidebar">
        <div class="toggle-sidebar-context">
            {% for notatka in filia.filieNotatki %}
                <div class="notatka">
                    <div class="naglowek">
                        <span class="kategorie-notatek kategoria-{{ notatka.rodzaj }}">{{ attribute(notatka_kategorie,notatka.rodzaj) }}</span>
                        <span class="autor">{{ notatka.uzytkownik }} || {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span>
                    </div>

                    <div class="tresc">
                        {% if notatka.status == 0 %}
                            <s>{{ notatka.tresc|raw }}</s>
                        {% else %}
                            {{ notatka.tresc|raw }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="sidebar-listek" href="javascript:void(0);">
            <span>Notatki</span>
        </a>
    </aside>

    <ul class="record_actions">
        <li>
            <a href="{{ powrot_url }}" class="art-button">
                Powrót
            </a>
        </li>
        {#{% if (is_granted('ROLE_TECHNIK') and oferta.status == 0) %}#}
        {% if (oferta.status == 0) %}
            <li>
                {{ form(otworzDoborSystemuForm) }}
            </li>
        {% endif %}
    </ul>

    {% javascripts '@DFPEtapIBundle/Resources/public/js/opracujSystemMalarski.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}