{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% form_theme form _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button zielony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="parametr-box">
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formularze.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    {% javascripts '@DFPEtapIBundle/Resources/public/js/dfp_obsluga_formularzy.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Klient - edycja</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <table class="record_properties">
            <caption>Informacje podstawowe</caption>
            <tbody>
                <tr>
                    <th>{{ form_label(form.nazwaPelna) }}</th>
                    <td class="edycja">{{ form_widget(form.nazwaPelna) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.nazwaSkrocona) }}</th>
                    <td class="edycja">{{ form_widget(form.nazwaSkrocona) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.stronaWWW) }}</th>
                    <td class="edycja adres-www">{{ form_widget(form.stronaWWW) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.nip) }}</th>
                    <td class="edycja">{{ form_widget(form.nip) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.kodMax) }}</th>
                    <td class="edycja">{{ form_widget(form.kodMax) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.kanalDystrybucji) }}</th>
                    <td class="edycja">{{ form_widget(form.kanalDystrybucji) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.grupyKlientow) }}</th>
                    <td class="edycja">
                        <div class="checks-list">
                            <div>
                                {% for grupa in form.grupyKlientow %}
                                    {{ form_label(grupa) }} {{ form_widget(grupa) }}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <span class="required">Pola oznaczone * są wymagane.</span>

        {{ form_row(form._token) }}
        <ul class="record_actions">
            <li>
                <a href="{{ path('backend_klient') }}" class="art-button pomaranczowy">Powrót do listy</a>
            </li>
            <li>
                {{ form_row(form.submit) }}
            </li>
        </ul>
        {{ form_end(form, {'render_rest':false}) }}
        <ul class="record_actions">
            <li>
                {{ form_start(delete_form) }}
                    {{ form_row(delete_form.submit, {'attr' : {'class':'art-button czerwony'} }) }}
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $('#rodzaje-powierzchni').obslugaFormularzy();
    $('#procesy-przygotowania-powierzchni').obslugaFormularzy();
    $('#procesy-aplikacji').obslugaFormularzy();
    $('#wymagania-produktu').obslugaFormularzy();
    $('#procesy-utwardzania-powloki').obslugaFormularzy();
    $('#wymagania-powloki').obslugaFormularzy();
    tinymce.init({
        selector:'textarea',
        content_css: '/css/tinymce_content.css',
        plugins: 'paste,autosave,autoresize,table,image,fullscreen,charmap',
        toolbar: "styleselect | table | bold italic underline removeformat | justifyleft justifycenter justifyright justifyfull | bullist numlist | outdent indent | cut copy paste | charmap image | undo redo | restoredraft | fullscreen",
        toolbar_items_size : 'small',
        paste_as_text: true,
        paste_data_images: false,
        browser_spellcheck : true,
        font_formats: "Times New Roman=times new roman,times;",
        keep_styles: false,
        schema: "html5",
        visual: true,
        menubar : false,
        height : 300,
        autoresize_max_height: 500,
        table_default_border: 1,
        table_default_cellpadding: 3,
        table_default_cellspacing: 0,
        entity_encoding : "raw",
        language: 'pl',

        style_formats : [
                {title: 'Nagłówki', items: [
                {title: 'Nagłówek 1', block: 'h1'},
                {title: 'Nagłówek 2', block: 'h2'},
                {title: 'Nagłówek 3', block: 'h3'},
                {title: 'Nagłówek 4', block: 'h4'},
                {title: 'Nagłówek 5', block: 'h5'},
                {title: 'Nagłówek 6', block: 'h6'}
            ]},
                {title: 'Alignment', items: [
                {title: 'Left', block: 'div', styles : {textAlign : 'left'}, icon: 'alignleft'},
                {title: 'Center', block: 'div', styles : {textAlign : 'center'}, icon: 'aligncenter'},
                {title: 'Right', block: 'div', styles : {textAlign : 'right'}, icon: 'alignright'},
                {title: 'Justify', block: 'div', styles : {textAlign : 'justify'}, icon: 'alignjustify'}
            ]},
                {title: 'Table', items: [
                {title: 'Wzór 1', selector: 'table', classes: 'table1'}
            ]},
            {title: 'Pogrubiony', inline: 'b', icon: 'bold'},
            {title: 'Kursywa', inline: 'i', icon: 'italic'},
            {title: 'Podkre¶lenie', inline: 'span', styles : {textDecoration : 'underline'}, icon: 'underline'},
            {title: 'Indeks górny', inline: 'sup', icon: 'superscript'},
            {title: 'Indeks dolny', inline: 'sub', icon: 'subscript'},
            ],
    });
    $('#dfp_etapibundle_klient_filie_0_kodPocztowy').mask('00-000');

    $('.adres-www input').focusin(function() {
        var url = $(this).val();
        if(url == "")
        {
            $(this).val('http://');
        }
    })
{% endblock javascripts %}
