{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/main_2.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/layout_2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/custom-theme/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <style>
        table.records_list {
            font-size: 12px;
        }
        table.records_list tbody {
            background-color: #efefef;
        }
        table.records_list thead {
            background-color: #EB961D;
        }
        table.records_list thead a {
            color: #000000;
        }
        table.records_list tbody th, table.records_list tbody td {
            vertical-align: middle;
        }
        ul.record_actions {
            margin-bottom: 0;
        }
    </style>
    <section class="content-fluid">
        <h1>Lista klientów</h1>

        <div class="well">
            {{ knp_pagination_filter(lista_klientow, {'k.nazwaSkrocona': 'Nazwa klienta', 'k.kodMax': 'Kod MAX', 'k.nip': 'NIP'}) }}
        </div>

        <table class="table records_list table-bordered table-condensed table-striped">
            <thead>
            <tr>
                <th class="lp">Lp</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'Klient','k.nazwaSkrocona') }}</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'Kod MAX', 'k.kodMax') }}</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'NIP','k.nip') }}</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'Filie','f.miejscowosc') }}</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'Grupa klienta','gk.grupyKlientow.nazwaGrupy') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for klient in lista_klientow %}
                <tr>
                    <td class="lp"><a href="{{ path('klient_show', { 'id': klient.id }) }}">{{ lista_klientow.getPaginationData['firstItemNumber'] + loop.index - 1 }}</a></td>
                    <td title="Pełna nazwa: {{ klient.nazwaPelna }}">{{ klient.nazwaSkrocona }}</td>
                    <td>{{ klient.kodMax }}</td>
                    <td>{{ klient.nip|nip }}</td>
                    <td>
                        {% for filia in klient.filie %}
                            <span title="{{ filia.nazwaFilii }}">{{ filia.miejscowosc }}</span>
                            {{ loop.last == false ? " | " }}
                        {% endfor %}
                    </td>
                    <td>{{ klient.grupyKlientow|join(" | ") }}</td>
                    <td>
                        <ul class="record_actions">
                            <li>
                                <a href="{{ path('klient_show', { 'id': klient.id }) }}" class="btn btn-xs btn-primary">pokaż</a>
                            </li>
                            <li>
                                <a href="{{ path('klient_edit', { 'id': klient.id }) }}" class="btn btn-xs btn-warning">edytuj</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(lista_klientow) }}
        </div>
    </section>

{% endblock %}
