{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <section>
        <h1>Lista klientów</h1>

        <table class="records_list">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nazwapelna</th>
                <th>Nazwaskrocona</th>
                <th>Datazalozenia</th>
                <th>Nip</th>
                <th>Kodmax</th>
                <th>Kanaldystrybucji</th>
                <th>Aktywny</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('klient_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                    <td>{{ entity.nazwaPelna }}</td>
                    <td>{{ entity.nazwaSkrocona }}</td>
                    <td>{% if entity.dataZalozenia %}{{ entity.dataZalozenia|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.nip }}</td>
                    <td>{{ entity.kodMax }}</td>
                    <td>{{ entity.kanalDystrybucji }}</td>
                    <td>{{ entity.aktywny }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('klient_show', { 'id': entity.id }) }}">pokaż</a>
                            </li>
                            <li>
                                <a href="{{ path('klient_edit', { 'id': entity.id }) }}">edytuj</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('klient_new') }}">Dodaj nowego klienta</a>
            </li>
        </ul>
    </section>

{% endblock %}
