{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <section>
        <h1>Lista klientów</h1>

        <table class="records_list">
            <thead>
            <tr>
                <th class="lp">Lp</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'Przypisany do','u.username') }}</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'Klient','k.nazwaSkrocona') }}</th>
                <th>Nazwa filii</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'Miejscowosc','f.miejscowosc') }}</th>
                <th>Kod MAX</th>
                <th>Profil działalności</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for klient in lista_klientow %}
                {% for filia in klient.filie %}
                    <tr>
                        <td class="lp"><a href="{{ path('klient_show', { 'id': klient.id }) }}">{{ loop.parent.loop.index }}.{{ loop.index }}</a></td>
                        <td>{% for przypisani in filia.filieUzytkownicy %}<span title="Stanowisko: {{ przypisani.uzytkownik.profilUzytkownika is empty ? " - " :  przypisani.uzytkownik.profilUzytkownika.stanowisko }} | Koniec przypisania: {{ przypisani.koniecPrzypisania is empty ? " - " : przypisani.koniecPrzypisania|date("Y-m-d") }}">{{ przypisani.uzytkownik }}</span>{% endfor %}</td>
                        <td title="Pełna nazwa: {{ klient.nazwaPelna }}">{{ klient.nazwaSkrocona }}</td>
                        <td>{{ filia.nazwaFilii }}</td>
                        <td title="{{ filia.ulica }}&#10;{{ filia.kodPocztowy }}; {{ filia.miejscowosc }}&#10;{{ filia.wojewodztwo }}">{{ filia.miejscowosc }}</td>
                        <td>{{ klient.kodMax }}</td>
                        <td>{{ klient.profileDzialalnosci|join(" | ") }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('klient_show', { 'id': klient.id }) }}">pokaż</a>
                                </li>
                                <li>
                                    <a href="{{ path('klient_edit', { 'id': klient.id }) }}">edytuj</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('klient_new') }}">Dodaj nowego klienta</a>
            </li>
        </ul>
    </section>

{% endblock %}
