{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}

    <section>
        <h1>Lista klientów</h1>

        <div style="margin-bottom: 20px; height: auto; overflow: auto;">
            {{ knp_pagination_filter(lista_klientow, {'k.nazwaSkrocona': 'Nazwa klienta', 'k.kodMax': 'Kod MAX', 'k.nip': 'NIP'}) }}
        </div>

        <table class="records_list">
            <thead>
            <tr>
                <th class="lp">Lp</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'Klient','k.nazwaSkrocona') }}</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'Kod MAX', 'k.kodMax') }}</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'NIP','k.nip') }}</th>
                <th>{{ knp_pagination_sortable(lista_klientow, 'Ilość filii','f.id') }}</th>
                <th>{{ knp_pagination_sortable(lista_klientow,'Grupa klienta','gk.grupyKlientow.nazwaGrupy') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for klient in lista_klientow %}
                <tr>
                    <td class="lp"><a href="{{ path('klient_show', { 'id': klient.id }) }}">{{ lista_klientow.getPaginationData['firstItemNumber'] + loop.index - 1 }}</a></td>
                    <td title="Pełna nazwa: {{ klient.nazwaPelna }}">{{ klient.nazwaSkrocona }}</td>
                    <td>{{ klient.kodMax }}</td>
                    <td>{{ klient.nip|nip }}</td>
                    <td>{{ klient.filie|length }}</td>
                    <td>{{ klient.grupyKlientow|join(" | ") }}</td>
                    <td>
                        <ul class="record_actions">
                            <li>
                                <a href="{{ path('klient_show', { 'id': klient.id }) }}" class="art-button zielony maly">pokaż</a>
                            </li>
                            <li>
                                <a href="{{ path('klient_edit', { 'id': klient.id }) }}" class="art-button maly pomaranczowy">edytuj</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(lista_klientow) }}
        </div>
    </section>

{% endblock %}
