{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% form_theme form _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button zielony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="parametr-box">
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formularze.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    {% javascripts '@DFPEtapIBundle/Resources/public/js/dfp_obsluga_formularzy.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Formularz nowego klienta</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}

            <table class="record_properties">
                <caption>Informacje podstawowe</caption>
                <tbody>
                    <tr>
                        <th>Pełna nazwa:</th>
                        <td class="edycja">{{ form_widget(form.nazwaPelna) }}</td>
                    </tr>
                    <tr>
                        <th>Skrócona nazwa:</th>
                        <td class="edycja">{{ form_widget(form.nazwaSkrocona) }}</td>
                    </tr>
                    <tr>
                        <th>NIP:</th>
                        <td class="edycja">{{ form_widget(form.nip) }}</td>
                    </tr>
                    <tr>
                        <th>Kod MAX:</th>
                        <td class="edycja">{{ form_widget(form.kodMax) }}</td>
                    </tr>
                    <tr>
                        <th>Kanał dystrybucji:</th>
                        <td class="edycja">{{ form_widget(form.kanalDystrybucji) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.grupyKlientow) }}:</th>
                        <td class="edycja">
                            <div class="checks-list">
                                <div>
                                    {% for grupa in form.grupyKlientow %}
                                        {{ form_label(grupa) }} {{ form_widget(grupa) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            {% for filia in form.filie %}
                <table>
                    <caption>Główna filia:</caption>
                    <tbody>
                        <tr>
                            <th>{{ form_label(filia.wojewodztwo) }}:</th>
                            <td class="edycja">{{ form_widget(filia.wojewodztwo) }}</td>
                        </tr>
                        <tr>
                            <th>Kod Pocztowy / Miejscowość:</th>
                            <td class="edycja">{{ form_widget(filia.kodPocztowy, {'attr': {'style':'width: 6.1%;'} }) }}; {{ form_widget(filia.miejscowosc, {'attr': {'style':'width: 89.6%;'} }) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(filia.ulica) }}:</th>
                            <td class="edycja">{{ form_widget(filia.ulica) }}</td>
                        </tr>
                        <tr id="filie-pracownicy">
                            <th>{{ form_label(formularz.filiePracownicy) }}</th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(formularz.filiePracownicy.vars.prototype)|e }}">
                                    {% for pracownik in formularz.filiePracownicy %}
                                        <li class="parametr-container">{{ form_widget(pracownik) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Profile działalności: <sup title="podać rodzaje elementów lub produktów finalnych, które są malowane">?</sup></th>
                            <td class="edycja">
                                <div class="checks-list">
                                    <div>
                                        {% for profil in filia.profileDzialalnosci %}
                                            {{ form_label(profil) }} {{ form_widget(profil) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>Stosowany system malarski: <sup title="podać zestaw stosowany obecnie przez klienta tzn.: czy grunt+nawierzchnia czy tylko gruntoemalia//podać typ farby: alkid, poliuretan czy epoxyd//podać nazwy handlowe farb i producenta). Poziom dotychczasowych cen (może być bez podawania nazw produktów">?</sup></th>
                            <td class="edycja">{{ form_widget(filia.matlakDotychczas) }}</td>
                        </tr>
                        <tr>
                            <th>Wielkość zużycia: <sup title="podać w skali miesiąca jedną z danych: ilość w litrach lub kg, wartość zakupu farby, waga w tonach pomalowanej konstrukcji, ilość m2 pomalowanej powierzchni">?</sup></th>
                            <td class="edycja">{{ form_widget(filia.zuzycieMaterialow) }}</td>
                        </tr>
                        <tr>
                            <th>Kolorystyka: <sup title="podać numery kolorów stosowane przez klienta np. wg: RAL, NCS, Pantone lub inny standard//alternatywnie proszę określić czy jest to kolor: czerwony, niebieski, zielony, żółty">?</sup></th>
                            <td class="edycja">{{ form_widget(filia.kolorystyka) }}</td>
                        </tr>
                        <tr id="materialy-uzupelniajace">
                            <th>{{ form_label(formularz.filieMaterialyUzupelniajace) }}: <sup class="pomoc" title="podać tylko związane z tworzeniem powłoki lakierowej np. mat. ścierne, szpachle, odtłuszczacze, nitro, przemywacze itp.">?</sup></th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(formularz.filieMaterialyUzupelniajace.vars.prototype)|e }}">
                                    {% for material in formularz.filieMaterialyUzupelniajace %}
                                        <li class="parametr-container">{{ form_widget(material) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form_label(filia.adnotacja) }}: <sup title="podać tylko związane z tworzeniem powłoki lakierowej np. mat. ścierne, szpachle, odtłuszczacze, nitro, przemywacze itp.">?</sup></th>
                            <td class="edycja">{{ form_widget(filia.adnotacja) }}</td>
                        </tr>
                        <tr id="rodzaje-powierzchni">
                            <th>{{ form_label(formularz.filieRodzajePowierzchni) }}:</th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(formularz.filieRodzajePowierzchni.vars.prototype)|e }}">
                                    {% for rodzaj in formularz.filieRodzajePowierzchni %}
                                        <li class="parametr-container">{{ form_widget(rodzaj) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr id="procesy-przygotowania-powierzchni">
                            <th>{{ form_label(formularz.filieProcesyPrzygotowaniaPowierzchni) }}: <sup class="pomoc" title="W przypadku używania materiałów ściernych podać łączne zużycie miesięczne: krążków, ściernic itd. pomocne będą zdjęcia stosowanych materiałów ściernych">?</sup></th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(formularz.filieProcesyPrzygotowaniaPowierzchni.vars.prototype)|e }}">
                                    {% for proces in formularz.filieProcesyPrzygotowaniaPowierzchni %}
                                        <li class="parametr-container">{{ form_widget(proces) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr id="procesy-aplikacji">
                            <th>{{ form_label(formularz.filieProcesyAplikacji) }}:</th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(formularz.filieProcesyAplikacji.vars.prototype)|e }}">
                                    {% for procesAplikacji in formularz.filieProcesyAplikacji %}
                                        <li class="parametr-container">{{ form_widget(procesAplikacji) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr id="procesy-utwardzania-powloki">
                            <th>{{ form_label(formularz.filieProcesyUtwardzaniaPowloki) }}:</th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(formularz.filieProcesyUtwardzaniaPowloki.vars.prototype)|e }}">
                                    {% for proces in formularz.filieProcesyUtwardzaniaPowloki %}
                                        <li class="parametr-container">{{ form_widget(proces) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr id="wymagania-powloki">
                            <th>{{ form_label(formularz.filieWymaganiaPowloki) }}: <sup class="pomoc" title="parametry jakie musi spełniać">?</sup></th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(formularz.filieWymaganiaPowloki.vars.prototype)|e }}">
                                    {% for wymaganie in formularz.filieWymaganiaPowloki %}
                                        <li class="parametr-container">{{ form_widget(wymaganie) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr id="wymagania-produktu">
                            <th>{{ form_label(formularz.filieWymaganiaProduktu) }}: <sup class="pomoc" title="alternatywnie można pozyskać karty techniczne produktów">?</sup></th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(formularz.filieWymaganiaProduktu.vars.prototype)|e }}">
                                    {% for wymaganie in formularz.filieWymaganiaProduktu %}
                                        <li class="parametr-container">{{ form_widget(wymaganie) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
            {{ form_row(form._token) }}
            <ul class="record_actions">
                <li>
                    <a href="{{ path('backend_klient') }}" class="art-button pomaranczowy">Powrót do listy</a>
                </li>
                <li>
                    {{ form_row(form.submit) }}
                </li>
            </ul>
        {{ form_end(form, {'render_rest':false}) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#  Obgługa formularzy  #}
    $('#filie-pracownicy').obslugaFormularzy();
    $('#materialy-uzupelniajace').obslugaFormularzy();
    $('#rodzaje-powierzchni').obslugaFormularzy();
    $('#procesy-przygotowania-powierzchni').obslugaFormularzy();
    $('#procesy-aplikacji').obslugaFormularzy();
    $('#wymagania-produktu').obslugaFormularzy();
    $('#procesy-utwardzania-powloki').obslugaFormularzy();
    $('#wymagania-powloki').obslugaFormularzy();

    tinymce.init({
    selector:'textarea',
    content_css: '/css/tinymce_content.css',
    plugins: 'paste,autosave,autoresize,table,image,fullscreen,charmap',
    toolbar: "styleselect | table | bold italic underline removeformat | justifyleft justifycenter justifyright justifyfull | bullist numlist | outdent indent | cut copy paste | charmap image | undo redo | restoredraft | fullscreen",
    toolbar_items_size : 'small',
    paste_as_text: true,
    paste_data_images: false,
    browser_spellcheck : true,
    font_formats: "Times New Roman=times new roman,times;",
    keep_styles: false,
    schema: "html5",
    visual: true,
    menubar : false,
    height : 300,
    autoresize_max_height: 500,
    table_default_border: 1,
    table_default_cellpadding: 3,
    table_default_cellspacing: 0,
    entity_encoding : "raw",
    language: 'pl',

    style_formats : [
        {title: 'Nagłówki', items: [
            {title: 'Nagłówek 1', block: 'h1'},
            {title: 'Nagłówek 2', block: 'h2'},
            {title: 'Nagłówek 3', block: 'h3'},
            {title: 'Nagłówek 4', block: 'h4'},
            {title: 'Nagłówek 5', block: 'h5'},
            {title: 'Nagłówek 6', block: 'h6'}
        ]},
            {title: 'Alignment', items: [
            {title: 'Left', block: 'div', styles : {textAlign : 'left'}, icon: 'alignleft'},
            {title: 'Center', block: 'div', styles : {textAlign : 'center'}, icon: 'aligncenter'},
            {title: 'Right', block: 'div', styles : {textAlign : 'right'}, icon: 'alignright'},
            {title: 'Justify', block: 'div', styles : {textAlign : 'justify'}, icon: 'alignjustify'}
        ]},
            {title: 'Table', items: [
            {title: 'Wzór 1', selector: 'table', classes: 'table1'}
        ]},
        {title: 'Pogrubiony', inline: 'b', icon: 'bold'},
        {title: 'Kursywa', inline: 'i', icon: 'italic'},
        {title: 'Podkre¶lenie', inline: 'span', styles : {textDecoration : 'underline'}, icon: 'underline'},
        {title: 'Indeks górny', inline: 'sup', icon: 'superscript'},
        {title: 'Indeks dolny', inline: 'sub', icon: 'subscript'},
        ],
    });
    $('#dfp_etapibundle_klient_filie_0_kodPocztowy').mask('00-000');

{% endblock javascripts %}