{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% form_theme form _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button zielony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="parametr-box">
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formularze.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/qTip.css') }}" rel="stylesheet"/>
    <link href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
    {% javascripts '@DFPEtapIBundle/Resources/public/js/dfp_obsluga_formularzy.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
{% endblock javascript %}

{% block content -%}
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #panel {
            background-color: #fff;
            border: 1px solid #999;
            left: 35%;
            padding: 5px;
            position: relative;
            top: 75px;
            width: 330px;
            z-index: 1;
        }

        #panel, .panel {
            line-height: 30px;
            padding-left: 10px;
        }

        #panel select, #panel input, .panel select, .panel input {
            font-size: 15px;
            width: auto;
            background-color: #ffffff;
        }
        #panel input {
            height: 22px;
        }

        #panel select, .panel select {
            width: 100%;
        }

        #panel i, .panel i {
            font-size: 12px;
        }

    </style>

    <section>
        <h1>Formularz nowego klienta</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}

            <table class="record_properties">
                <caption>Informacje podstawowe</caption>
                <tbody>
                    <tr>
                        <th>{{ form_label(form.nazwaPelna) }}</th>
                        <td class="edycja">{{ form_widget(form.nazwaPelna) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.nazwaSkrocona) }}</th>
                        <td class="edycja">{{ form_widget(form.nazwaSkrocona) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.stronaWWW) }}</th>
                        <td class="edycja adres-www">{{ form_widget(form.stronaWWW) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.nip) }}</th>
                        <td class="edycja">{{ form_widget(form.nip, { 'attr' : { 'class' : 'input-nip', 'autocomplete' : 'off' }  }) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.kodMax) }}</th>
                        <td class="edycja">{{ form_widget(form.kodMax) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.kanalDystrybucji) }}</th>
                        <td class="edycja">{{ form_widget(form.kanalDystrybucji) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.grupyKlientow) }}</th>
                        <td class="edycja">
                            <div class="checks-list">
                                <div>
                                    {% for grupa in form.grupyKlientow %}
                                        {{ form_label(grupa) }} {{ form_widget(grupa) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span class="required">Pola oznaczone * są wymagane.</span>

            {% for filia in form.filie %}
                <table class="record_properties">
                    <caption>Główna filia:</caption>
                    <tbody>
                        <tr>
                            <th>{{ form_label(filia.wojewodztwo) }}</th>
                            <td class="edycja">{{ form_widget(filia.wojewodztwo) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(filia.kodPocztowy) }} / {{ form_label(filia.miejscowosc) }}</th>
                            <td class="edycja">{{ form_widget(filia.kodPocztowy) }}; {{ form_widget(filia.miejscowosc, {'attr': {'style':'width: 87%;'} }) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(filia.ulica) }}</th>
                            <td class="edycja">{{ form_widget(filia.ulica) }}</td>
                        </tr>
                        <tr id="filie-pracownicy">
                            <th>{{ form_label(filia.filiePracownicy) }}</th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(filia.filiePracownicy.vars.prototype)|e }}">
                                    {% for pracownik in filia.filiePracownicy %}
                                        <li class="parametr-container">{{ form_widget(pracownik) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form_label(filia.profileDzialalnosci) }} <sup class="pomoc" title="podać rodzaje elementów lub produktów finalnych, które są malowane">?</sup></th>
                            <td class="edycja">
                                <div class="checks-list">
                                    <div>
                                        {% for profil in filia.profileDzialalnosci %}
                                            {{ form_label(profil,null,{'label_attr' : {'title': profile_dzialalnosci[profil.vars.value]} }) }} {{ form_widget(profil) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form_label(filia.matlakDotychczas) }} <sup class="pomoc" title="podać zestaw stosowany obecnie przez klienta tzn.: czy grunt+nawierzchnia czy tylko gruntoemalia//podać typ farby: alkid, poliuretan czy epoxyd//podać nazwy handlowe farb i producenta). Poziom dotychczasowych cen (może być bez podawania nazw produktów">?</sup></th>
                            <td class="edycja">{{ form_widget(filia.matlakDotychczas) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(filia.zuzycieMaterialow) }} <sup class="pomoc" title="podać w skali miesiąca jedną z danych: ilość w litrach lub kg, wartość zakupu farby, waga w tonach pomalowanej konstrukcji, ilość m2 pomalowanej powierzchni">?</sup></th>
                            <td class="edycja">{{ form_widget(filia.zuzycieMaterialow) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(filia.kolorystyka) }} <sup class="pomoc" title="podać numery kolorów stosowane przez klienta np. wg: RAL, NCS, Pantone lub inny standard//alternatywnie proszę określić czy jest to kolor: czerwony, niebieski, zielony, żółty">?</sup></th>
                            <td class="edycja">{{ form_widget(filia.kolorystyka) }}</td>
                        </tr>
                        <tr id="materialy-uzupelniajace">
                            <th>{{ form_label(filia.filieMaterialyUzupelniajace) }} <sup class="pomoc" title="podać tylko związane z tworzeniem powłoki lakierowej np. mat. ścierne, szpachle, odtłuszczacze, nitro, przemywacze itp.">?</sup></th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(filia.filieMaterialyUzupelniajace.vars.prototype)|e }}">
                                    {% for material in filia.filieMaterialyUzupelniajace %}
                                        <li class="parametr-container">{{ form_widget(material) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form_label(filia.krdInformacje) }}</th>
                            <td class="edycja">{{ form_widget(filia.krdInformacje) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(filia.adnotacja) }}</th>
                            <td class="edycja">{{ form_widget(filia.adnotacja) }}</td>
                        </tr>
                    </tbody>
                </table>
                <span class="required">Pola oznaczone * są wymagane.</span>

                <table>
                    <caption>Informacje o procesie wykonywania powłoki lakierowej, parametry techniczne</caption>
                    <tbody>
                        <tr id="rodzaje-powierzchni">
                            <th>{{ form_label(filia.filieRodzajePowierzchni) }}</th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(filia.filieRodzajePowierzchni.vars.prototype)|e }}">
                                    {% for rodzaj in filia.filieRodzajePowierzchni %}
                                        <li class="parametr-container">{{ form_widget(rodzaj) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr id="procesy-przygotowania-powierzchni">
                            <th>{{ form_label(filia.filieProcesyPrzygotowaniaPowierzchni) }} <sup class="pomoc" title="W przypadku używania materiałów ściernych podać łączne zużycie miesięczne: krążków, ściernic itd. pomocne będą zdjęcia stosowanych materiałów ściernych">?</sup></th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(filia.filieProcesyPrzygotowaniaPowierzchni.vars.prototype)|e }}">
                                    {% for proces in filia.filieProcesyPrzygotowaniaPowierzchni %}
                                        <li class="parametr-container">{{ form_widget(proces) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr id="procesy-aplikacji">
                            <th>{{ form_label(filia.filieProcesyAplikacji) }}</th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(filia.filieProcesyAplikacji.vars.prototype)|e }}">
                                    {% for procesAplikacji in filia.filieProcesyAplikacji %}
                                        <li class="parametr-container">{{ form_widget(procesAplikacji) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr id="procesy-utwardzania-powloki">
                            <th>{{ form_label(filia.filieProcesyUtwardzaniaPowloki) }}</th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(filia.filieProcesyUtwardzaniaPowloki.vars.prototype)|e }}">
                                    {% for proces in filia.filieProcesyUtwardzaniaPowloki %}
                                        <li class="parametr-container">{{ form_widget(proces) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr id="wymagania-powloki">
                            <th>{{ form_label(filia.filieWymaganiaPowloki) }} <sup class="pomoc" title="parametry jakie musi spełniać">?</sup></th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(filia.filieWymaganiaPowloki.vars.prototype)|e }}">
                                    {% for wymaganie in filia.filieWymaganiaPowloki %}
                                        <li class="parametr-container">{{ form_widget(wymaganie) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr id="wymagania-produktu">
                            <th>{{ form_label(filia.filieWymaganiaProduktu) }} <sup class="pomoc" title="alternatywnie można pozyskać karty techniczne produktów">?</sup></th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(filia.filieWymaganiaProduktu.vars.prototype)|e }}">
                                    {% for wymaganie in filia.filieWymaganiaProduktu %}
                                        <li class="parametr-container">{{ form_widget(wymaganie) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="required">Pola oznaczone * są wymagane.</span>

                <div id="panel">
                    <input id="address" type="text" value="" placeholder="Wprowadź adres">
                    <input type="button" value="Geocode" onclick="javascript: codeAddress();">
                </div>
                <div id="map-canvas" style="width: 100%; height: 400px;"></div>

                {{ form_row(filia.lat) }}
                {{ form_row(filia.lng) }}

                <hr>

            {% endfor %}
            {{ form_row(form._token) }}
            <ul class="record_actions">
                <li>
                    <a href="{{ path('backend_klient') }}" class="art-button pomaranczowy">Powrót do listy</a>
                </li>
                <li>
                    {{ form_row(form.submit) }}
                </li>
            </ul>
        {{ form_end(form, {'render_rest':false}) }}
    </section>

    <script>
        var geocoder;
        var map;
        var filiaLat = $('#dfp_etapibundle_klient_filie_0_lat');
        var filiaLng = $('#dfp_etapibundle_klient_filie_0_lng');
        var marker;

        $(document).ready(function(){
            function initialize() {
                geocoder = new google.maps.Geocoder();
                var latlng = new google.maps.LatLng(52.229,21.012);
                var mapOptions = {
                    zoom: 6,
                    center: latlng
                }
                map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
        });

        function codeAddress() {
            var address = document.getElementById('address').value;
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if(marker){
                        marker.setMap(null);
                    }
                    map.setCenter(results[0].geometry.location);
                    marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    filiaLat.val(results[0].geometry.location.lat());
                    filiaLng.val(results[0].geometry.location.lng());
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#  Obgługa formularzy  #}
    $('#filie-pracownicy').obslugaFormularzy();
    $('#materialy-uzupelniajace').obslugaFormularzy();
    $('#rodzaje-powierzchni').obslugaFormularzy();
    $('#procesy-przygotowania-powierzchni').obslugaFormularzy();
    $('#procesy-aplikacji').obslugaFormularzy();
    $('#wymagania-produktu').obslugaFormularzy();
    $('#procesy-utwardzania-powloki').obslugaFormularzy();
    $('#wymagania-powloki').obslugaFormularzy();

    tinymce.init({
    selector:'textarea',
    content_css: '/css/tinymce_content.css',
    plugins: 'paste,autosave,autoresize,table,image,fullscreen,charmap',
    toolbar: "styleselect | table | bold italic underline removeformat | justifyleft justifycenter justifyright justifyfull | bullist numlist | outdent indent | cut copy paste | charmap image | undo redo | restoredraft | fullscreen",
    toolbar_items_size : 'small',
    paste_as_text: true,
    paste_data_images: false,
    browser_spellcheck : true,
    font_formats: "Times New Roman=times new roman,times;",
    keep_styles: false,
    schema: "html5",
    visual: true,
    menubar : false,
    height : 300,
    autoresize_max_height: 500,
    table_default_border: 1,
    table_default_cellpadding: 3,
    table_default_cellspacing: 0,
    entity_encoding : "raw",
    language: 'pl',
    statusbar: false,

    style_formats : [
        {title: 'Nagłówki', items: [
            {title: 'Nagłówek 1', block: 'h1'},
            {title: 'Nagłówek 2', block: 'h2'},
            {title: 'Nagłówek 3', block: 'h3'},
            {title: 'Nagłówek 4', block: 'h4'},
            {title: 'Nagłówek 5', block: 'h5'},
            {title: 'Nagłówek 6', block: 'h6'}
        ]},
        {title: 'Alignment', items: [
            {title: 'Left', icon: 'alignleft', format: "alignleft"},
            {title: 'Center', icon: 'aligncenter', format: "aligncenter"},
            {title: 'Right', icon: 'alignright', format: "alignright"},
            {title: 'Justify', icon: 'alignjustify', format: "alignjustify"}
        ]},
        {title: 'Table', items: [
            {title: 'Wzór 1', selector: 'table', classes: 'table1'}
        ]},
        {title: 'Pogrubiony', inline: 'b', icon: 'bold'},
        {title: 'Kursywa', inline: 'i', icon: 'italic'},
        {title: 'Podkre¶lenie', inline: 'span', styles : {textDecoration : 'underline'}, icon: 'underline'},
        {title: 'Indeks górny', inline: 'sup', icon: 'superscript'},
        {title: 'Indeks dolny', inline: 'sub', icon: 'subscript'},
        ],
    });

    {#  Input Mask  #}
    $('.record_properties').on('focusin','.kod-pocztowy', function() {
        $(this).mask('00-000', { maxlength : false });
    });
    $('#procesy-utwardzania-powloki').on('focus', '.input-temp', function(event) {
        $(this).mask('###000 \u00B0C', {reverse: true, maxlength : false});
    });
    $('#procesy-utwardzania-powloki').on('focus', '.input-czas', function(event) {
        $(this).mask('###000 minut', {reverse: true, maxlength : false});
    });
    $('.record_properties').on('focus','.tel-stacjonarny', function(event) {
        $(this).mask('(900) 000-00-00', {reverse: false, maxlength : false});
    })
    $('.record_properties').on('focus','.tel-komorkowy', function(event) {
        $(this).mask('0-000-000-000', {reverse: false, maxlength : false});
    })

    $('.record_properties').on('focus','.input-nip', function(event) {
        $(this).mask('000-00-00-000', {reverse: false, maxlength : false});
    })

    $('.adres-www input').focusin(function() {
        var url = $(this).val();
        if(url == "")
        {
            $(this).val('http://');
        }
    })

    {#  qTip  #}
    $('.pomoc').qTipHelper();
    $('.record_properties [title!=""]').qtip({style: {widget:true}, position: { my: 'bottom left', at: 'top left', adjust: { x:30 } } });
    $('#procesy-aplikacji').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_metoda_aplikacji_opis') }}'});
    $('#rodzaje-powierzchni').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_rodzaj_powierzchni_opis') }}'});
    $('#procesy-przygotowania-powierzchni').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_proces_przygotowania_powierzchni_opis') }}'});
    $('#procesy-utwardzania-powloki').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_parametr_utwardzania_powloki_opis') }}'});
    $('#wymagania-powloki').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_wymagania_powloki_opis') }}'});
    $('#wymagania-produktu').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_wymagania_produktu_opis') }}'});

    $('.input-nip').change(function(){
        $.ajax({
            url: '{{ path('backend_sprawdz_czy_jest_juz_nip') }}',
            type: 'GET',
            data: {
                nip: $(this).val()
            }
        })
        .then(function(response)
        {
            if(response.nip == true)
            {
                alert("W bazie danych jest już klient o podanym przez Ciebie NIP'ie.\nWysłanie tego formularza spowoduje założenie filii/oddziału klienta. ");
            }
        },function(xhr, status, error){
            alert(status + ': ' + error)
        })
    })

{% endblock javascripts %}