{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% form_theme delete_form _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button czerwony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block content -%}
    <section>
        <h1>Karta klienta: {{ entity.nazwaSkrocona }}</h1>

        <table class="karta-klienta">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Pełna nazwa klienta</th>
                    <td>{{ entity.nazwaPelna }}</td>
                </tr>
                <tr>
                    <th>Skrócona nazwa klienta</th>
                    <td>{{ entity.nazwaSkrocona }}</td>
                </tr>
                <tr>
                    <th>Adres strony WWW:</th>
                    <td>
                        {% if entity.stronaWWW %}
                            <a class="link" href="{{ entity.stronaWWW }}" target="_blank">{{ entity.stronaWWW }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Profil działalności</th>
                    <td>
                        {% for filia in entity.filie %}
                            {{ filia.profileDzialalnosci|join(" | ") }}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Data założenia karty</th>
                    <td>{{ entity.dataZalozenia|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>NIP</th>
                    <td>{{ entity.nip|nip }}</td>
                </tr>
                <tr>
                    <th>Kod MAXx</th>
                    <td>{{ entity.kodMax }}</td>
                </tr>
                <tr>
                    <th>Kanał Dystrybucji</th>
                    <td>{{ entity.kanalDystrybucji }}</td>
                </tr>
                <tr>
                    <th>Aktywny</th>
                    <td>{{ entity.aktywny }}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <ul class="record_actions">
        <li>
            <a href="{{ path('backend_klient') }}" class="art-button">
                Powrót do listy
            </a>
        </li>
        <li>
            <a href="{{ path('klient_edit', { 'id': entity.id }) }}" class="art-button">
                Edytuj
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
