{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <h1>Klient</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nazwapelna</th>
                <td>{{ entity.nazwaPelna }}</td>
            </tr>
            <tr>
                <th>Nazwaskrocona</th>
                <td>{{ entity.nazwaSkrocona }}</td>
            </tr>
            <tr>
                <th>Datazalozenia</th>
                <td>{{ entity.dataZalozenia|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nip</th>
                <td>{{ entity.nip }}</td>
            </tr>
            <tr>
                <th>Kodmax</th>
                <td>{{ entity.kodMax }}</td>
            </tr>
            <tr>
                <th>Kanaldystrybucji</th>
                <td>{{ entity.kanalDystrybucji }}</td>
            </tr>
            <tr>
                <th>Aktywny</th>
                <td>{{ entity.aktywny }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('backend_klient') }}">
            Powrót do listy
        </a>
    </li>
    <li>
        <a href="{{ path('klient_edit', { 'id': entity.id }) }}">
            Edytuj
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
