{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% form_theme formularz _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button zielony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="parametr-box">
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formularze.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/qTip.css') }}" rel="stylesheet"/>
    <link href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
    {% javascripts '@DFPEtapIBundle/Resources/public/js/dfp_obsluga_formularzy.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Filia - edycja</h1>
        {{ form_start(formularz) }}
        {{ form_errors(formularz) }}
            <table class="record_properties">
                <caption>Informacje podstawowe</caption>
                <tbody>
                <tr>
                    <th>Filia klienta:</th>
                    <td><p>{{ filia.klient.nazwaPelna }}</p></td>
                </tr>
                <tr>
                    <th>Nazwa filii:</th>
                    <td><p>{{ filia.nazwaFilii }}</p></td>
                </tr>
                <tr>
                    <th>{{ form_label(formularz.wojewodztwo) }}</th>
                    <td class="edycja">{{ form_widget(formularz.wojewodztwo) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(formularz.kodPocztowy) }} / {{ form_label(formularz.miejscowosc) }}</th>
                    <td class="edycja">{{ form_widget(formularz.kodPocztowy) }}; {{ form_widget(formularz.miejscowosc) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(formularz.ulica) }}</th>
                    <td class="edycja">{{ form_widget(formularz.ulica) }}</td>
                </tr>
                <tr id="filie-pracownicy">
                    <th>{{ form_label(formularz.filiePracownicy) }}</th>
                    <td class="edycja filia-parametry-tech">
                        <ul data-prototype="{{ form_widget(formularz.filiePracownicy.vars.prototype)|e }}">
                            {% for pracownik in formularz.filiePracownicy %}
                                <li class="parametr-container">{{ form_widget(pracownik) }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Profile działalności: <sup class="pomoc" title="podać rodzaje elementów lub produktów finalnych, które są malowane">?</sup></th>
                    <td class="edycja">
                        <div class="checks-list">
                            <div>
                                {% for profil in formularz.profileDzialalnosci %}
                                    {{ form_label(profil,null,{'label_attr' : {'title': profile_dzialalnosci[profil.vars.value] } }) }} {{ form_widget(profil) }}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Stosowany system malarski: <sup class="pomoc" title="podać zestaw stosowany obecnie przez klienta tzn.: czy grunt+nawierzchnia czy tylko gruntoemalia//podać typ farby: alkid, poliuretan czy epoxyd//podać nazwy handlowe farb i producenta). Poziom dotychczasowych cen (może być bez podawania nazw produktów">?</sup></th>
                    <td class="edycja">{{ form_widget(formularz.matlakDotychczas) }}</td>
                </tr>
                <tr>
                    <th>Wielkość zużycia: <sup class="pomoc" title="podać w skali miesiąca jedną z danych: ilość w litrach lub kg, wartość zakupu farby, waga w tonach pomalowanej konstrukcji, ilość m2 pomalowanej powierzchni">?</sup></th>
                    <td class="edycja">{{ form_widget(formularz.zuzycieMaterialow) }}</td>
                </tr>
                <tr>
                    <th>Kolorystyka: <sup class="pomoc" title="podać numery kolorów stosowane przez klienta np. wg: RAL, NCS, Pantone lub inny standard//alternatywnie proszę określić czy jest to kolor: czerwony, niebieski, zielony, żółty">?</sup></th>
                    <td class="edycja">{{ form_widget(formularz.kolorystyka) }}</td>
                </tr>
                <tr id="materialy-uzupelniajace">
                    <th>{{ form_label(formularz.filieMaterialyUzupelniajace) }} <sup class="pomoc" title="podać tylko związane z tworzeniem powłoki lakierowej np. mat. ścierne, szpachle, odtłuszczacze, nitro, przemywacze itp.">?</sup></th>
                    <td class="edycja filia-parametry-tech">
                        <ul data-prototype="{{ form_widget(formularz.filieMaterialyUzupelniajace.vars.prototype)|e }}">
                            {% for material in formularz.filieMaterialyUzupelniajace %}
                                <li class="parametr-container">{{ form_widget(material) }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>{{ form_label(formularz.adnotacja) }}</th>
                    <td class="edycja">{{ form_widget(formularz.adnotacja) }}</td>
                </tr>
                </tbody>
            </table>
            <span class="required">Pola oznaczone * są wymagane.</span>

            <table>
                <caption>Informacje o procesie wykonywania powłoki lakierowej, parametry techniczne</caption>
                <tbody>
                    <tr id="rodzaje-powierzchni">
                        <th>{{ form_label(formularz.filieRodzajePowierzchni) }}</th>
                        <td class="edycja filia-parametry-tech">
                            <ul data-prototype="{{ form_widget(formularz.filieRodzajePowierzchni.vars.prototype)|e }}">
                                {% for rodzaj in formularz.filieRodzajePowierzchni %}
                                    <li class="parametr-container">{{ form_widget(rodzaj) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr id="procesy-przygotowania-powierzchni">
                        <th>{{ form_label(formularz.filieProcesyPrzygotowaniaPowierzchni) }} <sup class="pomoc" title="W przypadku używania materiałów ściernych podać łączne zużycie miesięczne: krążków, ściernic itd. pomocne będą zdjęcia stosowanych materiałów ściernych">?</sup></th>
                        <td class="edycja filia-parametry-tech">
                            <ul data-prototype="{{ form_widget(formularz.filieProcesyPrzygotowaniaPowierzchni.vars.prototype)|e }}">
                                {% for proces in formularz.filieProcesyPrzygotowaniaPowierzchni %}
                                    <li class="parametr-container">{{ form_widget(proces) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr id="procesy-aplikacji">
                        <th>{{ form_label(formularz.filieProcesyAplikacji) }}</th>
                        <td class="edycja filia-parametry-tech">
                            <ul data-prototype="{{ form_widget(formularz.filieProcesyAplikacji.vars.prototype)|e }}">
                                {% for procesAplikacji in formularz.filieProcesyAplikacji %}
                                    <li class="parametr-container">{{ form_widget(procesAplikacji) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr id="procesy-utwardzania-powloki">
                        <th>{{ form_label(formularz.filieProcesyUtwardzaniaPowloki) }}</th>
                        <td class="edycja filia-parametry-tech">
                            <ul data-prototype="{{ form_widget(formularz.filieProcesyUtwardzaniaPowloki.vars.prototype)|e }}">
                                {% for proces in formularz.filieProcesyUtwardzaniaPowloki %}
                                    <li class="parametr-container">{{ form_widget(proces) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr id="wymagania-powloki">
                        <th>{{ form_label(formularz.filieWymaganiaPowloki) }} <sup class="pomoc" title="parametry jakie musi spełniać">?</sup></th>
                        <td class="edycja filia-parametry-tech">
                            <ul data-prototype="{{ form_widget(formularz.filieWymaganiaPowloki.vars.prototype)|e }}">
                                {% for wymaganie in formularz.filieWymaganiaPowloki %}
                                    <li class="parametr-container">{{ form_widget(wymaganie) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr id="wymagania-produktu">
                        <th>{{ form_label(formularz.filieWymaganiaProduktu) }} <sup class="pomoc" title="alternatywnie można pozyskać karty techniczne produktów">?</sup></th>
                        <td class="edycja filia-parametry-tech">
                            <ul data-prototype="{{ form_widget(formularz.filieWymaganiaProduktu.vars.prototype)|e }}">
                                {% for wymaganie in formularz.filieWymaganiaProduktu %}
                                    <li class="parametr-container">{{ form_widget(wymaganie) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span class="required">Pola oznaczone * są wymagane.</span>

            {{ form_row(formularz._token) }}
            <ul class="record_actions">
                <li>
                    <a href="{{ path('frontend_pokaz_filie_klienta', {'id': filia.id } ) }}" class="art-button czerwony">
                        Anuluj
                    </a>
                </li>
                <li>
                    {{ form_row(formularz.submit) }}
                </li>
            </ul>

        {{ form_end(formularz, {'render_rest':false}) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#  Obgługa formularzy  #}
    $('#filie-pracownicy').obslugaFormularzy();
    $('#materialy-uzupelniajace').obslugaFormularzy();
    $('#rodzaje-powierzchni').obslugaFormularzy();
    $('#procesy-przygotowania-powierzchni').obslugaFormularzy();
    $('#procesy-aplikacji').obslugaFormularzy();
    $('#wymagania-produktu').obslugaFormularzy();
    $('#procesy-utwardzania-powloki').obslugaFormularzy();
    $('#wymagania-powloki').obslugaFormularzy();

    {#  tinyMCE  #}
    tinymce.init({
        selector:'textarea',
        content_css: '/css/tinymce_content.css',
        plugins: 'paste,autosave,autoresize,table,image,fullscreen,charmap',
        toolbar: "styleselect | table | bold italic underline removeformat | justifyleft justifycenter justifyright justifyfull | bullist numlist | outdent indent | cut copy paste | charmap image | undo redo | restoredraft | fullscreen",
        toolbar_items_size : 'small',
        paste_as_text: true,
        paste_data_images: false,
        browser_spellcheck : true,
        font_formats: "Times New Roman=times new roman,times;",
        keep_styles: false,
        schema: "html5",
        visual: true,
        menubar : false,
        height : 300,
        autoresize_max_height: 500,
        table_default_border: 1,
        table_default_cellpadding: 3,
        table_default_cellspacing: 0,
        entity_encoding : "raw",
        language: 'pl',
        statusbar: false,
        toolbar: false,

        style_formats : [
            {title: 'Nagłówki', items: [
                {title: 'Nagłówek 1', block: 'h1'},
                {title: 'Nagłówek 2', block: 'h2'},
                {title: 'Nagłówek 3', block: 'h3'},
                {title: 'Nagłówek 4', block: 'h4'},
                {title: 'Nagłówek 5', block: 'h5'},
                {title: 'Nagłówek 6', block: 'h6'}
            ]},
            {title: 'Alignment', items: [
                {title: 'Left', icon: 'alignleft', format: "alignleft"},
                {title: 'Center', icon: 'aligncenter', format: "aligncenter"},
                {title: 'Right', icon: 'alignright', format: "alignright"},
                {title: 'Justify', icon: 'alignjustify', format: "alignjustify"}
            ]},
            {title: 'Table', items: [
                {title: 'Wzór 1', selector: 'table', classes: 'table1'}
            ]},
            {title: 'Pogrubiony', inline: 'b', icon: 'bold'},
            {title: 'Kursywa', inline: 'i', icon: 'italic'},
            {title: 'Podkreślenie', inline: 'span', styles : {textDecoration : 'underline'}, icon: 'underline'},
            {title: 'Indeks górny', inline: 'sup', icon: 'superscript'},
            {title: 'Indeks dolny', inline: 'sub', icon: 'subscript'},
        ],
    });

    {#  Input Mask  #}
    $('.record_properties').on('focusin','.kod-pocztowy', function() {
        $(this).mask('00-000');
    });
    $('#procesy-utwardzania-powloki').on('focus', '.input-temp', function(event) {
        $(this).mask('###000 \u00B0C', {reverse: true});
    });
    $('#procesy-utwardzania-powloki').on('focus', '.input-czas', function(event) {
        $(this).mask('###000 minut', {reverse: true});
    });
    $('.record_properties').on('focus','.tel-stacjonarny', function(event) {
        $(this).mask('(900) 000-00-00', {reverse: false});
    })
    $('.record_properties').on('focus','.tel-komorkowy', function(event) {
        $(this).mask('0-000-000-000', {reverse: false});
    })

    {#  qTip  #}
    $('.pomoc').qTipHelper();
    $('.record_properties [title!=""]').qtip({style: {widget:true}, position: { my: 'bottom left', at: 'top left', adjust: { x:30 } } });
    $('#procesy-aplikacji').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_metoda_aplikacji_opis') }}'});
    $('#rodzaje-powierzchni').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_rodzaj_powierzchni_opis') }}'});
    $('#procesy-przygotowania-powierzchni').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_proces_przygotowania_powierzchni_opis') }}'});
    $('#procesy-utwardzania-powloki').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_parametr_utwardzania_powloki_opis') }}'});
    $('#wymagania-powloki').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_wymagania_powloki_opis') }}'});
    $('#wymagania-produktu').qTipHelper({ajax:true, przypisz_do:'filia-parametry-tech', url: '{{ path('frontend_filia_edytuj_ajax_wymagania_produktu_opis') }}'});

{% endblock javascripts %}