{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formularze.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>
    {% javascripts '@DFPEtapIBundle/Resources/public/js/dfp_obsluga_formularzy.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Filia - edycja</h1>
        {{ form_start(formularz) }}
            {{ form_errors(formularz) }}

            <div class="checks-list">
                {{ form_label(formularz.profileDzialalnosci) }}
                <div>
                    {% for profil in formularz.profileDzialalnosci %}
                        {{ form_label(profil) }} {{ form_widget(profil) }}
                    {% endfor %}
                </div>
            </div>
            <div id="procesy-przygotowania-powierzchni" class="osadzony">
                {{ form_label(formularz.filieProcesyPrzygotowaniaPowierzchni) }}
                <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieProcesyPrzygotowaniaPowierzchni.vars.prototype)|e }}">
                    {% for proces in formularz.filieProcesyPrzygotowaniaPowierzchni %}
                        <li>{{ form_widget(proces) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="procesy-aplikacji" class="osadzony">
                {{ form_label(formularz.filieProcesyAplikacji) }}
                <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieProcesyAplikacji.vars.prototype)|e }}">
                    {% for procesAplikacji in formularz.filieProcesyAplikacji %}
                        <li>{{ form_widget(procesAplikacji) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="wymagania-produktu" class="osadzony">
                {{ form_label(formularz.filieWymaganiaProduktu) }}
                <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieWymaganiaProduktu.vars.prototype)|e }}">
                    {% for wymaganie in formularz.filieWymaganiaProduktu %}
                        <li>{{ form_widget(wymaganie) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="procesy-utwardzania-powloki" class="osadzony">
                {{ form_label(formularz.filieProcesyUtwardzaniaPowloki) }}
                <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieProcesyUtwardzaniaPowloki.vars.prototype)|e }}">
                    {% for proces in formularz.filieProcesyUtwardzaniaPowloki %}
                        <li>{{ form_widget(proces) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="wymagania-powloki" class="osadzony">
                {{ form_label(formularz.filieWymaganiaPowloki) }}
                <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieWymaganiaPowloki.vars.prototype)|e }}">
                    {% for wymaganie in formularz.filieWymaganiaPowloki %}
                        <li>{{ form_widget(wymaganie) }}</li>
                    {% endfor %}
                </ul>
            </div>

        {{ form_end(formularz) }}
    <ul class="record_actions">
        <li>
            <a href="">
                Powrót do listy
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $('#procesy-przygotowania-powierzchni').obslugaFormularzy();
    $('#procesy-aplikacji').obslugaFormularzy();
    $('#wymagania-produktu').obslugaFormularzy();
    $('#procesy-utwardzania-powloki').obslugaFormularzy();
    $('#wymagania-powloki').obslugaFormularzy();
    tinymce.init({
        selector:'textarea',
        language: 'pl',
        width: 765,
    });

{% endblock javascripts %}