{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% form_theme formularz _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button zielony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formularze.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    {% javascripts '@DFPEtapIBundle/Resources/public/js/dfp_obsluga_formularzy.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Filia - edycja</h1>
        {{ form_start(formularz) }}
        {{ form_errors(formularz) }}
            <table class="record_properties">
                <caption>Informacje podstawowe</caption>
                <tbody>
                <tr>
                    <th>Filia klienta:</th>
                    <td><p>{{ filia.klient.nazwaPelna }}</p></td>
                </tr>
                <tr>
                    <th>Nazwa filii:</th>
                    <td><p>{{ filia.nazwaFilii }}</p></td>
                </tr>
                <tr>
                    <th>{{ form_label(formularz.wojewodztwo) }}:</th>
                    <td class="edycja">{{ form_widget(formularz.wojewodztwo) }}</td>
                </tr>
                <tr>
                    <th>Miejscowość:</th>
                    <td class="edycja">{{ form_widget(formularz.kodPocztowy) }}; {{ form_widget(formularz.miejscowosc) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(formularz.ulica) }}:</th>
                    <td class="edycja">{{ form_widget(formularz.ulica) }}</td>
                </tr>
                <tr>
                    <th>Profile działalności: <sup title="podać rodzaje elementów lub produktów finalnych, które są malowane">?</sup></th>
                    <td class="edycja">
                        <div class="checks-list">
                            <div>
                                {% for profil in formularz.profileDzialalnosci %}
                                    {{ form_label(profil) }} {{ form_widget(profil) }}
                                {% endfor %}
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Stosowany system malarski: <sup title="podać zestaw stosowany obecnie przez klienta tzn.: czy grunt+nawierzchnia czy tylko gruntoemalia//podać typ farby: alkid, poliuretan czy epoxyd//podać nazwy handlowe farb i producenta). Poziom dotychczasowych cen (może być bez podawania nazw produktów">?</sup></th>
                    <td class="edycja">{{ form_widget(formularz.matlakDotychczas) }}</td>
                </tr>
                <tr>
                    <th>Wielkość zużycia: <sup title="podać w skali miesiąca jedną z danych: ilość w litrach lub kg, wartość zakupu farby, waga w tonach pomalowanej konstrukcji, ilość m2 pomalowanej powierzchni">?</sup></th>
                    <td class="edycja">{{ form_widget(formularz.zuzycieMaterialow) }}</td>
                </tr>
                <tr>
                    <th>Kolorystyka: <sup title="podać numery kolorów stosowane przez klienta np. wg: RAL, NCS, Pantone lub inny standard//alternatywnie proszę określić czy jest to kolor: czerwony, niebieski, zielony, żółty">?</sup></th>
                    <td class="edycja">{{ form_widget(formularz.kolorystyka) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(formularz.adnotacja) }}: <sup title="podać tylko związane z tworzeniem powłoki lakierowej np. mat. ścierne, szpachle, odtłuszczacze, nitro, przemywacze itp.">?</sup></th>
                    <td class="edycja">{{ form_widget(formularz.adnotacja) }}</td>
                </tr>
                </tbody>
            </table>

            <table>
                <caption>Informacje o procesie wykonywania powłoki lakierowej, parametry techniczne</caption>
                <tbody>
                    <tr id="rodzaje-powierzchni">
                        <th>{{ form_label(formularz.filieRodzajePowierzchni) }}:</th>
                        <td class="edycja">
                            <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieRodzajePowierzchni.vars.prototype)|e }}">
                                {% for rodzaj in formularz.filieRodzajePowierzchni %}
                                    <li>{{ form_widget(rodzaj) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr id="procesy-przygotowania-powierzchni">
                        <th>{{ form_label(formularz.filieProcesyPrzygotowaniaPowierzchni) }}: <sup title="W przypadku używania materiałów ściernych podać łączne zużycie miesięczne: krążków, ściernic itd. pomocne będą zdjęcia stosowanych materiałów ściernych">?</sup></th>
                        <td class="edycja">
                            <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieProcesyPrzygotowaniaPowierzchni.vars.prototype)|e }}">
                                {% for proces in formularz.filieProcesyPrzygotowaniaPowierzchni %}
                                    <li>{{ form_widget(proces) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr id="procesy-aplikacji">
                        <th>{{ form_label(formularz.filieProcesyAplikacji) }}:</th>
                        <td class="edycja">
                            <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieProcesyAplikacji.vars.prototype)|e }}">
                                {% for procesAplikacji in formularz.filieProcesyAplikacji %}
                                    <li>{{ form_widget(procesAplikacji) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr id="procesy-utwardzania-powloki">
                        <th>{{ form_label(formularz.filieProcesyUtwardzaniaPowloki) }}:</th>
                        <td class="edycja">
                            <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieProcesyUtwardzaniaPowloki.vars.prototype)|e }}">
                                {% for proces in formularz.filieProcesyUtwardzaniaPowloki %}
                                    <li>{{ form_widget(proces) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr id="wymagania-powloki">
                        <th>{{ form_label(formularz.filieWymaganiaPowloki) }}: <sup title="parametry jakie musi spełniać">?</sup></th>
                        <td class="edycja">
                            <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieWymaganiaPowloki.vars.prototype)|e }}">
                                {% for wymaganie in formularz.filieWymaganiaPowloki %}
                                    <li>{{ form_widget(wymaganie) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr id="wymagania-produktu">
                        <th>{{ form_label(formularz.filieWymaganiaProduktu) }}: <sup title="alternatywnie można pozyskać karty techniczne produktów">?</sup></th>
                        <td class="edycja">
                            <ul class="filia-uzytkownicy" data-prototype="{{ form_widget(formularz.filieWymaganiaProduktu.vars.prototype)|e }}">
                                {% for wymaganie in formularz.filieWymaganiaProduktu %}
                                    <li>{{ form_widget(wymaganie) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{ form_row(formularz._token) }}
            <ul class="record_actions">
                <li>
                    <a href="{{ path('url_lista_klientow') }}" class="art-button">
                        Powrót do listy
                    </a>
                </li>
                <li>
                    {{ form_row(formularz.submit) }}
                </li>
            </ul>

        {{ form_end(formularz, {'render_rest':false}) }}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $('#rodzaje-powierzchni').obslugaFormularzy();
    $('#procesy-przygotowania-powierzchni').obslugaFormularzy();
    $('#procesy-aplikacji').obslugaFormularzy();
    $('#wymagania-produktu').obslugaFormularzy();
    $('#procesy-utwardzania-powloki').obslugaFormularzy();
    $('#wymagania-powloki').obslugaFormularzy();
    tinymce.init({
        selector:'textarea',
        content_css: '/css/tinymce_content.css',
        plugins: 'paste,autosave,autoresize,table,image,fullscreen,charmap',
        toolbar: "styleselect | table | bold italic underline removeformat | justifyleft justifycenter justifyright justifyfull | bullist numlist | outdent indent | cut copy paste | charmap image | undo redo | restoredraft | fullscreen",
        toolbar_items_size : 'small',
        paste_as_text: true,
        paste_data_images: false,
        browser_spellcheck : true,
        font_formats: "Times New Roman=times new roman,times;",
        keep_styles: false,
        schema: "html5",
        visual: true,
        menubar : false,
        height : 300,
        autoresize_max_height: 500,
        table_default_border: 1,
        table_default_cellpadding: 3,
        table_default_cellspacing: 0,
        entity_encoding : "raw",
        language: 'pl',
        statusbar: false,
        toolbar: false,

        style_formats : [
            {title: 'Nagłówki', items: [
                {title: 'Nagłówek 1', block: 'h1'},
                {title: 'Nagłówek 2', block: 'h2'},
                {title: 'Nagłówek 3', block: 'h3'},
                {title: 'Nagłówek 4', block: 'h4'},
                {title: 'Nagłówek 5', block: 'h5'},
                {title: 'Nagłówek 6', block: 'h6'}
            ]},
            {title: 'Alignment', items: [
                {title: 'Left', block: 'div', styles : {textAlign : 'left'}, icon: 'alignleft'},
                {title: 'Center', block: 'div', styles : {textAlign : 'center'}, icon: 'aligncenter'},
                {title: 'Right', block: 'div', styles : {textAlign : 'right'}, icon: 'alignright'},
                {title: 'Justify', block: 'div', styles : {textAlign : 'justify'}, icon: 'alignjustify'}
            ]},
            {title: 'Table', items: [
                {title: 'Wzór 1', selector: 'table', classes: 'table1'}
            ]},
            {title: 'Pogrubiony', inline: 'b', icon: 'bold'},
            {title: 'Kursywa', inline: 'i', icon: 'italic'},
            {title: 'Podkre¶lenie', inline: 'span', styles : {textDecoration : 'underline'}, icon: 'underline'},
            {title: 'Indeks górny', inline: 'sup', icon: 'superscript'},
            {title: 'Indeks dolny', inline: 'sub', icon: 'subscript'},
        ],
    });
    $('#dfp_etapibundle_filia_kodPocztowy').mask('00-000');

{% endblock javascripts %}