{% extends '@DFPEtapI/layout.html.twig' %}

{% form_theme drugiFormularz _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button zielony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="parametr-box">
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formularze.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/qTip.css') }}" rel="stylesheet"/>
    <link href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
    {% javascripts '@DFPEtapIBundle/Resources/public/js/dfp_obsluga_formularzy.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content %}
    <section>
        <h1>Formularz podstawowej karty klienta</h1>
        <section style="text-align: left;">
            <h2 style="color: #7B68EE;text-align: center;">Etap 2/2</h2>
            <p>Pod podanym numerem NIP: <strong>{{ klient.nip|nip }}</strong> znajduje się już zapisany w Bazie Danych klient o nazwie <strong>{{ klient.nazwaPelna }}</strong>.
                Jeżeli chcesz dodać nową filie / oddział tego klienta, wypełnij formularz znajdujący się na dole strony.</p>
            <section id="opis-klienta" style="text-align: left;">
                <h3>Dane klienta</h3>
                <dl class="table-display">
                    <dt>Pełna nazwa klienta:</dt>
                    <dd>{{ klient.nazwaPelna }}</dd>
                    <dt>Skrócona nazwa klienta:</dt>
                    <dd>{{ klient.nazwaSkrocona }}</dd>
                    <dt>NIP:</dt>
                    <dd>{{ klient.nip|nip }}</dd>
                    <dt>Kod MAX:</dt>
                    <dd>{{ klient.kodMax }} </dd>
                    <dt>Filie klienta:</dt>
                    <dd>
                        <dl>
                            {% for filia in klient.filie %}
                                <dt>{{ filia.nazwaFilii }}</dt>
                                <dd>{{ filia.wojewodztwo }}</dd>
                                <dd>{{ filia.kodPocztowy|kodPocztowy }}; {{ filia.miejscowosc }}</dd>
                                <dd>{{ filia.ulica }}</dd>
                            {% endfor %}
                        </dl>
                    </dd>

                </dl>
            </section>
            <section style="text-align: left;">
                <h3>Nowa filia</h3>
                <p>Jeżeli chcesz dodać nową filię klienta wypełnij poniższy formularz:</p>
                {{ form_start(drugiFormularz) }}
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>{{ form_label(drugiFormularz.nazwaFilii) }}</th>
                            <td class="edycja">{{ form_widget(drugiFormularz.nazwaFilii) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(drugiFormularz.wojewodztwo) }}</th>
                            <td class="edycja">{{ form_widget(drugiFormularz.wojewodztwo) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(drugiFormularz.kodPocztowy) }} / {{ form_label(drugiFormularz.miejscowosc) }}</th>
                            <td class="edycja">{{ form_widget(drugiFormularz.kodPocztowy) }}; {{ form_widget(drugiFormularz.miejscowosc) }}</td>
                        </tr>
                        <tr>
                            <th>{{ form_label(drugiFormularz.ulica) }}</th>
                            <td class="edycja">{{ form_widget(drugiFormularz.ulica) }}</td>
                        </tr>
                        <tr id="filie-pracownicy">
                            <th>{{ form_label(drugiFormularz.filiePracownicy) }}</th>
                            <td class="edycja filia-parametry-tech">
                                <ul data-prototype="{{ form_widget(drugiFormularz.filiePracownicy.vars.prototype)|e }}">
                                    {% for pracownik in drugiFormularz.filiePracownicy %}
                                        <li class="parametr-container">{{ form_widget(pracownik) }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ form_label(drugiFormularz.profileDzialalnosci) }}</th>
                            <td class="edycja">
                                <div class="checks-list">
                                    <div>
                                        {% for profilDzialalnosci in drugiFormularz.profileDzialalnosci %}
                                            {{ form_label(profilDzialalnosci,null,{'label_attr' : {'title': profile_dzialalnosci[profilDzialalnosci.vars.value] } }) }} {{ form_widget(profilDzialalnosci) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="required">Pola oznaczone * są wymagane.</span>

                {{ form_row(drugiFormularz.klient) }}
                {{ form_row(drugiFormularz._token) }}
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('strona_glowna') }}" class="art-button czerwony">Zaniechaj</a>
                    </li>
                    <li>
                        {{ form_row(drugiFormularz.dodaj) }}
                    </li>
                </ul>
                {{ form_end(drugiFormularz, {'render_rest': false}) }}
            </section>
        </section>
    </section>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    $('.record_properties').on('focusin','.kod-pocztowy', function() {
        $(this).mask('00-000');
    });
    $('#filie-pracownicy').obslugaFormularzy();
    $('.record_properties [title!=""]').qtip({style: {widget:true}, position: { my: 'top left', at: 'bottom center' } });
{% endblock javascripts %}