{% extends '@DFPEtapI/layout.html.twig' %}

{% form_theme kartaPodstawowa _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button zielony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="parametr-box">
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formularze.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    {% javascripts '@DFPEtapIBundle/Resources/public/js/dfp_obsluga_formularzy.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content %}
    <section>
        <h1>Formularz podstawowej karty klienta</h1>
        <section style="text-align: left; margin-top: 30px;">
            <h2 style="color: #7B68EE;text-align: center;">Etap 2/2</h2>
            <p>Dla Klienta identyfikującego się NIP'em: {{ klient.nip|nip }} nie została jeszcze założona karta klienta. Wypełnij poniższe pola formularza, aby tego dokonać.</p>
            {{ form_start(kartaPodstawowa) }}
            {{ form_errors(kartaPodstawowa) }}
            <table class="record_properties">
                <tbody>
                    <tr>
                        <th>{{ form_label(kartaPodstawowa.nazwaPelna) }}</th>
                        <td class="edycja">{{ form_widget(kartaPodstawowa.nazwaPelna) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(kartaPodstawowa.nazwaSkrocona) }}</th>
                        <td class="edycja">{{ form_widget(kartaPodstawowa.nazwaSkrocona) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(kartaPodstawowa.filie[0].wojewodztwo) }}</th>
                        <td class="edycja">{{ form_widget(kartaPodstawowa.filie[0].wojewodztwo) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(kartaPodstawowa.filie[0].miejscowosc) }}</th>
                        <td class="edycja">{{ form_widget(kartaPodstawowa.filie[0].kodPocztowy, {'attr': {'style':'width: 41px;'} }) }}; {{ form_widget(kartaPodstawowa.filie[0].miejscowosc, {'attr': {'style':'width: 89.6%;'} }) }}</td>
                    </tr>
                    <tr>
                        <th>{{ form_label(kartaPodstawowa.filie[0].ulica) }}</th>
                        <td class="edycja">{{ form_widget(kartaPodstawowa.filie[0].ulica) }}</td>
                    </tr>
                    <tr id="filie-pracownicy">
                        <th>{{ form_label(kartaPodstawowa.filie[0].filiePracownicy) }}</th>
                        <td class="edycja filia-parametry-tech">
                            <ul data-prototype="{{ form_widget(kartaPodstawowa.filie[0].filiePracownicy.vars.prototype)|e }}">
                                {% for pracownik in kartaPodstawowa.filie[0].filiePracownicy %}
                                    <li class="parametr-container">{{ form_widget(pracownik) }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form_label(kartaPodstawowa.grupyKlientow) }}</th>
                        <td class="edycja">
                            <div class="checks-list">
                                <div>
                                    {% for grupa in kartaPodstawowa.grupyKlientow %}
                                        {{ form_label(grupa) }} {{ form_widget(grupa) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form_label(kartaPodstawowa.filie[0].profileDzialalnosci) }}</th>
                        <td class="edycja">
                            <div class="checks-list">
                                <div>
                                    {% for profilDzialalnosci in kartaPodstawowa.filie[0].profileDzialalnosci %}
                                        {{ form_label(profilDzialalnosci) }} {{ form_widget(profilDzialalnosci) }}
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{ form_row(kartaPodstawowa.nip) }}
            {{ form_row(kartaPodstawowa._token) }}
            <ul class="record_actions">
                <li>
                    <a href="{{ path('strona_glowna') }}" class="art-button czerwony">Zaniechaj</a>
                </li>
                <li>
                    {{ form_row(kartaPodstawowa.submit) }}
                </li>
            </ul>
            {{ form_end(kartaPodstawowa, {'render_rest':false}) }}
        </section>
    </section>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    $('.kod-pocztowy').mask('00-000');
    $('#filie-pracownicy').obslugaFormularzy();
{% endblock javascripts %}