{% extends '@DFPEtapI/layout.html.twig' %}

{% form_theme kartaPodstawowa _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button zielony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formularze.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
{% endblock javascript %}

{% block content %}
    <section>
        <h1>Formularz podstawowej karty klienta</h1>
        <section style="text-align: left; margin-top: 30px;">
            <h2 style="color: #7B68EE;">Etap 2/2</h2>
            <p>Dla Klienta identyfikującego się NIP'em: {{ klient.nip|nip }} nie została jeszcze założona karta klienta. Wypełnij poniższe pola formularza, aby tego dokonać.</p>
            {{ form_start(kartaPodstawowa) }}
                {{ form_errors(kartaPodstawowa) }}
                <div>
                    {{ form_row(kartaPodstawowa.nip) }}
                    {{ form_row(kartaPodstawowa.nazwaPelna) }}
                    {{ form_row(kartaPodstawowa.nazwaSkrocona) }}
                    <div class="checks-list">
                        {{ form_label(kartaPodstawowa.grupyKlientow) }}
                        <div>
                            {% for grupa in kartaPodstawowa.grupyKlientow %}
                                {{ form_label(grupa) }} {{ form_widget(grupa) }}
                            {% endfor %}
                        </div>
                    </div>

                    {{ form_row(kartaPodstawowa.filie[0].wojewodztwo) }}
                    {{ form_row(kartaPodstawowa.filie[0].kodPocztowy) }}
                    {{ form_row(kartaPodstawowa.filie[0].miejscowosc) }}
                    {{ form_row(kartaPodstawowa.filie[0].ulica) }}
                </div>
                <ul class="record_actions" style="text-align: center; margin-top: 20px;">
                    <li style="float: none; display: inline-block; position: relative; left: 27px;">
                        <a href="{{ path('strona_glowna') }}" class="art-button czerwony">Zaniechaj</a>
                    </li>
                    <li style="float: none; display: inline-block; position: relative; left: 27px; top:1px;">
                        {{ form_row(kartaPodstawowa.submit) }}
                    </li>
                </ul>
                {{ form_row(kartaPodstawowa._token) }}

            {{ form_end(kartaPodstawowa, {'render_rest':false}) }}
        </section>
    </section>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}