{% extends '@DFPEtapI/layout.html.twig' %}

{% form_theme form_filter '@DFPEtapI/Form/bootstrap_form.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/main_2.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/layout_2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/custom-theme/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Lista klientów</h1>

        <div class="well">
            <form method="get" action="#lista-klientow" class="form-horizontal">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" for="{{ form_filter.kod_max.vars.id }}">{{ form_filter.kod_max.vars.label }}</label>
                                <div class="col-xs-7">
                                    {{ form_widget(form_filter.kod_max) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" for="{{ form_filter.nazwa_klienta.vars.id }}">{{ form_filter.nazwa_klienta.vars.label }}</label>
                                <div class="col-xs-7">
                                    {{ form_widget(form_filter.nazwa_klienta) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label class="col-xs-5 control-label" for="{{ form_filter.adres.vars.id }}">{{ form_filter.adres.vars.label }}</label>
                                <div class="col-xs-7">
                                    {{ form_widget(form_filter.adres) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label class="col-xs-5 control-label" for="{{ form_filter.profil.vars.id }}">{{ form_filter.profil.vars.label }}</label>
                            <div class="col-xs-7">
                                {{ form_widget(form_filter.profil) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-xs-offset-6">
                        <div class="form-group">
                            {{ form_rest(form_filter) }}
                            <input class="btn btn-info" type="submit" name="submit-filter" value="Filtruj" style="height: auto;"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table id="lista-klientow" class="table lista-klientow">
            <thead>
            <tr>
                <th colspan="6"></th>
                <th colspan="2">Ostrzeżenia</th>
            </tr>
            <tr>
                <th class="lp">Lp</th>
                <th class="klient-nazwa-skrocona {% if filie_uzytkownika.isSorted('kli.nazwaSkrocona') %} sorted {% endif %}">{{ knp_pagination_sortable(filie_uzytkownika, 'Klient', 'kli.nazwaSkrocona') }}</th>
                <th class="filia-miejscowosc {% if filie_uzytkownika.isSorted('fi.miejscowosc') %} sorted {% endif %}">{{ knp_pagination_sortable(filie_uzytkownika, 'Miejscowość', 'fi.miejscowosc') }}</th>
                <th class="kod-max">Kod MAX</th>
                <th class="klient-profil-dzialalnosci">{{ knp_pagination_sortable(filie_uzytkownika, 'Profil działalności', 'pd.nazwaProfilu') }}</th>
                <th>Obrót</th>
                <th>{{ knp_pagination_sortable(filie_uzytkownika, 'Notatka', 'fn.dataSporzadzenia') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for filia_uzytkownika in filie_uzytkownika %}
                {% if filia_uzytkownika.koniecPrzypisania < date() and filia_uzytkownika.perm == false %}
                    {% set blokada = filia_uzytkownika.blokada %}
                    {% set blokada_o = filia_uzytkownika.filia.klient.obrot > 3000 ? false : true %}
                    {% set blokada_n = true %}
                    {% set dataOstatniejNotatki = '-' %}
                    {% set dataTemp = '' %}
                    {% for notatka in filia_uzytkownika.filia.filieNotatki %}
                        {% if notatka.dataSporzadzenia|date_modify('+30days') > date() %}
                            {% set blokada_n = false %}
                        {% endif %}
                        {% set dataOstatniejNotatki = dataTemp < dataOstatniejNotatki ? notatka.dataSporzadzenia|date('d.m.Y') : dataOstatniejNotatki|date('d.m.Y') %}
                        {% set dataTemp = notatka.dataSporzadzenia %}
                    {% endfor %}
                    <tr {{ blokada == true or (blokada_n == true and blokada_o == true ) ? "class='przeterminowane danger'" : "" }}>
                        <th class="lp"><a href="{{ path('frontend_pokaz_filie_klienta', { 'id': filia_uzytkownika.filia.id }) }}">{{ loop.index }}</a></th>
                        <td class="klient-nazwa-skrocona" title="Pełna nazwa: {{ filia_uzytkownika.filia.klient.nazwaPelna }}"><div>{{ filia_uzytkownika.filia.klient.nazwaSkrocona > 70 ? filia_uzytkownika.filia.klient.nazwaSkrocona[:70] ~ " ..." : filia_uzytkownika.filia.klient.nazwaSkrocona }}</div></td>
                        <td class="filia-miejscowosc" title="{{ filia_uzytkownika.filia.ulica }}&#10;{{ filia_uzytkownika.filia.kodPocztowy|kodPocztowy }}; {{ filia_uzytkownika.filia.miejscowosc }}&#10;{{ filia_uzytkownika.filia.wojewodztwo }}">{{ filia_uzytkownika.filia.miejscowosc }}</td>
                        <td class="kod-max">{{ filia_uzytkownika.filia.klient.kodMax }}</td>
                        <td class="klient-profil-dzialalnosci"><div title="{{ filia_uzytkownika.filia.profileDzialalnosci|join(' | ') }}">{{ filia_uzytkownika.filia.profileDzialalnosci|join(' | ') }}</div></td>
                        <td style="text-align: right; color: {{ blokada_o == true ? 'red' }}; ">
                            {{ filia_uzytkownika.filia.klient.obrot|number_format(2,',',' ') }} zł
                        </td>
                        <td style="color: {{ blokada_n == true ? 'red' }};">
                            {{ dataOstatniejNotatki is defined ? dataOstatniejNotatki }}
                        </td>
                    </tr>
                {% else %}
                    {% set blokada = filia_uzytkownika.blokada %}
                    {% set blokada_o = filia_uzytkownika.filia.klient.obrot > 3000 ? false : true %}
                    {% set blokada_n = true %}
                    {% set dataOstatniejNotatki = '-' %}
                    {% set dataTemp = '' %}
                    {% for notatka in filia_uzytkownika.filia.filieNotatki %}
                        {% if notatka.dataSporzadzenia|date_modify('+30days') > date() %}
                            {% set blokada_n = false %}
                        {% endif %}
                        {% set dataOstatniejNotatki = dataTemp < dataOstatniejNotatki ? notatka.dataSporzadzenia|date('d.m.Y') : dataOstatniejNotatki|date('d.m.Y') %}
                        {% set dataTemp = notatka.dataSporzadzenia %}
                    {% endfor %}
                    <tr>
                        <th class="lp"><a href="{{ path('frontend_pokaz_filie_klienta', { 'id': filia_uzytkownika.filia.id }) }}">{{ loop.index }}</a></th>
                        <td class="klient-nazwa-skrocona" title="Pełna nazwa: {{ filia_uzytkownika.filia.klient.nazwaPelna }}"><div>{{ filia_uzytkownika.filia.klient.nazwaSkrocona > 70 ? filia_uzytkownika.filia.klient.nazwaSkrocona[:70] ~ " ..." : filia_uzytkownika.filia.klient.nazwaSkrocona }}</div></td>
                        <td class="filia-miejscowosc" title="{{ filia_uzytkownika.filia.ulica }}&#10;{{ filia_uzytkownika.filia.kodPocztowy|kodPocztowy }}; {{ filia_uzytkownika.filia.miejscowosc }}&#10;{{ filia_uzytkownika.filia.wojewodztwo }}">{{ filia_uzytkownika.filia.miejscowosc }}</td>
                        <td class="kod-max">{{ filia_uzytkownika.filia.klient.kodMax }}</td>
                        <td class="klient-profil-dzialalnosci"><div title="{{ filia_uzytkownika.filia.profileDzialalnosci|join(' | ') }}">{{ filia_uzytkownika.filia.profileDzialalnosci|join(' | ') }}</div></td>
                        <td style="text-align: right; color: {{ blokada_o == true ? 'red' }}; ">
                            {{ filia_uzytkownika.filia.klient.obrot|number_format(2,',',' ') }} zł
                        </td>
                        <td style="color: {{ blokada_n == true ? 'red' }};">
                            {{ dataOstatniejNotatki is defined ? dataOstatniejNotatki }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(filie_uzytkownika) }}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
        $('.lista-klientow').obslugaTabel();
{% endblock javascripts %}
