{% extends '@DFPEtapI/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('css/lista_klientow.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Lista klientów</h1>

        <table class="lista-klientow">
            <thead>
            <tr>
                <th class="lp">Lp</th>
                {#<th class="klient-nazwa-pelna">Pełna nazwa</th>#}
                <th class="klient-nazwa-skrocona">{{ knp_pagination_sortable(lista_moich_klientow, 'Klient', 'k.nazwaSkrocona') }}</th>
                <th class="filia-nazwa">Nazwa filii</th>
                <th class="filia-miejscowosc">Miejscowość</th>
                <th class="kod-max">Kod MAX</th>
                <th class="klient-profil-dzialalnosci">Profil</th>
                <th class="filia-koniec-rezerwacji">Koniec rezerwacji</th>
                {#<th class="data">Data utworzenia</th>#}
                {#<th class="nip">NIP</th>#}
                {#<th class="kanal-dystrybucji">Kanał dystrybucji</th>#}
                {#<th style="width: 59px;">Aktywny</th>#}
            </tr>
            </thead>
            <tbody>
            {% for klient in lista_moich_klientow %}
                {% for filia in klient.filie %}
                    <tr>
                        <th class="lp"><a href="{{ path('url_pokaz_karte_klienta', { 'id': klient.id }) }}">{{ loop.parent.loop.index }}.{{ loop.index }}</a></th>
                        {#<td class="klient-nazwa-pelna" title="{{ klient.nazwaPelna }}"><div>{{ klient.nazwaPelna|length > 70 ? klient.nazwaPelna[:70] ~ " ..." : klient.nazwaPelna }}</div></td>#}
                        <td class="klient-nazwa-skrocona" title="Pełna nazwa: {{ klient.nazwaPelna }}"><div>{{ klient.nazwaSkrocona > 70 ? klient.nazwaSkrocona[:70] ~ " ..." : klient.nazwaSkrocona }}</div></td>
                        <td class="filia-nazwa">{{ filia.nazwaFilii }}</td>
                        <td class="filia-miejscowosc" title="{{ filia.ulica }}&#10;{{ filia.kodPocztowy }}; {{ filia.miejscowosc }}&#10;{{ filia.wojewodztwo }}">{{ filia.miejscowosc }}</td>
                        <td class="kod-max">{{ klient.kodMax }}</td>
                        <td class="klient-profil-dzialalnosci">{{ klient.profileDzialalnosci|join(' | ') }}</td>
                        <td class="filia-koniec-rezerwacji"></td>
                        {#<td class="data" title="{{ klient.dataZalozenia|date('Y-m-d | H:i:s') }}">{{ klient.dataZalozenia|date('Y-m-d') }}</td>#}
                        {#<td class="nip" title="{{ klient.nip|nip }}">{{ klient.nip }}</td>#}
                        {#<td class="kanal-dystrybucji">{{ klient.kanalDystrybucji }}</td>#}
                        {#<td>{% if klient.aktywny == 1 %} TAK {% else %} NIE {% endif %}</td>#}
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(lista_moich_klientow) }}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
        $('.lista-klientow').obslugaTabel();
{% endblock javascripts %}
