{% extends '@DFPEtapI/layout.html.twig' %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Lista klientów</h1>

        <table class="lista-klientow">
            <thead>
            <tr>
                <th>Id</th>
                <th>Pełna nazwa</th>
                <th>Skrót nazwy</th>
                <th>Data utworzenia</th>
                <th>NIP</th>
                <th>Kod MAX</th>
                <th>Kanał dystrybucji</th>
                <th>Aktywny</th>
            </tr>
            </thead>
            <tbody>
            {% for klient in lista_klientow %}
                <tr>
                    <th><a href="{{ path('url_pokaz_karte_klienta', { 'id': klient.id }) }}">{{ loop.index }}.</a></th>
                    <td>{{ klient.nazwaPelna }}</td>
                    <td>{{ klient.nazwaSkrocona }}</td>
                    <td>{% if klient.dataZalozenia %}{{ klient.dataZalozenia|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ klient.nip }}</td>
                    <td>{{ klient.kodMax }}</td>
                    <td>{{ klient.kanalDystrybucji }}</td>
                    <td>{% if klient.aktywny == 1 %} TAK {% else %} NIE {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $('.lista-klientow').obslugaTabel();
{% endblock javascripts %}
