{% extends '@DFPEtapI/layout.html.twig' %}

{% form_theme form_filter '@DFPEtapI/Form/bootstrap_form.html.twig' %}

{% block title %}Portal DFP - klienci DSB{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/main_2.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/layout_2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/custom-theme/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <section>
        <h1>Lista klientów</h1>

        <div style="margin-bottom: 20px; height: auto; overflow: auto;">
            {{ knp_pagination_filter(lista_klientow, {'k.nazwaSkrocona': 'Nazwa klienta', 'f.miejscowosc': 'Miejscowość', 'k.kodMax': 'Kod MAX', 'pd.nazwaProfilu':'Profil działalności','u.nazwisko':'Nazwisko agenta'}) }}
        </div>


        <table class="lista-klientow">
            <thead>
            <tr>
                <th class="lp">Lp</th>
                <th class="klient-nazwa-skrocona {% if lista_klientow.isSorted('k.nazwaSkrocona') %} sorted {% endif %}">{{ knp_pagination_sortable(lista_klientow, 'Klient', 'k.nazwaSkrocona') }}</th>
                <th class="filia-nazwa">Nazwa filii</th>
                <th class="filia-miejscowosc {% if lista_klientow.isSorted('f.miejscowosc') %} sorted {% endif %}">{{ knp_pagination_sortable(lista_klientow, 'Miejscowość', 'f.miejscowosc') }}</th>
                <th class="kod-max">Kod MAX</th>
                <th class="klient-profil-dzialalnosci">{{ knp_pagination_sortable(lista_klientow, 'Profil działalności', 'pd.nazwaProfilu') }}</th>
                <th class="agent">{{ knp_pagination_sortable(lista_klientow, 'Agent', 'u.imie') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for filia_uzytkownika in lista_klientow %}
                <tr>
                    <th class="lp"><a href="{{ path('backend_filia_show', { 'id': filia_uzytkownika.id }) }}">{{ lista_klientow.getPaginationData['firstItemNumber'] + loop.index - 1}}</a></th>
                    <td class="klient-nazwa-skrocona" title="Pełna nazwa: {{ filia_uzytkownika.klient.nazwaPelna }}"><div>{{ filia_uzytkownika.klient.nazwaSkrocona > 70 ? filia_uzytkownika.klient.nazwaSkrocona[:70] ~ " ..." : filia_uzytkownika.klient.nazwaSkrocona }}</div></td>
                    <td class="filia-nazwa">{{ filia_uzytkownika.nazwaFilii }}</td>
                    <td class="filia-miejscowosc" title="{{ filia_uzytkownika.ulica }}&#10;{{ filia_uzytkownika.kodPocztowy|kodPocztowy }}; {{ filia_uzytkownika.miejscowosc }}&#10;{{ filia_uzytkownika.wojewodztwo }}">{{ filia_uzytkownika.miejscowosc }}</td>
                    <td class="kod-max">{{ filia_uzytkownika.klient.kodMax }}</td>
                    <td class="klient-profil-dzialalnosci"><div title="{{ filia_uzytkownika.profileDzialalnosci|join(' | ') }}">{{ filia_uzytkownika.profileDzialalnosci|join(' | ') }}</div></td>
                    <td class="agent"><div title="{{ filia_uzytkownika.filieUzytkownicy|join(" | ") }}">{{ filia_uzytkownika.filieUzytkownicy|join(" | ") }}</div></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(lista_klientow) }}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
        $('.lista-klientow').obslugaTabel();
{% endblock javascripts %}
