{% extends '@DFPEtapI/layout.html.twig' %}

{% form_theme form _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button zielony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/formularze.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>
{% endblock javascript %}

{% block content %}
    <section>
        <h1>Notatka</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
            <table class="record_properties">
                <tbody>
                <tr>
                    <th>{{ form_label(form.rodzaj) }}</th>
                    <td class="edycja">{{ form_widget(form.rodzaj) }}</td>
                </tr>
                <tr>
                    <th>{{ form_label(form.tresc) }}</th>
                    <td class="edycja" style="height: 500px;">{{ form_widget(form.tresc) }}</td>
                </tr>
                </tbody>
            </table>

            <ul class="record_actions">
                <li>
                    <a href="{{ path('url_lista_klientow') }}" class="art-button">
                        Powrót do listy
                    </a>
                </li>
                <li>
                    {{ form_row(form.submit) }}
                </li>
            </ul>
        {{ form_end(form) }}
    </section>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    {#  tinyMCE  #}
    tinymce.init({
        selector:'textarea',
        content_css: '/css/tinymce_content.css',
        plugins: 'paste,autosave,table,image,fullscreen,charmap',
        toolbar: "styleselect | table | bold italic underline removeformat | justifyleft justifycenter justifyright justifyfull | bullist numlist | outdent indent | cut copy paste | charmap image | undo redo | restoredraft | fullscreen",
        toolbar_items_size : 'small',
        paste_as_text: true,
        paste_data_images: false,
        browser_spellcheck : true,
        font_formats: "Times New Roman=times new roman,times;",
        keep_styles: false,
        schema: "html5",
        visual: true,
        menubar : false,
        height : 500,
        table_default_border: 1,
        table_default_cellpadding: 3,
        table_default_cellspacing: 0,
        entity_encoding : "raw",
        language: 'pl',

        style_formats : [
            {title: 'Nagłówki', items: [
                {title: 'Nagłówek 1', block: 'h1'},
                {title: 'Nagłówek 2', block: 'h2'},
                {title: 'Nagłówek 3', block: 'h3'},
                {title: 'Nagłówek 4', block: 'h4'},
                {title: 'Nagłówek 5', block: 'h5'},
                {title: 'Nagłówek 6', block: 'h6'}
            ]},
                {title: 'Alignment', items: [
                {title: 'Left', icon: 'alignleft', format: "alignleft"},
                {title: 'Center', icon: 'aligncenter', format: "aligncenter"},
                {title: 'Right', icon: 'alignright', format: "alignright"},
                {title: 'Justify', icon: 'alignjustify', format: "alignjustify"},
            ]},
                {title: 'Table', items: [
                {title: 'Wzór 1', selector: 'table', classes: 'table1'}
            ]},
            {title: 'Pogrubiony', inline: 'b', icon: 'bold'},
            {title: 'Kursywa', inline: 'i', icon: 'italic'},
            {title: 'Podkreślenie', inline: 'span', styles : {textDecoration : 'underline'}, icon: 'underline'},
            {title: 'Indeks górny', inline: 'sup', icon: 'superscript'},
            {title: 'Indeks dolny', inline: 'sub', icon: 'subscript'},
        ],
    });
{% endblock javascripts %}