{% extends '@DFPEtapI/layout.html.twig' %}

{% block content %}
    <section>
        <h1>Formularz podstawowej karty klienta</h1>
        {{ form_start(kartaPodstawowa) }}
            {#{{ form_errors(kartaPodstawowa) }}#}

            {#{{ form_row(kartaPodstawowa.nazwaPelna) }}#}
            {#{{ form_row(kartaPodstawowa.nazwaSkrocona) }}#}
            {#{{ form_row(kartaPodstawowa.nip) }}#}
            {#{{ form_row(kartaPodstawowa.profileDzialalnosci) }}#}
        {#Województwo<br/>#}
        {#Miejscowość<br/>#}
        {#Kod Pocztowy<br/>#}
        {#Ulica<br/>#}
            {#{{ form_row(kartaPodstawowa.kodMax) }}#}
            {#{{ form_row(kartaPodstawowa.kanalDystrybucji) }}#}

        {{ form_end(kartaPodstawowa) }}

        <a href="{{ path('url_lista_klientow') }}">Powrót do listy klientów</a>
    </section>
{% endblock content %}