{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/main_2.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/layout_2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="{{ asset('css/custom-theme/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/karta_klienta_bootstrap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/qTip.css') }}" rel="stylesheet"/>
    <link href="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/timepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>
{% endblock javascript %}

{% set stanowiska = ["Dyrektor DFP", "Administrator Portalu DFP", "Koordynatod DFP", "Kierownik Produktu"] %}

{% block content -%}
    <style>
        #tabela-informacje-podstawowe th{
            white-space: nowrap;
        }
    </style>
    <div class="page-header" style="margin-top: 0px;">
        <h1><i class="fa fa-folder-open"></i> {{ filia.nazwaFilii }} <small>{{ filia.klient.nazwaSkrocona }}</small></h1>
    </div>
    <nav id="top-page-menu">
        <ul class="nav nav-pills nav-justified">
            <li><a href="#info-podstawowe"><i class="fa fa-info-circle"></i> Informacje podstawowe</a></li>
            <li><a href="#info-dodatkowe"><i class="fa fa-folder"></i> Informacje dodatkowe</a></li>
            <li><a href="#informacje-pozostale"><i class="fa fa-sticky-note"></i> Notatki, pracownicy etc.</a></li>
            <li><a href="#menu-akcji"><i class="fa fa-bolt"></i> Menu akcji</a></li>
        </ul>
    </nav>
    <section class="container-fluid">
        <section id="info-podstawowe">
            <h3><i class="fa fa-info-circle"></i> Informacje podstawowe:</h3>
            <table id="tabela-informacje-podstawowe" class="table table-bordered table-striped table-condensed record_properties">
                <tbody>
                <tr>
                    <th><i class="fa fa-building"></i> Filia klienta:</th>
                    <td><a class="link" href="{{ path('url_pokaz_karte_klienta', {'id': filia.klient.id} ) }}">{{ filia.klient.nazwaPelna }}</a></td>
                </tr>
                <tr>
                    <th><i class="fa fa-globe"></i> Adres strony WWW:</th>
                    <td>
                        {% if filia.klient.stronaWWW %}
                            <a class="link" href="{{ filia.klient.stronaWWW }}" target="_blank">{{ filia.klient.stronaWWW }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th><i class="fa fa-map-marker"></i> Adres filii:</th>
                    <td>{{ filia.kodPocztowy|kodPocztowy }} {{ filia.miejscowosc }}; ul. {{ filia.ulica }}</td>
                </tr>
                <tr>
                    <th><i class="fa fa-tags"></i> Profil działalności:</th>
                    <td>
                        {% for profil in filia.profileDzialalnosci %}
                            <span class="label label-info">{{ profil }}</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th><i class="fa fa-paint-brush"></i> Stosowany system malarski:</th>
                    <td>{{ filia.matlakDotychczas|striptags|raw }}</td>
                </tr>
                <tr>
                    <th><i class="fa fa-line-chart"></i> Wielkość zużycia:</th>
                    <td>{{ filia.zuzycieMaterialow|striptags|raw }}</td>
                </tr>
                <tr>
                    <th><i class="fa fa-paint-brush"></i> Kolorystyka:</th>
                    <td>{{ filia.kolorystyka|raw }}</td>
                </tr>
                <tr>
                    <th><i class="fa fa-tags"></i> Materiały uzupełniające:</th>
                    <td>
                        {% for material in filia.filieMaterialyUzupelniajace %}
                            <span class="label label-info">{{ material|raw }}</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th><i class="fa fa-info-circle"></i> KRD:</th>
                    <td>{{ filia.krdInformacje|striptags|raw }}</td>
                </tr>
                <tr>
                    <th><i class="fa fa-commenting"></i> Adnotajce:</th>
                    <td>{{ filia.adnotacja|striptags|raw }}</td>
                </tr>
                <tr>
                    <th><i class="fa fa-calendar"></i> Data założenia karty klient:</th>
                    <td>{{ filia.klient.dataZalozenia|localizeddate('long','medium') }}</td>
                </tr>
                </tbody>
            </table>
        </section>

        <section id="info-dodatkowe">
            <h3><i class="fa fa-folder"></i> Informacje dodatkowe:</h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Rodzaj podłoża</div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for rodzajPowierzchniFilii in filia.filieRodzajePowierzchni %}
                                    <div class="list-group-item">
                                        <h5><i class="fa fa-chevron-right"></i> {{ rodzajPowierzchniFilii.rodzajPowierzchni.nazwa }}</h5>
                                        <p>{{ rodzajPowierzchniFilii.info }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Metoda przygotowania powierzchni</div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for procesFilii in filia.filieProcesyPrzygotowaniaPowierzchni %}
                                    <div class="list-group-item">
                                        <h5><i class="fa fa-chevron-right"></i> {{ procesFilii.procesPrzygotowaniaPowierzchni.nazwaProcesu }}</h5>
                                        <p>{{ procesFilii.info }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Metoda aplikacji farby</div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for procesFilii in filia.filieProcesyAplikacji %}
                                    <div class="list-group-item">
                                        <h5><i class="fa fa-chevron-right"></i> {{ procesFilii.procesAplikacji.nazwaProcesu }}</h5>
                                        <p>{{ procesFilii.info }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Parametry utwardzania powłoki</div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for procesFilii in filia.filieProcesyUtwardzaniaPowloki %}
                                    <div class="list-group-item">
                                        <h5><i class="fa fa-chevron-right"></i> {{ procesFilii.procesUtwardzaniaPowloki.nazwaProcesu }}</h5>
                                        <dl class="dl-horizontal">
                                            <dt>Temp. min:</dt>
                                            <dd><em>{{ procesFilii.tempMin ? procesFilii.tempMin ~ '°C' : 'brak danych' }}</em></dd>
                                            <dt>Temp max:</dt>
                                            <dd><em>{{ procesFilii.tempMax ? procesFilii.tempMax ~ '°C' : 'brak danych' }}</em></dd>
                                            <dt>Czas:</dt>
                                            <dd><em>{{ procesFilii.czasSchniecia ? procesFilii.czasSchniecia : 'brak danych' }}</em></dd>
                                        </dl>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Wymagania powłoki lakierowej</div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for row in filia.filieWymaganiaPowloki %}
                                    <div class="list-group-item">
                                        <h5><i class="fa fa-chevron-right"></i> {{ row.wymaganiaPowloki.nazwaParametru }}</h5>
                                        <p>{{ row.info }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Parametry produktu obecnie stosowanego</div>
                        <div class="panel-body">
                            <div class="list-group">
                                {% for row in filia.filieWymaganiaProduktu %}
                                    <div class="list-group-item">
                                        <h5><i class="fa fa-chevron-right"></i> {{ row.wymaganiaProduktu.nazwaParametru }}</h5>
                                        <p>{{ row.info }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>

        <section id="informacje-pozostale">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#notatki" data-toggle="tab">Notatki</a></li>
                <li><a href="#pracownicy" data-toggle="tab">Pracownicy</a></li>
                <li><a href="#" data-toggle="tab">Wizyty techniczne</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="notatki">
                    <div class="row">
                        {% for notatka in filia.filieNotatki %}
                            {% set wyrozniona = notatka.uzytkownik.profilUzytkownika.stanowisko in stanowiska ? true : false %}
                            <div class="notatka col-lg-12">
                                <div class="naglowek row">
                                    <div class="col-xs-3">
                                        <span class="label kategoria-{{ notatka.rodzaj }}">{{ attribute(notatka_kategorie,notatka.rodzaj) }}</span>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        {% set nav_buttons = "" %}
                                        {% if notatka.uzytkownik == app.user %}
                                            {% set nav_buttons = nav_buttons~"<a class='btn btn-danger btn-xs' href='#{ path('frontend_filia_notatka_usun', {'id': notatka.id }) }'><i class='fa fa-trash-o'></i> usuń</a>" %}
                                            {% if date(notatka.koniecEdycji) > date('now') %}
                                                {% set nav_buttons = "<a class='btn btn-warning btn-xs' href='#{ path('frontend_filia_notatka_edytuj', {'id': notatka.id }) }'><i class='fa fa-pencil'></i> edytuj</a> "~nav_buttons %}
                                            {% endif %}
                                        {% endif %}
                                        {{ wyrozniona ? "<i class='fa fa-exclamation-triangle text-warning' title='Wpis dodany przez administratora.'></i>" }} <span class="label label-info">{{ notatka.uzytkownik }} - {{ notatka.uzytkownik.profilUzytkownika.stanowisko }}</span> <span class="note-creation-date">{{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span> {{ nav_buttons|raw }}
                                    </div>
                                </div>
                                <div class="tresc row">
                                    <div class="col-xs-12">
                                        {% if notatka.status == 0 %}
                                            <s>{{ notatka.tresc|raw }}</s>
                                        {% else %}
                                            {{ notatka.tresc|raw }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane" id="pracownicy">
                    <table class="table table-striped">
                        {% for pracownik in filia.filiePracownicy %}
                            <tr>
                                <th>{{ loop.index }}.</th>
                                <td style="white-space: nowrap;">{{ pracownik.imie }} {{ pracownik.nazwisko }}</td>
                                <td>{{ pracownik.email }}</td>
                                <td>{{ pracownik.stanowisko }}</td>
                                <td>{{ pracownik.mobile }}</td>
                                <td>{{ pracownik.telefon1 }}</td>
                                <td>{{ pracownik.notatka }}</td>
                                <td>{{ pracownik.kontakt }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="tab-pane" id="wizyty-techniczne">...</div>
            </div>
        </section>
    </section>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-messages flash-{{ type }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endfor %}

    <hr>

    <ul id="menu-akcji" class="record_actions">
        <li>
            <a href="{{ path('url_lista_klientow') }}" class="btn btn-info">
                <i class="fa fa-chevron-left"></i> Powrót do listy
            </a>
        </li>
        <li>
            <a href="{{ path('frontend_filia_edytuj', { 'id': filia.id }) }}" class="btn btn-warning">
                <i class="fa fa-pencil"></i> Edytuj
            </a>
        </li>
        <li>
            <a href="{{ path('frontend_filia_notatka_new', {'id': filia.id}) }}" class="btn btn-success">
                <i class="fa fa-plus-square-o"></i> Dodaj notatkę
            </a>
        </li>
        <li style="float: right;">
            <a id="zamow-oferte" href="{{ path('frontend_filia_ajax_zamowienie_oferty', {'id': filia.id}) }}" class="btn btn-primary"><i class="fa fa-bullhorn"></i> Zamów ofertę</a>
        </li>
        {#<li>
            <a href="{{ path('frontend_filia_notatka_new', {'id': filia.id}) }}" class="art-button">
                Lista pracowników
            </a>
        </li>#}
    </ul>
{% endblock %}

{% block modal_windows %}
    <div>
        <p>Przekaż Technikowi / Koordynatorowi istotne informacje dotyczące zamawianej <strong>oferty handlowej</strong></p>
        <form id="zamow-oferte-form" action="{{ path('frontend_filia_zamowienie_oferty', {'id': filia.id}) }}" method="post">
            <textarea name="info" style="width: 100%; height: 200px; color: #000000; padding: 5px;"></textarea>
        </form>
    </div>
{% endblock modal_windows %}

{% block javascripts %}
    {{ parent() }}
    $('#main [title]').qtip({hide: { fixed: true, delay: 500 } });
    $('#modal-windows').dialog({
        title: "Zamówienie oferty Handlowej",
        autoOpen: false,
        height: 400,
        width: 350,
        modal: true,
        draggable: true,
        resizable: true,
        buttons: {
            "send": {
                text: 'Wyślij',
                class: 'btn btn-xs btn-success',
                click: function()
                {
                    $('#zamow-oferte-form').submit();
                    $(this).dialog("close");
                }
            },
            "anuluj": {
                text: 'Anuluj',
                class: 'btn btn-xs btn-danger',
                click: function()
                {
                    $(this).dialog("close");
                }
            }
        },
    })
    $('#zamow-oferte')
    .click(function(event) {
        event.preventDefault();
        $('#modal-windows').dialog("open");
    })
    $('.flash-messages').delay(5000).fadeOut(500);
{% endblock javascripts %}