{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% block content -%}
    <section>
        <h1>Karta klienta: {{ klient.nazwaSkrocona }}</h1>

        <table class="karta-klienta">
            <tbody>
            <tr>
                <th>ID</th>
                <td>{{ klient.id }}</td>
            </tr>
            <tr>
                <th>Pełna nazwa klienta</th>
                <td>{{ klient.nazwaPelna }}</td>
            </tr>
            <tr>
                <th>Skrócona nazwa klienta</th>
                <td>{{ klient.nazwaSkrocona }}</td>
            </tr>
            <tr>
                <th>Profil działalności</th>
                <td>{{ klient.profileDzialalnosci|join(' | ') }}</td>
            </tr>
            <tr>
                <th>Data założenia karty</th>
                <td>{{ klient.dataZalozenia|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>NIP</th>
                <td>{{ klient.nip|nip }}</td>
            </tr>
            <tr>
                <th>Kod MAX</th>
                <td>{{ klient.kodMax }}</td>
            </tr>
            <tr>
                <th>Kanał dystrybucji</th>
                <td>{{ klient.kanalDystrybucji }}</td>
            </tr>
            <tr>
                <th>Aktywny</th>
                <td>{{ klient.aktywny }}</td>
            </tr>
            </tbody>
        </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('url_lista_klientow') }}">
                    Powrót do listy
                </a>
            </li>
            <li>
                <a href="#">
                    Edytuj
                </a>
            </li>
        </ul>
    </section>
{% endblock %}
