{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/karta_klienta.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content -%}
    <section>
        <h1>Filia <sup>(ID: {{ filia.id }})</sup></h1>
        <div class="status-container">
            {% if filia.aktywna == 1 %}
                <span class="aktywny">Aktywna</span>
            {% else %}
                <span class="nieaktywny">Nieaktywna</span>
            {% endif %}
        </div>
        <section id="info-podstawowe">
            <h2>Informacje podstawowe:</h2>
            <table class="record_properties">
                <tbody>
                <tr>
                    <th>Filia klienta:</th>
                    <td><a href="{{ path('url_pokaz_karte_klienta', {'id': filia.klient.id} ) }}">{{ filia.klient.nazwaPelna }}</a></td>
                </tr>
                <tr>
                    <th>Nazwa filii:</th>
                    <td>{{ filia.nazwaFilii }}</td>
                </tr>
                <tr>
                    <th>Adres filii:</th>
                    <td>{{ filia.kodPocztowy|kodPocztowy }} {{ filia.miejscowosc }}; ul. {{ filia.ulica }}</td>
                </tr>
                <tr>
                    <th>Przypisani agenci:</th>
                    <td>{{ filia.filieUzytkownicy|join(" | ") }}</td>
                </tr>
                <tr>
                    <th>Dotychczas używane materiały lakiernicze:</th>
                    <td>{{ filia.matlakDotychczas }}</td>
                </tr>
                <tr>
                    <th>Zużycie materiałów:</th>
                    <td>{{ filia.zuzycieMaterialow }}</td>
                </tr>
                <tr>
                    <th>Adnotacje:</th>
                    <td>{{ filia.adnotacja }}</td>
                </tr>
                </tbody>
            </table>
        </section>

        <section id="info-dodatkowe" class="two-columns">
            <h2>Informacje dodatkowe:</h2>
            <div class="lewa">
                <fieldset>
                    <legend>Profile działalności</legend>
                    <ul>
                        {% for profilDzialalnosci in filia.profileDzialalnosci %}
                            <li>{{ profilDzialalnosci }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Procesy aplikacji</legend>
                    <ul>
                        {% for procesAplikacji in filia.filieProcesyAplikacji %}
                            <li>{{ procesAplikacji }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Wymagania produktów</legend>
                    <ul>
                        {% for wymaganiaProduktu in filia.filieWymaganiaProduktow %}
                            <li>{{ wymaganiaProduktu }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
            </div>
            <div class="prawa">
                <fieldset>
                    <legend>Procesy przygotowania powierzchni</legend>
                    <ul>
                        {% for procesPrzygotowaniaPowierzchni in filia.filieProcesyPrzygotowaniaPowierzchni %}
                            <li>{{ procesPrzygotowaniaPowierzchni }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Procesy utwardzania powłoki</legend>
                    <ul>
                        {% for procesUtwardzaniaPowloki in filia.filieProcesyUtwardzaniaPowlok %}
                            <li>{{ procesUtwardzaniaPowloki }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Wymagania powłoki</legend>
                    <ul>
                        {% for wymaganiaPowloki in filia.filieWymaganiaPowlok %}
                            <li>{{ wymaganiaPowloki }}</li>
                        {% endfor %}
                    </ul>
                </fieldset>
            </div>
        </section>

        <section id="notatki">
            <h2>Notatki:</h2>
            <div class="container">
                {% for notatka in filia.filieNotatki %}
                    <div class="notatka">
                        {% if notatka.status == 0 %}
                            <div class="naglowek">
                                    <span>{{ notatka.uzytkownik }} {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span>
                            </div>
                            <div class="tresc">
                                <s>{{ notatka.tresc }}</s>
                            </div>
                        {% else %}
                            <div class="naglowek">
                                {% if date(notatka.koniecEdycji) > date('now') %}
                                    <span>{{ notatka.uzytkownik }} {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span> <ul class="record_actions"><li><a href="#">Edytuj</a></li> <li><a href="#">Usuń</a></li></ul>
                                {% else %}
                                    <span>{{ notatka.uzytkownik }} {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span> <ul class="record_actions"><li><a href="#">Usuń</a> </li></ul>
                                {% endif %}
                            </div>
                            <div class="tresc">
                                {{ notatka.tresc }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>


    <ul class="record_actions">
        <li>
            <a href="{{ path('url_lista_klientow') }}">
                Powrót do listy
            </a>
        </li>
        <li>
            {#<a href="{{ path('backend_filia_edytuj', { 'id': filia.id }) }}">#}
            <a href="">
                Edytuj
            </a>
        </li>
        <li>
            <a href="{{ path('frontend_filia_notatka_new', {'id': filia.id}) }}">
                Dodaj notatkę
            </a>
        </li>
    </ul>
{% endblock %}
