{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% block content -%}
    <section>
        <h1>Karta klienta: {{ entity.nazwaSkrocona }}</h1>

        <table class="karta-klienta">
            <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Pełna nazwa klienta</th>
                <td>{{ entity.nazwaPelna }}</td>
            </tr>
            <tr>
                <th>Skrócona nazwa klienta</th>
                <td>{{ entity.nazwaSkrocona }}</td>
            </tr>
            <tr>
                <th>Data założenia karty</th>
                <td>{{ entity.dataZalozenia|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>NIP</th>
                <td>{{ entity.nip }}</td>
            </tr>
            <tr>
                <th>Kod MAX</th>
                <td>{{ entity.kodMax }}</td>
            </tr>
            <tr>
                <th>Kanał dystrybucji</th>
                <td>{{ entity.kanalDystrybucji }}</td>
            </tr>
            <tr>
                <th>Aktywny</th>
                <td>{{ entity.aktywny }}</td>
            </tr>
            </tbody>
        </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('url_lista_klientow') }}">
                    Powrót do listy
                </a>
            </li>
            <li>
                <a href="{{ path('klient_edit', { 'id': entity.id }) }}">
                    Edytuj
                </a>
            </li>
        </ul>
    </section>
{% endblock %}
