{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/karta_klienta.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block content -%}
    <section>
        <h1>Filia <sup>(ID: {{ filia.id }})</sup></h1>
        <div class="status-container">
            {% if filia.aktywna == 1 %}
                <span class="aktywny">Aktywna</span>
            {% else %}
                <span class="nieaktywny">Nieaktywna</span>
            {% endif %}
        </div>
        <section id="info-podstawowe">
            <h2>Informacje podstawowe:</h2>
            <table class="record_properties">
                <tbody>
                <tr>
                    <th>Filia klienta:</th>
                    <td><a href="{{ path('url_pokaz_karte_klienta', {'id': filia.klient.id} ) }}">{{ filia.klient.nazwaPelna }}</a></td>
                </tr>
                <tr>
                    <th>Nazwa filii:</th>
                    <td>{{ filia.nazwaFilii }}</td>
                </tr>
                <tr>
                    <th>Adres filii:</th>
                    <td>{{ filia.kodPocztowy|kodPocztowy }} {{ filia.miejscowosc }}; ul. {{ filia.ulica }}</td>
                </tr>
                <tr>
                    <th>Przypisani agenci:</th>
                    <td>{{ filia.filieUzytkownicy|join(" | ") }}</td>
                </tr>
                <tr>
                    <th>Profil działalności:</th>
                    <td>{{ filia.profileDzialalnosci|join(" | ") }}</td>
                </tr>
                <tr>
                    <th>Dotychczas stosowany system malarski:</th>
                    <td>{{ filia.matlakDotychczas|raw }}</td>
                </tr>
                <tr>
                    <th>Zużycie materiałów:</th>
                    <td>{{ filia.zuzycieMaterialow }}</td>
                </tr>
                <tr>
                    <th>Adnotacje:</th>
                    <td>{{ filia.adnotacja|raw }}</td>
                </tr>
                </tbody>
            </table>
        </section>

        <section id="info-dodatkowe" class="two-columns">
            <h2>Informacje dodatkowe:</h2>
            <div class="lewa">
                <fieldset>
                    <legend>Procesy aplikacji</legend>
                    {% if filia.filieProcesyAplikacji|length > 0 %}
                        <dl class="table-display">
                            {% for procesFilii in filia.filieProcesyAplikacji %}
                                <dt>{{ procesFilii.procesAplikacji.nazwaProcesu }}</dt>
                                <dd>{{ procesFilii.info }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <legend>Wymagania produktów</legend>
                    {% if filia.filieWymaganiaProduktu|length > 0 %}
                        <dl class="table-display">
                            {% for filiaWymaganiaProduktu in filia.filieWymaganiaProduktu %}
                                <dt>{{ filiaWymaganiaProduktu.wymaganiaProduktu.nazwaParametru }}</dt>
                                <dd>{{ filiaWymaganiaProduktu.info }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
            </div>
            <div class="prawa">
                <fieldset>
                    <legend>Procesy przygotowania powierzchni</legend>
                    {% if filia.filieProcesyPrzygotowaniaPowierzchni|length > 0 %}
                        <dl class="table-display">
                            {% for procesFilii in filia.filieProcesyPrzygotowaniaPowierzchni %}
                                <dt>{{ procesFilii.procesPrzygotowaniaPowierzchni.nazwaProcesu }}</dt>
                                <dd>{{ procesFilii.info }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <legend>Procesy utwardzania powłoki</legend>
                    {% if filia.filieProcesyUtwardzaniaPowloki|length > 0 %}
                        <dl class="table-display">
                            {% for procesFilii in filia.filieProcesyUtwardzaniaPowloki %}
                                <dt>{{ procesFilii.procesUtwardzaniaPowloki.nazwaProcesu }}</dt>
                                <dd>
                                    <dl>
                                        <dt>Temp. min:</dt>
                                        <dd>{{ procesFilii.tempMin }}&#176;C</dd>
                                        <dt>Temp max:</dt>
                                        <dd>{{ procesFilii.tempMax }}&#176;C</dd>
                                        <dt>Czas:</dt>
                                        <dd>{{ procesFilii.czasSchniecia }} min</dd>
                                    </dl>
                                </dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <legend>Wymagania powłoki</legend>
                    {% if filia.filieWymaganiaPowloki|length > 0 %}
                        <dl class="table-display">
                            {% for wymaganiaPowloki in filia.filieWymaganiaPowloki %}
                                <dt>{{ wymaganiaPowloki.wymaganiaPowloki.nazwaParametru }}</dt>
                                <dd>{{ wymaganiaPowloki.info }}</dd>
                            {% endfor %}
                        </dl>
                    {% endif %}
                </fieldset>
            </div>
        </section>

        <section id="notatki">
            <h2>Notatki:</h2>
            <div class="container">
                {% for notatka in filia.filieNotatki %}
                    <div class="notatka">
                        {% if notatka.status == 0 %}
                            <div class="naglowek">
                                    <span>{{ notatka.uzytkownik }} {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span>
                            </div>
                            <div class="tresc">
                                <s>{{ notatka.tresc|raw }}</s>
                            </div>
                        {% else %}
                            <div class="naglowek">
                                {% if notatka.uzytkownik == app.user %}
                                    {% if date(notatka.koniecEdycji) > date('now') %}
                                        <span>{{ notatka.uzytkownik }} {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span> <ul class="record_actions"><li><a href="#">Edytuj</a></li> <li><a href="{{ path('frontend_filia_notatka_usun', {'id': notatka.id }) }}">Usuń</a></li></ul>
                                    {% else %}
                                        <span>{{ notatka.uzytkownik }} {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span> <ul class="record_actions"><li><a href="{{ path('frontend_filia_notatka_usun', {'id': notatka.id }) }}">Usuń</a> </li></ul>
                                    {% endif %}
                                {% else %}
                                    <span>{{ notatka.uzytkownik }} {{ notatka.dataSporzadzenia|date('Y-m-d H:i:s') }}</span>
                                {% endif %}
                            </div>
                            <div class="tresc">
                                {{ notatka.tresc|raw }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </section>


    <ul class="record_actions">
        <li>
            <a href="{{ path('url_lista_klientow') }}" class="art-button">
                Powrót do listy
            </a>
        </li>
        <li>
            <a href="{{ path('frontend_filia_edytuj', { 'id': filia.id }) }}" class="art-button">
                Edytuj
            </a>
        </li>
        <li>
            <a href="{{ path('frontend_filia_notatka_new', {'id': filia.id}) }}" class="art-button">
                Dodaj notatkę
            </a>
        </li>
    </ul>
{% endblock %}
