{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% macro file(id, slug, type, title, content, control, token) %}
    <div class="media">
        <div class="media-left pull-left">
            <a href="{{ path('do_pobrania_pobierz', { 'slug' : slug}) }}">
                <img class="media-object" src="{{ asset(getFileTypeIcon(type)) }}">
            </a>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <span class="nazwa-zalacznika">{{ title }}</span>
                {% if control %}
                    <span class="pull-right">
                        {#<a href="#">Edytuj</a>#}
                        <a class="text-danger usun-zalacznik" href="{{ path('do_pobrania_usun', { 'id' : id, 'token' : token }) }}">Usuń</a>
                    </span>
                {% endif %}
            </div>
            <p>{{ content }}</p>
        </div>
    </div>
{% endmacro %}

{% import _self as media %}

{% block title %}Portal DFP - do pobrania{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock javascript %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h1>Do pobrania <small>materiały Działu Technicznego</small></h1>
            </div>
            <div class="col-md-2">
                {% if uprawnienia %}
                    <a href="{{ path('do_pobrania_new') }}" class="btn btn-primary pull-right">Dodaj</a>
                {% endif %}
            </div>
        </div>

        <hr>

        {% for row in do_pobrania %}
            {% set do_pobrania_token = csrf_provider ? csrf_provider.generateCsrfToken(token|format(row.id)) : null %}
            {{ media.file(row.id,row.slug,row.zalacznik.typ,row.title,row.content,uprawnienia,do_pobrania_token) }}
        {% endfor %}
    </div>
{% endblock content %}

{% block javascripts %}
    $('body').on('click','.usun-zalacznik',function(e)
    {
        e.preventDefault();
        var $btn = $(this);
        var $usunUrl = $btn.attr('href');
        $.ajax({
            url: $usunUrl,
            type: 'DELETE',
            success: function(json)
            {
                alert(json.message);
                if(json.status === 'ok')
                {
                    $btn.closest('.media').remove();
                }
            }
        })
    })
{% endblock javascripts %}