{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% form_theme form '@DFPEtapI/Form/bootstrap_form.html.twig' %}

{% block title %}Portal DFP - do pobrania | nowy{% endblock %}

{% block content -%}
    <style type="text/css">
        .container-fluid input[type="file"] {
            height: auto;
            background: none;
            border: none;
        }
    </style>
    <div class="container-fluid">
        <h1 class="page-header">Do pobrania <small>dodaj nowy materiał</small></h1>

        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            <div class="form-group">
                {{ form_label(form.publishedDate) }}
                <div class="col-sm-9">
                    {{ form_widget(form.publishedDate) }}
                </div>
            </div>
            {{ form_row(form.sort) }}
            <div class="form-group">
                {{ form_label(form.allowedGroups) }}
                <div class="col-sm-9">
                    {{ form_widget(form.allowedGroups) }}
                </div>
            </div>
        {{ form_row(form.zalacznik.file) }}

        <hr>

        <div class="row">
            <div class="col-md-12">
                {{ form_widget(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}