{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <h1>Lista profili działalności</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa profilu</th>
                <th>Informacje</th>
                <th>Weryfikacja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('profildzialalnosci_show', { 'id': entity.id }) }}">{{ entities.getPaginationData['firstItemNumber'] + loop.index - 1}}.</a></td>
                <td>{{ entity.nazwaProfilu }}</td>
                <td>{{ entity.info }}</td>
                <td>{% if entity.zweryfikowany == 1 %}TAK{% else %}NIE{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('profildzialalnosci_show', { 'id': entity.id }) }}" class="art-button">pokaż</a>
                    </li>
                    <li>
                        <a href="{{ path('profildzialalnosci_edit', { 'id': entity.id }) }}" class="art-button">edytuj</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(entities) }}
    </div>
{% endblock %}
