{% extends '@DFPEtapI/layout.html.twig' %}

{% form_theme form '@DFPEtapI/Form/bootstrap_form.html.twig' %}

{% block title %}Portal DFP - wyszukiwarka{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/main_2.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/layout_2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/dfp_obsluga_tabel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock javascript %}

{% block content %}
    <div class="page-header" style="margin-top: 0px;">
        <h1>Wyszukiwarka klientów <small>po NIP, kodzie MAX lub nazwie</small></h1>
    </div>

    <div class="well-sm">
        {{ form_start(form, {'attr' : { 'class' : 'form-inline' } }) }}
        <div class="form-group">
            <label for="{{ form.nip.vars.id }}">{{ form.nip.vars.label }}</label>
            {{ form_widget(form.nip) }}
            {{ form_errors(form.nip) }}
        </div>
        <div class="form-group">
            <label for="{{ form.skrotNazwy.vars.id }}">{{ form.skrotNazwy.vars.label }}</label>
            {{ form_widget(form.skrotNazwy) }}
            {{ form_errors(form.skrotNazwy) }}
        </div>
        <div class="form-group">
            <label for="{{ form.kodMax.vars.id }}">{{ form.kodMax.vars.label }}</label>
            {{ form_widget(form.kodMax) }}
            {{ form_errors(form.kodMax) }}
        </div>
        <button type="submit" class="btn btn-primary">Szukaj</button>
        {{ form_end(form) }}
    </div>

    <hr>

    <section class="container-fluid">
        <table id="lista-klientow" class="table records_list table-bordered table-striped table-hover lista-klientow">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Klient</th>
                    <th>Adres</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for filia in filie %}
                <tr class="{{ filia.filieUzytkownicy is not empty ? 'przeterminowane danger' }}">
                    <th>
                        {% if filia.filieUzytkownicy is empty %}
                            <a href="{{ path('frontend_pokaz_filie_klienta', { 'id' : filia.id }) }}">{{ loop.index }}.</a>
                        {% else %}
                            {{ loop.index }}.
                        {% endif %}
                    </th>
                    <td>{{ filia.id }}</td>
                    <td>{{ filia.klient.nazwaSkrocona }}</td>
                    <td>{{ filia.ulica }}, {{ filia.kodPocztowy|kodPocztowy }} {{ filia.miejscowosc }}</td>
                    <td>{{ filia.filieUzytkownicy is not empty ? 'Przypisany' : 'Wolny' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% for flashMessage in app.session.flashBag.get('notice') %}
            <div class="alert alert-info">
                <p><i class="glyphicon glyphicon-exclamation-sign"></i> {{ flashMessage }}</p>
            </div>
        {% endfor %}
    </section>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    $('.lista-klientow').obslugaTabel();
{% endblock javascripts %}