{% extends '@DFPEtapI/layout.html.twig' %}

{% form_theme form '@DFPEtapI/Form/bootstrap_form.html.twig' %}

{% block title %}Portal DFP - wyszukiwarka{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock javascript %}

{% block content %}
    <div class="well-sm">
        {{ form(form) }}
    </div>
    <section class="container-fluid">

    </section>
{% endblock content %}