{% extends '@DFPEtapI/layout.html.twig' %}

{% block title %}Portal DFP - wykaz zmian{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock javascript %}

{% block content %}
    <ul class="nav nav-tabs">
        <li><a href="{{ path('strona_glowna') }}">Wiadomości</a></li>
        <li class="active"><a href="{{ path('wykaz_zmian_show') }}">Wykaz zmian</a></li>
    </ul>
    <h1>Wykaz zmian</h1>
    <p>Lista wszystkich zmian wprowadzanych do Portalu DFP.</p>

    {#  Wersja [1.0.4] - (2015-07-31)   #}
    <h3>Wersja 1.0.4 - 2015-07-31</h3>
    <h5>Dodane</h5>
    <ul>
        <li>-</li>
    </ul>
    <h5>Zmienione</h5>
    <ul>
        <li>Zmiana sposobu sortowania list "aktualności" (od najnowszej do najstarszej)</li>
        <li>Zmiana sposobu sortowania list materiałów "do pobrania" (1.według liczby sortowania; 2.według daty utworzenia)</li>
    </ul>
    <h5>Poprawki</h5>
    <ul>
        <li>Poprawienie błędnego wyświetlania jednostek podczas poglądu opracowanej oferty handlowej (zawsze wyświetlało się w litrach)</li>
    </ul>

    {#  Wersja [1.0.3] - (2015-07-20)   #}
    <h3>Wersja 1.0.3 - 2015-07-20</h3>
    <h5>Dodane</h5>
    <ul>
        <li>Lista filii klienta podczas podglądu jego karty</li>
    </ul>
    <h5>Zmienione</h5>
    <ul>
        <li>Zmieniony wygląd listy klientów od strony zaplecza</li>
    </ul>

    {#  Wersja [1.0.2] - (2015-07-16)   #}
    <h3>Wersja 1.0.2 - 2015-07-16</h3>
    <h5>Dodane</h5>
    <ul>
        <li>Data sporządzenia oferty cenowej</li>
        <li>Nowa jednostka opakowania produktu (sztuki)</li>
    </ul>
    <h5>Zmienione</h5>
    <ul>
        <li>Zmiana organizacji wyświetlania wykazu zmian</li>
        <li>Dostosowanie generowanej oferty w formacie PDF do nowych warunków (opakowanie - sztuki)</li>
    </ul>

    {#  Wersja [1.0.1] - (2015-07-06)   #}
    <h3>Wersja 1.0.1 - 2015-07-06</h3>
    <h5>Dodane</h5>
    <ul>
        <li>-</li>
    </ul>
    <h5>Zmienione</h5>
    <ul>
        <li>Poprawki wizualne głównej strony portalu (wykaz aktualności)</li>
    </ul>

    {#  Wersja [1.0.0] - (2015-06-16)   #}
    <h3>Wersja 1.0.0 - 2015-06-16</h3>
    <h5>Dodane</h5>
    <ul>
        <li>Ustalenie obecnego stanu aplikacji jako wersja 1.0.0.</li>
        <li>Mechanizm wyświetlania, edycji oraz dodawania aktualności DFP</li>
        <li>Mechanizm informowania o zmianach aplikacji</li>
    </ul>
    <h5>Zmienione</h5>
    <ul>
        <li>Wizualna zmiana głównej strony aplikacji</li>
    </ul>

{% endblock content %}