{% extends '@GCSVCore/Backend/backend_layout.html.twig' %}

{% block content -%}
    {{ form_start(edit_form) }}
    <section class="container-fluid">
        <h1>{% trans %}RaportZuzycia - Edycja{% endtrans %}</h1>

        <div class="container-fluid">
            {% for child in form %}
                <div class="row">
                    <div class="col-sm-12">
                        {{ form_row(child) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    {{ form_end(edit_form) }}

        <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
                            {{ form_start(delete_form) }}
                        <a href="{{ path('raport-zuzycia') }}" class="btn btn-warning" role="button">{% trans %}Powrót{% endtrans %}</a>
            
                            {{ form_widget(delete_form.submit, { "attr" : { "class" : "btn btn-danger" } } ) }}
                {{ form_end(delete_form) }}
                    </div>
    </div>
</div>
{% endblock %}
