{% extends '@GCSVCore/Frontend/frontend_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/gcsvcore/css/thirdparty/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/gcsvtechnical/css/lista_wizyt.css') }}">
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/gcsvcore/js/thirdparty/moment/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gcsvcore/js/thirdparty/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

{% block title %}- zestawienie prac DT{% endblock %}

{% block content -%}
    <style type="text/css">
        .info2 > th {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 30px;
        }
        #zestawienie-naglowek h1, #zestawienie-naglowek h2 {
            margin: 0;
        }
        #zestawienie-table tbody td:not(.col-osoba) {
            text-align: center;
        }
        #technik-scope table {
            font-size: 11px;
        }
        #technik-scope .col-uwagi * {
            cursor: help;
        }
        #technik-scope caption {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 10px;
            text-decoration: underline;
        }
        .scoped th, .scoped td {
            background-color: #DFF0D8 !important;
        }
        .list-group-item .badge {
            background-color: #87CEEB;
        }
        .list-group-item-info .badge {
            background-color: #FF6347;
        }
        #technik-podsumowanie .fa {
            width: 18px;
        }
    </style>

    <div id="zestawienie-naglowek" class="container-fluid">
        <h2 class="col-sm-8">Podsumowanie zadań <small> {{ czytelnyZakresDat(dataOd,dataDo) }}</small></h2>
        <form method="get" action="{{ path('moje_zestawienie_prac_dt_redirect') }}" >
            <div class="col-sm-2">
                <div id="data-od-widget">
                    <input id="data-od" type="text" class="form-control datepicker text-center" name="data" value="{{ dataOd|date('M Y') }}" autocomplete="off">
                </div>
                <input id="ipt-rok" type="hidden" name="rok" value="{{ dataOd|date('Y') }}">
                <input id="ipt-miesiac" type="hidden" name="miesiac" value="{{ dataOd|date('m') }}">
            </div>
            <div class="col-sm-2 text-right">
                <button type="submit" class="btn btn-primary">Wyświetl</button>
            </div>
        </form>
    </div>
    <hr>

    <section id="technik-podsumowanie" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Wizyty techniczne <i class="fa fa-question-circle text-info pomoc" title="Ilości zrealizowanych wizyt wyrażone w DNIACH." data-toggle="tooltip"></i></div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-car pomoc" title="Ilość dni wizyt lokalnych" data-toggle="tooltip"></i> lokalne <span class="badge">{{ podsumowanie.wizytyLokalne }}</span></li>
                        <li class="list-group-item"><i class="fa fa-plane pomoc" title="Ilość dni wizyt wyjazdowych" data-toggle="tooltip"></i> wyjazdowe <span class="badge">{{ podsumowanie.wizytyWyjazdowe }}</span></li>
                        <li class="list-group-item"><i class="fa fa-graduation-cap pomoc" title="Ilość dni szkoleń wewnętrznych" data-toggle="tooltip"></i> szkolenia wewnętrzne <span class="badge">{{ podsumowanie.szkoleniaWewnetrzne }}</span></li>
                        <li class="list-group-item"><i class="fa fa-building pomoc" title="Ilość dni prac organizacyjnych" data-toggle="tooltip"></i> prace biurowe <span class="badge">{{ podsumowanie.praceBiurowe }}</span></li>
                        <li class="list-group-item list-group-item-info pomoc"><i class="fa fa-paperclip" title="Łączna ilość przepracowanych dni" data-toggle="tooltip"></i> łącznie <span class="badge">{{ podsumowanie.wizytyLokalne + podsumowanie.wizytyWyjazdowe + podsumowanie.szkoleniaWewnetrzne + podsumowanie.praceBiurowe }}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Urlopy i zwolnienia</div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-sun-o pomoc" title="Ilość dni urlopu" data-toggle="tooltip"></i> urlopy <span class="badge">{{ podsumowanie.urlopy }}</span></li>
                        <li class="list-group-item"><i class="fa fa-ambulance pomoc" title="Ilość dni na zwolnieniu" data-toggle="tooltip"></i> zwolnienia <span class="badge">{{ podsumowanie.zwolnienia }}</span></li>
                        <li class="list-group-item list-group-item-info pomoc"><i class="fa fa-paperclip" title="Łączna ilość dni niepracujących" data-toggle="tooltip"></i> łącznie <span class="badge">{{ podsumowanie.urlopy + podsumowanie.zwolnienia }}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Dokumentacja</div>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-file-text pomoc" title="Ilość utworzonych raportów technicznych" data-toggle="tooltip"></i> raporty techniczne <span class="badge">{{ podsumowanie.raportyTechniczne }}</span></li>
                        <li class="list-group-item"><i class="fa fa-file-text-o pomoc" title="Ilość utworzonych notatek" data-toggle="tooltip"></i> notatki wewnętrzne <span class="badge">{{ podsumowanie.notatkiWewnetrzne }}</span></li>
                        <li class="list-group-item"><i class="fa fa-file-text text-danger pomoc" title="Ilość utworzonych raportów zużyć" data-toggle="tooltip"></i> raporty zużycia <span class="badge">{{ podsumowanie.raportyZuzycia }}</span></li>
                        <li class="list-group-item"><i class="fa fa-file text-success pomoc" title="Ilość dodanych receptur" data-toggle="tooltip"></i> receptur <span class="badge">{{ podsumowanie.receptury }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="technik-scope">
        <table class="table table-bordered lista-wizyt">
            <caption class="text-info">{{ technik.imienazwisko }} <span class="zasieg">(zasięg: {{ technik.profil.zasieg }} km)</span></caption>
            <thead>
            <tr>
                <th class="col-width-50">ID</th>
                <th>Klient</th>
                <th class="col-width-100">Rodzaj</th>
                <th class="col-width-70">Zlecający</th>
                <th class="col-width-160">Termin (Ilość dni)</th>
                <th class="col-width-70">Status</th>
                <th class="col-width-70">Dystans</th>
                <th class="col-width-50 text-center pomoc" title="Raport Techniczny" data-toggle="tooltip">RT <sup><span class="glyphicon glyphicon-question-sign"></span></sup></th>
                <th class="col-width-50 text-center pomoc" title="Notatka Wewnętrzna" data-toggle="tooltip">NW <sup><span class="glyphicon glyphicon-question-sign"></span></sup></th>
                <th class="col-width-50 text-center pomoc" title="Raport Zużycia" data-toggle="tooltip">RZ <sup><span class="glyphicon glyphicon-question-sign"></span></sup></th>
                <th class="col-width-50 text-center pomoc" title="Receptura" data-toggle="tooltip">RE <sup><span class="glyphicon glyphicon-question-sign"></span></sup></th>
                <th class="col-width-100">Uwagi</th>
            </tr>
            </thead>
            <tbody>
            {% for termin in terminy %}
                {% set uczestnik = termin.uczestnikZdarzeniaTechnicznego %}
                {% set zdarzenieTechniczne = uczestnik.zdarzenieTechniczne %}
                {% set firma = zdarzenieTechniczne.oddzialFirmy ? zdarzenieTechniczne.oddzialFirmy.firma %}
                {% set zlecajacy = zdarzenieTechniczne.osobaZlecajaca %}
                {% set leftDays = dateDiff(termin.rozpoczecieWizyty,termin.zakonczenieWizyty)|date('%d') %}
                <tr class="{{ statusy_klasy[zdarzenieTechniczne.status] }}">
                    <th><a href="{{ path('zdarzenie_techniczne_show', { 'id' : zdarzenieTechniczne.id } ) }}">{{ termin.id }}.</a></th>
                    <td title="<storng>Pełna nazwa:</strong><br>{{ firma.nazwaPelna|default("Brak danych") }}" data-toggle="tooltip" class="pomoc">{{ firma.nazwaSkrocona|default("-") }}</td>
                    <td title="{{ zdarzenieTechniczne.rodzajZdarzeniaTechnicznego }}" data-toggle="tooltip">{{ zdarzenieTechniczne.rodzajZdarzeniaTechnicznego }}</td>
                    <td title="{{ zlecajacy.imienazwisko }}" data-toggle="tooltip">{{ zlecajacy.imienazwisko }}</td>
                    <td title="<div class='text-left'><u>Termin zdarzenia:</u><br><b>Początek: </b>{{ termin.rozpoczecieWizyty|date('d.m.Y') }}<br><b>Koniec: </b> {{ termin.zakonczenieWizyty|date_modify("-1 day")|date('d.m.Y') }}<br><b>Ilość dni: </b>{{ leftDays|default('0') }}</div>" data-toggle="tooltip">{{ termin.rozpoczecieWizyty|date('d.m.Y') }} <span class="glyphicon glyphicon-link" style="color: #0044cc;"></span> {{ termin.zakonczenieWizyty|date_modify("-1 day")|date('d.m.Y') }} ({{ leftDays|default("0") }})</td>
                    <td title="{{ statusy[zdarzenieTechniczne.status] }}" data-toggle="tooltip">{{ statusy[zdarzenieTechniczne.status] }}</td>
                    <td class="text-right">{{ uczestnik.dystans|dystans }}</td>
                    <td class="text-center"><span class="{{ zdarzenieTechniczne.isRaportTechniczny ? 'glyphicon glyphicon-ok' }}"></span></td>
                    <td class="text-center"><span class="{{ zdarzenieTechniczne.isNotatka ? 'glyphicon glyphicon-ok' }}"></span></td>
                    <td class="text-center"><span class="{{ zdarzenieTechniczne.isRaportZuzycia ? 'glyphicon glyphicon-ok' }}"></span></td>
                    <td class="text-center"><span class="{{ zdarzenieTechniczne.isReceptury ? 'glyphicon glyphicon-ok' }}"></span></td>
                    <td class="col-uwagi">
                        {{ isWizytaWyjazdowa(technik.profil.zasieg,uczestnik.dystans) ? '<i class="fa fa-plane" title="Wizyta wyjazdowa" data-toggle="tooltip"></i>' : '<i class="fa fa-car" title="Wizyta lokalna" data-toggle="tooltip"></i>' }}
                        {{ checkDateInRange(termin.rozpoczecieWizyty,termin.zakonczenieWizyty|date_modify("-1 day"),dataOd,dataDo) == false ? '<i class="fa fa-exclamation-triangle text-danger" title="Uwaga wizyta na przełomie miesiąca!" data-toggle="tooltip"></i>' }}
                        {{ zdarzenieTechniczne.rodzajZdarzeniaTechnicznego == "Szkolenie wewnętrzne" ? '<span class="label label-warning" title="Szkolenie wewnętrzne" data-toggle="tooltip">SzW</span>' }}
                        {{ zdarzenieTechniczne.rodzajZdarzeniaTechnicznego == "Prace organizacyjne DT" ? '<span class="label label-info" title="Prace organizacyjne DT" data-toggle="tooltip">PO</span>' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block dodatkowe_skrypty_js %}
    <script type="text/javascript">
        var $iptRozpoczecieDataWidget = $('#data-od-widget');
        var $iptRok = $('#ipt-rok');
        var $iptMiesiac = $('#ipt-miesiac');

        $('.datepicker').datetimepicker({
            locale: 'pl',
            useCurrent: true,
            showTodayButton: true,
            showClear: true,
            format: 'MMM YYYY'
        });
        $iptRozpoczecieDataWidget.on("dp.change", function (e) {
            $iptRok.val(e.date.format('YYYY'));
            $iptMiesiac.val(e.date.format('MM'));
        });

        $('[data-toggle="tooltip"]').tooltip({
            'container' :   'body',
            'delay'     :   500,
            'html'      :   true
        });
    </script>
{% endblock dodatkowe_skrypty_js %}