
<thead>
    <tr>
        <th>Profil działalności</th>
        <td>{{ form_widget(oferta_system.profil, { 'attr' : { 'data-live-search' : 'true' } }) }}</td>
    </tr>
</thead>
<tbody>
    <tr>
        <th>Grunt / Gruntoemalia</th>
        <td>{{ form_widget(oferta_system.warstwa1, { 'attr' : { 'data-live-search' : 'true' } }) }}</td>
        <td>Informacje dodatkowe</td>
    </tr>
    <tr>
        <th>Międzywarstwa</th>
        <td>{{ form_widget(oferta_system.warstwa2, { 'attr' : { 'data-live-search' : 'true' } }) }}</td>
        <td rowspan="3">{{ form_widget(oferta_system.informacja, { 'attr' : { 'rows' : 5 } }) }}</td>
    </tr>
    <tr>
        <th>Międzywarstwa</th>
        <td>{{ form_widget(oferta_system.warstwa3, { 'attr' : { 'data-live-search' : 'true' } }) }}</td>
    </tr>
    <tr>
        <th>Farba nawierzchniowa</th>
        <td>{{ form_widget(oferta_system.warstwa4, { 'attr' : { 'data-live-search' : 'true' } }) }}</td>
    </tr>
</tbody>
