{% extends '@DFPEtapI/layout.html.twig' %}

{% block menu_glowne %}
    <li><a class="poziom" href="#">Klienci</a>
        <ul>
            <li><a href="{{ path('backend_klient') }}">Lista klientów</a></li>
            <li><a href="{{ path('backend_filie') }}">Lista filii</a></li>
            <li><a href="{{ path('backend_klient_new') }}">Dodaj</a></li>
            <li><a href="{{ path('backend_przypisanie_lista') }}">Przedłuż przypisanie</a></li>
            <li><a href="{{ path('backend_filie_bez_lokalizacji_list') }}">Filie bez lokalizacji</a></li>
        </ul>
    </li>
    <li><a class="poziom" href="{{ path('zaplecze_slowniki') }}">Słowniki</a>
    </li>
    <li><a class="poziom" href="#">Oferty handlowe</a>
        <ul>
            <li><a href="{{ path('backend_oferty_handlowe_wszystkie') }}">Lista wszystkich ofert</a></li>
            <li><a title="Lista ofert oczekujących na dobór systemu malarskiego" href="{{ path('backend_oferty_handlowe_oczekujace_sm') }}">Oczekujące na dobór</a></li>
            <li><a title="Lista ofert oczekujących na opracowanie oferty handlowej" href="{{ path('backend_oferty_handlowe_oczekujace_oh') }}">Oczekujące na ofertę</a></li>
        </ul>
    </li>
    <li><a class="poziom" href="#">Produkty</a>
        <ul>
            <li><a href="{{ path('backend_produkty') }}">Lista</a> </li>
            <li><a href="{{ path('backend_produkty_new') }}">Dodaj</a> </li>
        </ul>
    </li>
    <li><a class="poziom" href="#">Użytkownicy</a>
        <ul>
            <li><a href="{{ path('url_lista_uzytkownikow') }}">Lista użytkowników</a></li>
            <li><a href="{{ path('backend_uzytkownik_new') }}">Dodaj nowego użytkownika</a></li>
        </ul>
    </li>
    <li><a class="poziom" href="#">Moduł Techniczny</a>
        <ul>
            <li><a href="{{ path('zaplecze_kalendarz_dt') }}">Kalendarz</a></li>
            <li><a href="{{ path("zaplecze_zdarzenia_techniczne") }}">Lista wizyt</a></li>
        </ul>
    </li>

{% endblock menu_glowne %}

{% block content %}
    <section>
        Backend aplikacji.
    </section>
{% endblock content %}