{% extends '@DFPEtapI/layout.html.twig' %}

{% block menu_glowne %}
    <li><a class="poziom" href="{{ path('backend_klient') }}">Klienci</a>
        <ul>
            <li><a href="{{ path('backend_klient') }}">Lista klientów</a></li>
            <li><a href="{{ path('backend_filie') }}">Lista filii</a></li>
            <li><a href="{{ path('backend_klient_new') }}">Dodaj</a></li>
            <li><a href="{{ path('backend_przypisanie_lista') }}">Przedłuż przypisanie</a></li>
        </ul>
    </li>
    <li><a class="poziom" href="#">Słowniki</a>
        <ul>
            <li><a href="#">Grupy klientów</a>
                <ul>
                    <li><a href="{{ path('grupaklientow') }}">Lista</a></li>
                    <li><a href="{{ path('grupaklientow_new') }}">Dodaj</a></li>
                </ul>
            </li>
            <li><a href="#">Materiały uzupełniające</a>
                <ul>
                    <li><a href="{{ path('url_materialuzupelniajacy') }}">Lista</a></li>
                    <li><a href="{{ path('url_materialuzupelniajacy_new') }}">Dodaj</a></li>
                </ul>
            </li>
            <li><a href="#">Metody aplikacji farby</a>
                <ul>
                    <li><a href="{{ path('url_procesaplikacji') }}">Lista</a></li>
                    <li><a href="{{ path('url_procesaplikacji_new') }}">Dodaj</a></li>
                </ul>
            </li>
            <li><a href="#" title="Metody przygotowania powierzchni">Metody przyg. powierzchni</a>
                <ul>
                    <li><a href="{{ path('url_procesprzygotowaniapowierzchni') }}">Lista</a></li>
                    <li><a href="{{ path('url_procesprzygotowaniapowierzchni_new') }}">Dodaj</a></li>
                </ul>
            </li>
            <li><a href="#">Parametry produktu</a>
                <ul>
                    <li><a href="{{ path('url_wymaganiaproduktu') }}">Lista</a></li>
                    <li><a href="{{ path('url_wymaganiaproduktu_new') }}">Dodaj</a></li>
                </ul>
            </li>
            <li><a href="#" title="Parametry utwardzania powłoki">Parametry utw. powłoki</a>
                <ul>
                    <li><a href="{{ path('url_procesutwardzaniapowloki') }}">Lista</a></li>
                    <li><a href="{{ path('url_procesutwardzaniapowloki_new') }}">Dodaj</a></li>
                </ul>
            </li>
            <li><a href="#">Profile działalności</a>
                <ul>
                    <li><a href="{{ path('url_profiledzialalnosci') }}">Lista</a></li>
                    <li><a href="{{ path('profildzialalnosci_new') }}">Dodaj</a></li>
                </ul>
            </li>
            <li><a href="#">Rodzaje podłoża</a>
                <ul>
                    <li><a href="{{ path('url_backend_rodzajpowierzchni') }}">Lista</a></li>
                    <li><a href="{{ path('url_backend_rodzajpowierzchni_new') }}">Dodaj</a></li>
                </ul>
            </li>
            <li><a href="#" title="Wymagania powłoki lakierowej">Wymagania powłoki lak.</a>
                <ul>
                    <li><a href="{{ path('url_wymaganiapowloki') }}">Lista</a></li>
                    <li><a href="{{ path('url_wymaganiapowloki_new') }}">Dodaj</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a class="poziom" href="#">Oferty handlowe</a>
        <ul>
            <li><a href="{{ path('backend_oferty_handlowe_wszystkie') }}">Lista wszystkich ofert</a></li>
            <li><a title="Lista ofert oczekujących na dobór systemu malarskiego" href="{{ path('backend_oferty_handlowe_oczekujace_sm') }}">Oczekujące na dobór</a></li>
            <li><a title="Lista ofert oczekujących na opracowanie oferty handlowej" href="{{ path('backend_oferty_handlowe_oczekujace_oh') }}">Oczekujące na ofertę</a></li>
        </ul>
    </li>
    <li><a class="poziom" href="#">Użytkownicy</a>
        <ul>
            <li><a href="{{ path('url_lista_uzytkownikow') }}">Lista użytkowników</a></li>
            <li><a href="#">Dodaj nowego użytkownika</a></li>
        </ul>
    </li>

{% endblock menu_glowne %}

{% block content %}
    <section>
        Backend aplikacji.
    </section>
{% endblock content %}