{% extends '@GCSVCore/Backend/backend_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui/blitzer/jquery-ui-1.10.4.custom.min.css') }}">
{% endblock %}

{% block content -%}
    <div class="page-header">
        <h1>Raport zużycia</h1>
    </div>
    <dl class="dl-horizontal">
        <dt>Identyfikator raportu</dt>
        <dd>{{ raportZuzycia.id }}</dd>
        <dt>Rodzaj wizyty</dt>
        <dd>{{ raportZuzycia.zdarzenieTechniczne.rodzajZdarzeniaTechnicznego.nazwa }}</dd>
        <dt>Technik wykonujący</dt>
        <dd>{{ raportZuzycia.zdarzenieTechniczne.uczestnikZdarzeniaTechnicznego|first.osoba.imieNazwisko }}</dd>
        <dt>Osoba zlecająca</dt>
        <dd>{{ raportZuzycia.zdarzenieTechniczne.osobaZlecajaca.imieNazwisko }}</dd>
        <dt>Nazwa klienta</dt>
        <dd>{{ raportZuzycia.zdarzenieTechniczne.oddzialFirmy.firma.nazwaSkrocona }}</dd>
        <dt>Data wizyty</dt>
        <dd>
            {% set rozpoczecieZdarzenia = raportZuzycia.zdarzenieTechniczne.uczestnikZdarzeniaTechnicznego|first.terminy|first.rozpoczecieWizyty %}
            {% set zakonczenieZdarzenia = raportZuzycia.zdarzenieTechniczne.uczestnikZdarzeniaTechnicznego|first.terminy|first.zakonczenieWizyty %}
            {{ rozpoczecieZdarzenia == zakonczenieZdarzenia ? rozpoczecieZdarzenia|date('Y-m-d') : rozpoczecieZdarzenia|date('Y-m-d')~' / '~zakonczenieZdarzenia|date('Y-m-d') }}
        </dd>
        <dt>Symbol magazynu</dt>
        <dd>{{ raportZuzycia.zdarzenieTechniczne.uczestnikZdarzeniaTechnicznego|first.osoba.magazyn.symbol }}</dd>
        <dt>Klient kanału</dt>
        <dd>
            {% if raportZuzycia.zdarzenieTechniczne.oddzialFirmy %}
                {{ raportZuzycia.zdarzenieTechniczne.oddzialFirmy.firma.kanalDystrybucji.nazwa }}
            {% else %}
                Klient nieokreślony
            {% endif %}
        </dd>
        <dt>Koszt ponosi</dt>
        <dd>
            {% set numerKonta = raportZuzycia.zdarzenieTechniczne.osobaZlecajaca.numerKonta %}
            {{ numerKonta ? numerKonta : raportZuzycia.zdarzenieTechniczne.osobaZlecajaca.imieNazwisko }}
        </dd>
        <dt>Raport zaakceptował</dt>
        <dd>{{ raportZuzycia.osobaAkceptujaca.imieNazwisko|default('-') }}</dd>
        <dt>Data akceptacji</dt>
        <dd>{{ raportZuzycia.dataAkceptacji ? raportZuzycia.dataAkceptacji|date('Y-m-d') : '-' }}</dd>
    </dl>
    <div class="clearfix"></div>
    <hr>
    <section class="container-fluid">
        <div class="panel panel-info">
            <div class="panel-heading">Lista materiałów zużytych</div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Indeks</th>
                            <th>Nazwa artykułu</th>
                            <th>Ilość</th>
                            <th title="Jednostka Masy">JM</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in raportZuzycia.raportZuzyciaProdukty if row.iloscZuzyta %}
                            <tr>
                                <td>{{ row.produkt.indeks }}</td>
                                <td>{{ row.produkt.nazwa }}</td>
                                <td>{{ row.iloscZuzyta }}</td>
                                <td>{{ row.produkt.jednostka }}</td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">Lista materiałów pozostawionych u klienta</div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Indeks</th>
                        <th>Nazwa artykułu</th>
                        <th>Ilość</th>
                        <th title="Jednostka Masy">JM</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in raportZuzycia.raportZuzyciaProdukty if row.iloscZostawiona %}
                        <tr>
                            <td>{{ row.produkt.indeks }}</td>
                            <td>{{ row.produkt.nazwa }}</td>
                            <td>{{ row.iloscZostawiona }}</td>
                            <td>{{ row.produkt.jednostka }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="col-xs-3">
                <a href="javascript: history.back();" class="btn btn-warning"><i class="fa fa-chevron-left fa-lg"></i> Powrót</a>
            </div>
            <div class="col-xs-9 text-right">
                {% if raportZuzycia.akceptacja %}
                    <a id="btn-akceptuj-cofnij" class="btn btn-danger" href="#"><i class="fa fa-undo fa-lg"></i> Cofnij akceptacje</a>
                    <a id="btn-drukuj" class="btn btn-info" href="{{ path('zaplecze_raport_zuzycia_show', { 'id' : raportZuzycia.id, '_format' : 'pdf' }) }}" target="_blank"><i class="fa fa-print fa-lg"></i> Drukuj</a>
                {% else %}
                    {% set csrfToken = csrfProvider ? csrfProvider.generateCsrfToken('delRaport%d'|format(raportZuzycia.id)) %}
                    <a id="btn-usun" class="btn btn-danger" href="{{ path('zaplecze_raport_zuzycia_delete', { 'id' : raportZuzycia.id, 'token' : csrfToken }) }}"><i class="fa fa-trash-o fa-lg"></i> Usuń</a>
                    <a class="btn btn-warning" href="{{ path('zaplecze_raport_zuzycia_edit', { 'id' : raportZuzycia.id }) }}"><i class="fa fa-pencil-square-o fa-lg"></i> Edytuj</a>
                    <a id="btn-akceptuj" class="btn btn-success" href="#"><i class="fa fa-check-square-o fa-lg"></i> Akceptuj</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="dialog-confirm" title="Oznaczyć jako wydrukowane?">
        <p><i class="fa fa-question-circle" style="float: left; font-size: 42px; width: 50px;"></i> Czy wraz z wyświetleniem raportu zużycia w formacie do druku, oznaczyć również ten raport jako "wydrukowany"?</p>
    </div>
    <div id="usun-dialog-confirm" title="Usunąć raport zużycia !?">
        <p><i class="fa fa-exclamation-circle" style="float: left; font-size: 42px; width: 50px;"></i> Ta operacja całkowicie i nieodwracalnie usunie raprot z systemu. Czy jesteś pewny, że tego chcesz?</p>
    </div>
{% endblock content -%}

{% block dodatkowe_skrypty_js %}
    <script type="text/javascript">
        var $btnDrukuj = $('#btn-drukuj');
        var $btnAkceptuj = $('#btn-akceptuj');
        var $btnAkceptujCofnij = $('#btn-akceptuj-cofnij');
        var $btnUsun = $('#btn-usun');

        $(document).ready(function(){

            $btnDrukuj.click(function(e){
                e.preventDefault();
                $( "#dialog-confirm" ).dialog('open');
            });

            $btnAkceptuj.click(function(e){
                e.preventDefault();
                $.ajax({
                    url: Routing.generate('ajax_zaplecze_raport_zuzycia_modify', { 'id' : {{ raportZuzycia.id }} } ),
                    type: "PUT",
                    data: {
                        akcja: 'akceptuj'
                    }
                }).done(function(){
                    window.location.reload();
                });
            });

            $btnAkceptujCofnij.click(function(e){
                e.preventDefault();
                $.ajax({
                    url: Routing.generate('ajax_zaplecze_raport_zuzycia_modify', { 'id' : {{ raportZuzycia.id }} } ),
                    type: "PUT",
                    data: {
                        akcja: 'akceptuj-cofnij'
                    }
                }).done(function(){
                    window.location.reload();
                });
            });

            $btnUsun.click(function(e){
                e.preventDefault();
                $("#usun-dialog-confirm").dialog('open');
            });

            $(function() {
                $( "#dialog-confirm" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    width:  500,
                    height: 180,
                    modal: true,
                    buttons: {
                        "Tak, oznacz": function() {
                            $( this ).dialog( "close" );
                            $.ajax({
                                url: Routing.generate('ajax_zaplecze_raport_zuzycia_modify', { 'id' : {{ raportZuzycia.id }} } ),
                                type: "PUT",
                                data: {
                                    akcja: 'drukuj'
                                }
                            }).done(function(){
                                url = $btnDrukuj.attr('href');
                                window.location.href=url;
                            });
                        },
                        "Nie": function() {
                            $( this ).dialog( "close" );
                            url = $btnDrukuj.attr('href');
                            window.location.href=url;
                        }
                    }
                });

                $( "#usun-dialog-confirm" ).dialog({
                    autoOpen: false,
                    resizable: false,
                    width:  500,
                    height: 180,
                    modal: true,
                    buttons: {
                        "Tak, usuń": function() {
                            url = $btnUsun.attr('href');
                            window.location.href=url;
                        },
                        "Nie, rezygnuję": function() {
                            $( this ).dialog( "close" );
                        }
                    },
                    show: {
                        effect: "blind",
                        duration: 500
                    },
                    hide: {
                        effect: "blind",
                        duration: 500
                    },
                    closeOnEscape: true
                });
            });
        })
    </script>
{% endblock dodatkowe_skrypty_js %}