{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block content -%}
    <h1>Wzornik Kolorów - lista</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('backend_wzornikkolorow_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nazwa }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('backend_wzornikkolorow_show', { 'id': entity.id }) }}" class="art-button">pokaż</a>
                    </li>
                    <li>
                        <a href="{{ path('backend_wzornikkolorow_edit', { 'id': entity.id }) }}" class="art-button">edytuj</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('backend_wzornikkolorow_new') }}" class="art-button">
                Dodaj nowy
            </a>
        </li>
    </ul>
    {% endblock %}
