{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/i18n/defaults-pl_PL.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dfpetapi/js/dfp_obsluga_formularzy.js') }}"></script>
{% endblock javascript %}

{% form_theme edit_form '@DFPEtapI/Form/bootstrap_form.html.twig' %}
{% form_theme delete_form '@DFPEtapI/Form/bootstrap_form.html.twig' %}

{% block content -%}
    <section class="container-fluid">
        {#<div class="container-fluid alert">#}
            {% for type,messages in app.session.flashbag.all() %}
                {% for msg in messages %}
                    <div class="alert alert-{{ type }}">{{ msg }}</div>
                {% endfor %}
            {% endfor %}
        {#</div>#}

        <h1>Edytuj produkt</h1>
        {{ form_start(edit_form) }}
        {{ form_row(edit_form.nazwaHandlowa) }}
        {{ form_row(edit_form.nazwaTechniczna) }}
        {{ form_row(edit_form.kodFabrycznyProduktu) }}
        {{ form_row(edit_form.numerEdycjiBESA) }}
        {{ form_row(edit_form.grupaProduktow) }}
        {{ form_row(edit_form.grupaPromowania) }}
        <div class="form-group">
            {{ form_label(edit_form.czasMagazynowania) }}
            <div class="col-lg-5">
                {{ form_widget(edit_form.czasMagazynowania) }}
            </div>
            <div class="col-lg-4">
                {{ form_widget(edit_form.czasMagazynowaniaJednostka) }}
            </div>
        </div>
        {{ form_row(edit_form.magazynowanieOpis) }}
        {{ form_row(edit_form.opisPodstawowy) }}
        {{ form_row(edit_form.opisPelny) }}
        <hr>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#panel-cechy-techniczne" data-toggle="collapse" data-parent="#panel-cechy-techniczne">Cechy techniczne</a>
            </div>
            <div id="panel-cechy-techniczne" class="panel-body collapse in">
                <div class="form-group">
                    {{ form_label(edit_form.cechyTechniczneProduktu.wlasciwosciMechaniczne) }}
                    <div class="col-lg-5">
                        {{ form_widget(edit_form.cechyTechniczneProduktu.wlasciwosciMechaniczne) }}
                    </div>
                    <div class="col-lg-4">
                        {{ form_widget(edit_form.cechyTechniczneProduktu.wlasciwosciMechaniczneJednostka) }}
                    </div>
                </div>
                <div class="form-group {{ edit_form.cechyTechniczneProduktu.testErichsen.vars.errors|length ? 'has-error': '' }}">
                    {{ form_label(edit_form.cechyTechniczneProduktu.testErichsen) }}
                    <div class="col-lg-9">
                        <div class="input-group">
                            {{ form_widget(edit_form.cechyTechniczneProduktu.testErichsen) }}
                            <span class="input-group-addon">[mm]</span>
                        </div>
                        <small>{{ form_errors(edit_form.cechyTechniczneProduktu.testErichsen) }}</small>
                    </div>
                </div>
                <div class="form-group {{ edit_form.cechyTechniczneProduktu.udarnosc.vars.errors|length ? 'has-error': '' }}">
                    {{ form_label(edit_form.cechyTechniczneProduktu.udarnosc) }}
                    <div class="col-lg-9">
                        <div class="input-group">
                            {{ form_widget(edit_form.cechyTechniczneProduktu.udarnosc) }}
                            <span class="input-group-addon">[cm D]</span>
                        </div>
                        <small>{{ form_errors(edit_form.cechyTechniczneProduktu.udarnosc) }}</small>
                    </div>
                </div>
                <div class="form-group {{ edit_form.cechyTechniczneProduktu.probaMandrela.vars.errors|length ? 'has-error': '' }}">
                    {{ form_label(edit_form.cechyTechniczneProduktu.probaMandrela) }}
                    <div class="col-lg-9">
                        <div class="input-group">
                            {{ form_widget(edit_form.cechyTechniczneProduktu.probaMandrela) }}
                            <span class="input-group-addon">[mm &#216;]</span>
                        </div>
                        <small>{{ form_errors(edit_form.cechyTechniczneProduktu.probaMandrela) }}</small>
                    </div>
                </div>
                {{ form_row(edit_form.cechyTechniczneProduktu.plastycznosc) }}
                {{ form_row(edit_form.cechyTechniczneProduktu.odpornoscScieranie) }}
                <div class="form-group">
                    {{ form_label(edit_form.cechyTechniczneProduktu.odpornoscMedia) }}
                    <div class="col-sm-9">
                        {{ form_widget(edit_form.cechyTechniczneProduktu.odpornoscMedia) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.cechyTechniczneProduktu.odpornoscMglaSolna) }}
                    <div class="col-lg-9">
                        <div class="input-group">
                            {{ form_widget(edit_form.cechyTechniczneProduktu.odpornoscMglaSolna) }}
                            <span class="input-group-addon">[h]</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.cechyTechniczneProduktu.odpornoscParaWodna) }}
                    <div class="col-lg-9">
                        <div class="input-group">
                            {{ form_widget(edit_form.cechyTechniczneProduktu.odpornoscParaWodna) }}
                            <span class="input-group-addon">[h]</span>
                        </div>
                    </div>
                </div>
                {{ form_row(edit_form.cechyTechniczneProduktu.przyczepnosc) }}
                {{ form_row(edit_form.cechyTechniczneProduktu.odpornoscOgien) }}
                {{ form_row(edit_form.cechyTechniczneProduktu.odpornoscKorozja) }}
                {{ form_row(edit_form.cechyTechniczneProduktu.odpornoscUV) }}
            </div>
        </div>
        <hr>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#panel-dane-techniczne" data-toggle="collapse" data-parent="#panel-dane-techniczne">Dane techniczne</a>
            </div>
            <div id="panel-dane-techniczne" class="panel-body collapse in">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Gęstość w 20&#176;C</label>
                    <div class="col-lg-2 {{ edit_form.daneTechniczne.gestoscMIN.vars.errors|length ? 'has-error': '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Min
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.gestoscMIN) }}
                        </div>
                        <small>{{ form_errors(edit_form.daneTechniczne.gestoscMIN) }}</small>
                    </div>
                    <div class="col-lg-2 {{ edit_form.daneTechniczne.gestoscMAX.vars.errors|length ? 'has-error': '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Max
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.gestoscMAX) }}
                        </div>
                        <small>{{ form_errors(edit_form.daneTechniczne.gestoscMAX) }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Gęstość mieszaniny</label>
                    <div class="col-lg-2 {{ edit_form.daneTechniczne.gestoscMieszaninyMIN.vars.errors|length ? 'has-error': '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Min
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.gestoscMieszaninyMIN) }}
                        </div>
                        <small>{{ form_errors(edit_form.daneTechniczne.gestoscMieszaninyMIN) }}</small>
                    </div>
                    <div class="col-lg-2 {{ edit_form.daneTechniczne.gestoscMieszaninyMAX.vars.errors|length ? 'has-error': '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Max
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.gestoscMieszaninyMAX) }}
                        </div>
                        <small>{{ form_errors(edit_form.daneTechniczne.gestoscMieszaninyMAX) }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Lepkość fabryczna <small class="text-muted">(Stomer)</small></label>
                    <div class="col-lg-3 {{ edit_form.daneTechniczne.lepkoscFabrycznaStomerMIN.vars.errors|length > 0 ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Min
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.lepkoscFabrycznaStomerMIN) }}
                            <span class="input-group-addon">[KU]</span>
                        </div>
                        <small>{{ form_errors(edit_form.daneTechniczne.lepkoscFabrycznaStomerMIN) }}</small>
                    </div>
                    <div class="col-lg-3 {{ edit_form.daneTechniczne.lepkoscFabrycznaStomerMAX.vars.errors|length > 0 ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Max
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.lepkoscFabrycznaStomerMAX) }}
                            <span class="input-group-addon">[KU]</span>
                        </div>
                        <small>{{ form_errors(edit_form.daneTechniczne.lepkoscFabrycznaStomerMAX) }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Lepkość fabryczna <small class="text-muted">(Ford nr 4)</small></label>
                    <div class="col-lg-3 {{ edit_form.daneTechniczne.lepkoscFabrycznaFordMIN.vars.errors|length > 0 ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Min
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.lepkoscFabrycznaFordMIN) }}
                            <span class="input-group-addon">[sek.]</span>
                        </div>
                        <small>{{ form_errors(edit_form.daneTechniczne.lepkoscFabrycznaFordMIN) }}</small>
                    </div>
                    <div class="col-lg-3 {{ edit_form.daneTechniczne.lepkoscFabrycznaFordMAX.vars.errors|length > 0 ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Max
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.lepkoscFabrycznaFordMAX) }}
                            <span class="input-group-addon">[sek.]</span>
                        </div>
                        <small>{{ form_errors(edit_form.daneTechniczne.lepkoscFabrycznaFordMAX) }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Stopień rozdrobnienia ziarna</label>
                    <div class="col-lg-3 {{ edit_form.daneTechniczne.stopienRozdrobnieniaZiarnaMIN.vars.errors|length > 0 ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Min
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.stopienRozdrobnieniaZiarnaMIN) }}
                            <span class="input-group-addon">
                                [&#181;m]
                            </span>
                        </div>
                        <small>{{ form_errors(edit_form.daneTechniczne.stopienRozdrobnieniaZiarnaMIN) }}</small>
                    </div>
                    <div class="col-lg-3 {{ edit_form.daneTechniczne.stopienRozdrobnieniaZiarnaMAX.vars.errors|length > 0 ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Max
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.stopienRozdrobnieniaZiarnaMAX) }}
                            <span class="input-group-addon">
                                [&#181;m]
                            </span>
                        </div>
                        <small>{{ form_errors(edit_form.daneTechniczne.stopienRozdrobnieniaZiarnaMAX) }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Zawartość części stałych</label>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Objętościowo
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.objZawartoscCzesciStalych) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Wagowo
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.wagZawartoscCzesciStalych) }}
                            <small>{{ form_errors(edit_form.daneTechniczne.wagZawartoscCzesciStalych) }}</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Zawartość części stałych <small class="text-muted">(mieszaniny)</small></label>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Objętościowo
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.objZawartoscCzesciStalychMieszaniny) }}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Wagowo
                            </span>
                            {{ form_widget(edit_form.daneTechniczne.wagZawartoscCzesciStalychMieszaniny) }}
                            <small>{{ form_errors(edit_form.daneTechniczne.wagZawartoscCzesciStalychMieszaniny) }}</small>
                        </div>
                    </div>
                </div>
                {{ form_row(edit_form.daneTechniczne.lzo) }}
                {{ form_row(edit_form.daneTechniczne.lzoRFU) }}
                {{ form_row(edit_form.daneTechniczne.rodzajProduktu) }}
                {{ form_row(edit_form.daneTechniczne.kolor) }}
            </div>
        </div>
        <hr>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#panel-przygotowanie-do-aplikacji" data-toggle="collapse" data-parent="#panel-przygotowanie-do-aplikacji">Przygotowanie do aplikacji</a>
            </div>
            <div id="panel-przygotowanie-do-aplikacji" class="panel-body collapse in">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Stosowane utwardzacze</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-3 text-center"><small>Nazwa utwardzacza</small></div>
                            <div class="col-sm-3 text-center"><small>Proporcje wagowo</small></div>
                            <div class="col-sm-3 text-center"><small>Proporcje objętościowo</small></div>
                            <div class="col-sm-3 text-center"></div>
                        </div>
                        <div id="utwardzacze-collection" data-prototype="{% filter escape %}{% include '@DFPEtapI/Form/bootstrap_collection_field_1.html.twig' with { 'utwardzacz': edit_form.przygotowanieDoAplikacji.produktyUtwardzacze.vars.prototype } %}{% endfilter %}">
                            {% if edit_form.przygotowanieDoAplikacji.produktyUtwardzacze|length > 0 %}
                                {% for utwardzacz in edit_form.przygotowanieDoAplikacji.produktyUtwardzacze %}
                                    <div class="row">
                                        <div class="col-sm-3">{{ form_widget(utwardzacz.utwardzacz) }}</div>
                                        <div class="col-sm-3">{{ form_widget(utwardzacz.proporcjaMieszaniaObjetosciowo) }}</div>
                                        <div class="col-sm-3">{{ form_widget(utwardzacz.proporcjaMieszaniaWagowo) }}</div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Stosowane rozcieńczalniki</label>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-5 text-center"><small>Nazwa rozcieńczalnika</small></div>
                            <div class="col-sm-4 text-center"><small>Proporcje mieszania</small></div>
                            <div class="col-sm-3 text-center"></div>
                        </div>
                        <div id="rozcienczalniki-collection" data-prototype="{% filter escape %}{% include '@DFPEtapI/Form/bootstrap_collection_field_2.html.twig' with { 'rozcienczalnik': edit_form.przygotowanieDoAplikacji.produktyRozcienczalniki.vars.prototype } %}{% endfilter %}">
                            {% if edit_form.przygotowanieDoAplikacji.produktyRozcienczalniki|length > 0 %}
                                {% for rozcienczalnik in edit_form.przygotowanieDoAplikacji.produktyRozcienczalniki %}
                                    <div class="row">
                                        <div class="col-sm-5">{{ form_widget(rozcienczalnik.rozcienczalnik) }}</div>
                                        <div class="col-sm-4">{{ form_widget(rozcienczalnik.proporcjaMieszania) }}</div>
                                        <div class="col-sm-3"></div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {{ form_row(edit_form.przygotowanieDoAplikacji.przyspieszacz) }}
                <div class="form-group">
                    {{ form_label(edit_form.przygotowanieDoAplikacji.antygrafiti) }}
                    <div class="col-sm-9">
                        {{ form_widget(edit_form.przygotowanieDoAplikacji.antygrafiti) }}
                    </div>
                </div>
                {{ form_row(edit_form.przygotowanieDoAplikacji.pastaMatujaca) }}
                {{ form_row(edit_form.przygotowanieDoAplikacji.dodatki) }}
                {{ form_row(edit_form.przygotowanieDoAplikacji.strukturyzator) }}
                {{ form_row(edit_form.przygotowanieDoAplikacji.tix) }}
                <div class="form-group {{ edit_form.przygotowanieDoAplikacji.zywotnoscMieszaniny.vars.errors|length > 0 ? 'has-error' : '' }}">
                    {{ form_label(edit_form.przygotowanieDoAplikacji.zywotnoscMieszaniny) }}
                    <div class="col-lg-9">
                        <div class="input-group">
                            {{ form_widget(edit_form.przygotowanieDoAplikacji.zywotnoscMieszaniny) }}
                            <span class="input-group-addon">[h]</span>
                        </div>
                        {{ form_errors(edit_form.przygotowanieDoAplikacji.zywotnoscMieszaniny) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Lepkość do aplikacji <small class="text-muted">(Stomer)</small></label>
                    <div class="col-lg-3 {{ edit_form.przygotowanieDoAplikacji.lepkoscStomerMIN.vars.errors|length > 0 ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Min
                            </span>
                            {{ form_widget(edit_form.przygotowanieDoAplikacji.lepkoscStomerMIN) }}
                            <span class="input-group-addon">[KU]</span>
                        </div>
                        <small>{{ form_errors(edit_form.przygotowanieDoAplikacji.lepkoscStomerMIN) }}</small>
                    </div>
                    <div class="col-lg-3 {{ edit_form.przygotowanieDoAplikacji.lepkoscStomerMAX.vars.errors|length > 0 ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Max
                            </span>
                            {{ form_widget(edit_form.przygotowanieDoAplikacji.lepkoscStomerMAX) }}
                            <span class="input-group-addon">[KU]</span>
                        </div>
                        <small>{{ form_errors(edit_form.przygotowanieDoAplikacji.lepkoscStomerMAX) }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Lepkość do aplikacji <small class="text-muted">(Ford nr 4)</small></label>
                    <div class="col-lg-3 {{ edit_form.przygotowanieDoAplikacji.lepkoscFordMIN.vars.errors|length > 0 ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Min
                            </span>
                            {{ form_widget(edit_form.przygotowanieDoAplikacji.lepkoscFordMIN) }}
                            <span class="input-group-addon">[sek.]</span>
                        </div>
                        <small>{{ form_errors(edit_form.przygotowanieDoAplikacji.lepkoscFordMIN) }}</small>
                    </div>
                    <div class="col-lg-3 {{ edit_form.przygotowanieDoAplikacji.lepkoscFordMAX.vars.errors|length > 0 ? 'has-error' : '' }}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Max
                            </span>
                            {{ form_widget(edit_form.przygotowanieDoAplikacji.lepkoscFordMAX) }}
                            <span class="input-group-addon">[sek.]</span>
                        </div>
                        <small>{{ form_errors(edit_form.przygotowanieDoAplikacji.lepkoscFordMAX) }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Zalecana grubość <small class="text-muted">(sucho)</small></label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Od
                            </span>
                            {{ form_widget(edit_form.przygotowanieDoAplikacji.zalecanaGruboscPowlokiSuchoMin) }}
                            <span class="input-group-addon">
                                [&#181;m]
                            </span>
                        </div>
                        {{ form_errors(edit_form.przygotowanieDoAplikacji.zalecanaGruboscPowlokiSuchoMin) }}
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Do
                            </span>
                            {{ form_widget(edit_form.przygotowanieDoAplikacji.zalecanaGruboscPowlokiSuchoMax) }}
                            <span class="input-group-addon">
                                [&#181;m]
                            </span>
                        </div>
                        {{ form_errors(edit_form.przygotowanieDoAplikacji.zalecanaGruboscPowlokiSuchoMax) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Zalecana grubość <small class="text-muted">(mokro)</small></label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Od
                            </span>
                            {{ form_widget(edit_form.przygotowanieDoAplikacji.zalecanaGruboscPowlokiMokroMin) }}
                            <span class="input-group-addon">
                                [&#181;m]
                            </span>
                        </div>
                        {{ form_errors(edit_form.przygotowanieDoAplikacji.zalecanaGruboscPowlokiMokroMin) }}
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Do
                            </span>
                            {{ form_widget(edit_form.przygotowanieDoAplikacji.zalecanaGruboscPowlokiMokroMax) }}
                            <span class="input-group-addon">
                                [&#181;m]
                            </span>
                        </div>
                        {{ form_errors(edit_form.przygotowanieDoAplikacji.zalecanaGruboscPowlokiMokroMax) }}
                    </div>
                </div>
                {{ form_row(edit_form.przygotowanieDoAplikacji.punktRosy) }}
            </div>
        </div>
        <hr>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#panel-suszenie"data-toggle="collapse" data-parent="#panel-suszenie">Suszenie</a>
            </div>
            <div id="panel-suszenie" class="panel-body collapse in">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <a href="#panel-suszenie-otoczenie"data-toggle="collapse" data-parent="#panel-suszenie-otoczenie">Poza kabiną (otoczenie)</a>
                    </div>
                    <div id="panel-suszenie-otoczenie" class="panel-body collapse in">
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Pyłosuchość</label>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">Temperatura</span>
                                    {{ form_widget(edit_form.suszenie.pylosuchoscTemperaturaOtoczenie) }}
                                    <span class="input-group-addon">&deg;C</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Czas</span>
                                    {{ form_widget(edit_form.suszenie.pylosuchoscCzasOtoczenie) }}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                {{ form_widget(edit_form.suszenie.pylosuchoscCzasOtoczenieJednostka) }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Odporność na dotyk</label>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">Temperatura</span>
                                    {{ form_widget(edit_form.suszenie.dotykTemperaturaOtoczenie) }}
                                    <span class="input-group-addon">&deg;C</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Czas</span>
                                    {{ form_widget(edit_form.suszenie.dotykCzasOtoczenie) }}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                {{ form_widget(edit_form.suszenie.dotykCzasOtoczenieJednostka) }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Pełne utwardzenie</label>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">Temperatura</span>
                                    {{ form_widget(edit_form.suszenie.utwardzenieTemperaturaOtoczenie) }}
                                    <span class="input-group-addon">&deg;C</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Czas</span>
                                    {{ form_widget(edit_form.suszenie.utwardzenieCzasOtoczenie) }}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                {{ form_widget(edit_form.suszenie.utwardzenieCzasOtoczenieJednostka) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <a href="#panel-suszenie-kabina"data-toggle="collapse" data-parent="#panel-suszenie-kabina">W kabinie lakierniczej</a>
                    </div>
                    <div id="panel-suszenie-kabina" class="panel-body collapse in">
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Wstępne</label>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">Temperatura</span>
                                    {{ form_widget(edit_form.suszenie.wstepneTemperaturaKabina) }}
                                    <span class="input-group-addon">&deg;C</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Czas</span>
                                    {{ form_widget(edit_form.suszenie.wstepneCzasKabina) }}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                {{ form_widget(edit_form.suszenie.wstepneCzasKabinaJednostka) }}
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-3 control-label">Docelowe</label>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">Temperatura</span>
                                    {{ form_widget(edit_form.suszenie.doceloweTemperaturaKabina) }}
                                    <span class="input-group-addon">&deg;C</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <span class="input-group-addon">Czas</span>
                                    {{ form_widget(edit_form.suszenie.doceloweCzasKabina) }}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                {{ form_widget(edit_form.suszenie.doceloweCzasKabinaJednostka) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    {{ form_label(edit_form.suszenie.infrared) }}
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">Czas</span>
                            {{ form_widget(edit_form.suszenie.infrared) }}
                            <span class="input-group-addon">[min]</span>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    {{ form_label(edit_form.suszenie.ultraviolet) }}
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">Czas</span>
                            {{ form_widget(edit_form.suszenie.ultraviolet) }}
                            <span class="input-group-addon">[min]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#panel-charakterystyka-produktu"data-toggle="collapse" data-parent="#panel-charakterystyka-produktu">Charakterystyka produktu</a>
            </div>
            <div id="panel-charakterystyka-produktu" class="panel-body collapse in">
                <div class="form-group ">
                    <label class="col-sm-3 control-label">Połysk pod kątem</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Od
                            </span>
                            {{ form_widget(edit_form.charakterystykaProduktu.polyskPodKatemMin) }}
                            <span class="input-group-addon">
                                &deg;
                            </span>
                        </div>
                        {{ form_errors(edit_form.charakterystykaProduktu.polyskPodKatemMin) }}
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Do
                            </span>
                            {{ form_widget(edit_form.charakterystykaProduktu.polyskPodKatemMax) }}
                            <span class="input-group-addon">
                                &deg;
                            </span>
                        </div>
                        {{ form_errors(edit_form.charakterystykaProduktu.polyskPodKatemMax) }}
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-3 control-label">Czas do przelakierowania</label>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Od
                            </span>
                            {{ form_widget(edit_form.charakterystykaProduktu.czasDoPrzelakierowaniaMin) }}
                            <span class="input-group-addon">
                                [h]
                            </span>
                        </div>
                        {{ form_errors(edit_form.charakterystykaProduktu.czasDoPrzelakierowaniaMin) }}
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                Do
                            </span>
                            {{ form_widget(edit_form.charakterystykaProduktu.czasDoPrzelakierowaniaMax) }}
                            <span class="input-group-addon">
                                [h]
                            </span>
                        </div>
                        {{ form_errors(edit_form.charakterystykaProduktu.czasDoPrzelakierowaniaMax) }}
                    </div>
                </div>
                {{ form_row(edit_form.charakterystykaProduktu.uwagi) }}
            </div>
        </div>
        {{ form_row(edit_form.rodzajePowierzchni) }}
        {{ form_row(edit_form.metodyAplikacji) }}
        {{ form_row(edit_form.przygotowaniePowierzchni) }}
        {{ form_row(edit_form.uwagi) }}
        {{ form_widget(edit_form.submit) }}
        {{ form_end(edit_form) }}
        <hr>
        {{ form_start(delete_form) }}
            <a href="{{ path('backend_produkty') }}" class="btn btn-warning">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Powrót
            </a>
            {{ form_widget(delete_form.submit) }}
        {{ form_end(delete_form) }}
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $('#utwardzacze-collection').collectionManager('<div class="row"><div class="col-sm-3"></div><div class="col-sm-3"></div><div class="col-sm-3"></div><div class="col-sm-3"></div></div>');
    $('#rozcienczalniki-collection').collectionManager('<div class="row"><div class="col-sm-5"></div><div class="col-sm-4"></div><div class="col-sm-3"></div></div>');
    $('.selectpicker').selectpicker();
{% endblock javascripts %}