{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/layout-bootstrap-clear.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{{ asset('css/produkt_show.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock javascript %}

{% form_theme delete_form _self %}

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }} class="art-button czerwony">{{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock button_widget %}

{% macro row(label, value) %}
    <div class="row specyfikacja-wiersz">
        <div class="col-xs-4 naglowek-wiersza">
            <strong>{{ label }}</strong>
        </div>
        <div class="col-xs-8">
            {{ value|default(" - ") }}
        </div>
    </div>
{% endmacro %}

{% import _self as data %}

{% block content -%}
    <h1>{{ entity.nazwaHandlowa }} <small>({{ entity.grupaProduktow|lower }})</small></h1>

    <hr>

    <section class="container-fluid">

        <div id="spis-tresci" class="list-group">
            <a href="#" class="list-group-item active">
                Spis treści
            </a>
            <a href="#informacje-podstawowe" class="list-group-item">Informacje podstawowe</a>
            <a href="#cechy-techniczne" class="list-group-item">Cechy techniczne</a>
            <a href="#dane-techniczne" class="list-group-item">Dane techniczne</a>
            <a href="#przygotowanie-powierzchni" class="list-group-item">Przygotowanie powierzchni</a>
            <a href="#przygotowanie-do-aplikacji" class="list-group-item">Przygotowanie do aplikacji</a>
            <a href="#suszenie" class="list-group-item">Suszenie</a>
            <a href="#charakterystyka-produktu" class="list-group-item">Charakterystyka produktu</a>
        </div>

        <div class="naglowek-sekcji"><h4 id="informacje-podstawowe"><i class="fa fa-link"></i> Informacje podstawowe <a href="#spis-tresci">powrót <i class="fa fa-arrow-circle-o-up"></i></a></h4></div>
        {{ data.row('Producent',entity.producent) }}
        {{ data.row('Nazwa techniczna',entity.nazwaTechniczna) }}
        {{ data.row('Kod fabryczny',entity.kodFabrycznyProduktu) }}
        {{ data.row('Numer edycji BESA',entity.numerEdycjiBESA) }}
        {{ data.row('Numer edycji CSV',entity.numerEdycjiCSV) }}
        {{ data.row('Grupa produktu',entity.grupaProduktow) }}
        {{ data.row('Grupa promowania',entity.grupaPromowania) }}
        {{ data.row('Czas magazynowania',entity.czasMagazynowania) }}
        {{ data.row('Czas magazynowania opis',entity.magazynowanieOpis) }}
        {{ data.row('Opis podstawowy',entity.opisPodstawowy) }}
        {{ data.row('Opis pełny',entity.opisPelny) }}
        {{ data.row('Uwagi ogólne',entity.uwagi) }}

        <div class="naglowek-sekcji"><h4 id="cechy-techniczne"><i class="fa fa-link"></i> Cechy techniczne <a href="#spis-tresci">powrót <i class="fa fa-arrow-circle-o-up"></i></a></h4></div>
        {{ data.row('Opis pełny',entity.cechyTechniczneProduktu.wlasciwosciMechaniczne) }}
        {{ data.row('Test Erichsen',entity.cechyTechniczneProduktu.testErichsen) }}
        {{ data.row('Udarność',entity.cechyTechniczneProduktu.udarnosc) }}
        {{ data.row('Próba Mandrela',entity.cechyTechniczneProduktu.probaMandrela) }}
        {{ data.row('Plastyczność',entity.cechyTechniczneProduktu.plastycznosc) }}
        {{ data.row('Odporność na ścieranie',entity.cechyTechniczneProduktu.odpornoscScieranie) }}
        {{ data.row('Odporność na media',entity.cechyTechniczneProduktu.odpornoscMedia|join(' | ')) }}
        {{ data.row('Odporność na mgłę solną',entity.cechyTechniczneProduktu.odpornoscMglaSolna) }}
        {{ data.row('Odporność na parę wodną',entity.cechyTechniczneProduktu.odpornoscParaWodna) }}
        {{ data.row('Odporność korozyjna',entity.cechyTechniczneProduktu.odpornoscKorozja) }}
        {{ data.row('Odporność na ogień',entity.cechyTechniczneProduktu.odpornoscOgien) }}
        {{ data.row('Odporność UV',entity.cechyTechniczneProduktu.odpornoscUV) }}
        {{ data.row('Przyczepność',entity.cechyTechniczneProduktu.przyczepnosc) }}

        <div class="naglowek-sekcji"><h4 id="dane-techniczne"><i class="fa fa-link"></i> Dane techniczne <a href="#spis-tresci">powrót <i class="fa fa-arrow-circle-o-up"></i></a></h4></div>
        {{ data.row('Gęstość w 20 st.C','min: ' ~ entity.daneTechniczne.gestoscMIN ~ ' max: ' ~ entity.daneTechniczne.gestoscMAX) }}
        {{ data.row('Gęstość mieszaniny','min: ' ~ entity.daneTechniczne.gestoscMieszaninyMIN ~ ' max: ' ~ entity.daneTechniczne.gestoscMieszaninyMAX) }}
        {{ data.row('Lepkość fabryczna (stomer)','min: ' ~ entity.daneTechniczne.lepkoscFabrycznaStomerMIN ~ ' max: ' ~ entity.daneTechniczne.lepkoscFabrycznaStomerMAX) }}
        {{ data.row('Lepkość fabryczna (ford nr 4)','min: ' ~ entity.daneTechniczne.lepkoscFabrycznaFordMIN ~ ' max: ' ~ entity.daneTechniczne.lepkoscFabrycznaFordMAX) }}
        {{ data.row('Stopień rozdrobnienia ziarna','min: ' ~ entity.daneTechniczne.stopienRozdrobnieniaZiarnaMIN ~ ' max: ' ~ entity.daneTechniczne.stopienRozdrobnieniaZiarnaMAX) }}
        {{ data.row('Zawartość części stałych','objętościowo: ' ~ entity.daneTechniczne.objZawartoscCzesciStalych|default('-') ~ ' wagowo: ' ~ entity.daneTechniczne.wagZawartoscCzesciStalych|default('-')) }}
        {{ data.row('Zaw. części stałych (miesz.)','objętościowo: ' ~ entity.daneTechniczne.objZawartoscCzesciStalychMieszaniny|default('-') ~ ' wagowo: ' ~ entity.daneTechniczne.wagZawartoscCzesciStalychMieszaniny|default('-')) }}
        {{ data.row('LZO', entity.daneTechniczne.lzo) }}
        {{ data.row('LZO (dla mieszanki RFU)', entity.daneTechniczne.lzoRFU) }}
        {{ data.row('Rodzaj produktu', entity.daneTechniczne.rodzajProduktu) }}
        {{ data.row('Kolor', entity.daneTechniczne.kolor) }}

        <div class="naglowek-sekcji"><h4 id="przygotowanie-powierzchni"><i class="fa fa-link"></i> Przygotowanie powierzchni <a href="#spis-tresci">powrót <i class="fa fa-arrow-circle-o-up"></i></a></h4></div>
        {{ data.row('Rodzaje powierzchni', entity.rodzajePowierzchni|join(' | ')) }}
        {{ data.row('Przygotowanie powierzchni', entity.przygotowaniePowierzchni|join(' | ')) }}
        {{ data.row('Uwagi', entity.przygotowaniePowierzchniUwagi) }}

        <div class="naglowek-sekcji"><h4 id="przygotowanie-do-aplikacji"><i class="fa fa-link"></i> Przygotowanie do aplikacji <a href="#spis-tresci">powrót <i class="fa fa-arrow-circle-o-up"></i></a></h4></div>
        <div class="row specyfikacja-wiersz">
            <div class="col-xs-4 naglowek-wiersza">
                <strong>Utwardzacze</strong>
            </div>
            <div class="col-xs-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">Utwardzacz</th>
                            <th colspan="2" style="text-align: center;">Proporcje</th>
                        </tr>
                        <tr>
                            <th style="width: 15%">Wagowo</th>
                            <th style="width: 15%">Objętościowo</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if entity.przygotowanieDoAplikacji.produktyUtwardzacze %}
                        {% for produkt in entity.przygotowanieDoAplikacji.produktyUtwardzacze %}
                            <tr>
                                <td>{{ produkt.utwardzacz }}</td>
                                <td>{{ produkt.proporcjaMieszaniaObjetosciowo }}</td>
                                <td>{{ produkt.proporcjaMieszaniaWagowo }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row specyfikacja-wiersz">
            <div class="col-xs-4 naglowek-wiersza">
                <strong>Rozcieńczalniki</strong>
            </div>
            <div class="col-xs-8">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Rozcieńczalnik</th>
                        <th style="width: 20%">Proporcje mieszania</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if entity.przygotowanieDoAplikacji.produktyRozcienczalniki %}
                        {% for produkt in entity.przygotowanieDoAplikacji.produktyRozcienczalniki %}
                            <tr>
                                <td>{{ produkt.rozcienczalnik }}</td>
                                <td>{{ produkt.proporcjaMieszania }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {{ data.row('Żywotność mieszany', entity.przygotowanieDoAplikacji.zywotnoscMieszaniny) }}
        {{ data.row('Lepkość do aplikacji (stomer)', 'min: ' ~ entity.przygotowanieDoAplikacji.lepkoscStomerMIN|default('-') ~ ' max: ' ~ entity.przygotowanieDoAplikacji.lepkoscStomerMAX|default('-')) }}
        {{ data.row('Lepkość do aplikacji (ford)', 'min: ' ~ entity.przygotowanieDoAplikacji.lepkoscFordMIN|default('-') ~ ' max: ' ~ entity.przygotowanieDoAplikacji.lepkoscFordMAX|default('-')) }}
        {{ data.row('Zalecana grubość (sucho)', 'min: ' ~ entity.przygotowanieDoAplikacji.zalecanaGruboscPowlokiSuchoMin|default('-') ~ ' max: ' ~ entity.przygotowanieDoAplikacji.zalecanaGruboscPowlokiSuchoMax|default('-')) }}
        {{ data.row('Zalecana grubość (mokro)', 'min: ' ~ entity.przygotowanieDoAplikacji.zalecanaGruboscPowlokiMokroMin|default('-') ~ ' max: ' ~ entity.przygotowanieDoAplikacji.zalecanaGruboscPowlokiMokroMax|default('-')) }}
        {{ data.row('Przyspieszacz', entity.przygotowanieDoAplikacji.przyspieszacz) }}
        {{ data.row('Antygrafiti', entity.przygotowanieDoAplikacji.antygrafiti ? 'Tak' : 'Nie') }}
        {{ data.row('Pasta matująca', entity.przygotowanieDoAplikacji.pastaMatujaca) }}
        {{ data.row('Strukturyzator', entity.przygotowanieDoAplikacji.strukturyzator) }}
        {{ data.row('TIX', entity.przygotowanieDoAplikacji.tix) }}
        {{ data.row('Dodatki', entity.przygotowanieDoAplikacji.dodatki) }}
        {{ data.row('Uwagi', entity.przygotowanieDoAplikacji.uwagi) }}

        <div class="naglowek-sekcji">
            <h4 id="suszenie"><i class="fa fa-link"></i> Suszenie <a href="#spis-tresci">powrót <i class="fa fa-arrow-circle-o-up"></i></a></h4>
        </div>

        <div class="row specyfikacja-wiersz">
            <div class="col-xs-4 naglowek-wiersza">
                <strong>Poza kabiną (otoczenie)</strong>
            </div>
            <div class="col-xs-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Temperatura</th>
                            <th>Czas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% autoescape false %}
                        <tr>
                            <th>Pyłosuchość</th>
                            <td>{{ entity.suszenie.pylosuchoscTemperaturaOtoczenie ? entity.suszenie.pylosuchoscTemperaturaOtoczenie ~ " &#176; C" : "-" }}</td>
                            <td>{{ entity.suszenie.pylosuchoscTemperaturaOtoczenie ? entity.suszenie.pylosuchoscCzasOtoczenie ~ " sek." : "-" }}</td>
                        </tr>
                        <tr>
                            <th>Odporność na dotyk</th>
                            <td>{{ entity.suszenie.dotykTemperaturaOtoczenie ? entity.suszenie.dotykTemperaturaOtoczenie ~ " &#176; C" : "-" }}</td>
                            <td>{{ entity.suszenie.dotykCzasOtoczenie ? entity.suszenie.dotykCzasOtoczenie ~ " sek." : "-" }}</td>
                        </tr>
                        <tr>
                            <th>Pełne utwardzenie</th>
                            <td>{{ entity.suszenie.utwardzenieTemperaturaOtoczenie ? entity.suszenie.utwardzenieTemperaturaOtoczenie ~ " &#176; C" : "-" }}</td>
                            <td>{{ entity.suszenie.utwardzenieCzasOtoczenie ? entity.suszenie.utwardzenieCzasOtoczenie ~ " sek." : "-" }}</td>
                        </tr>
                        {% endautoescape %}
                    </tbody>
                </table>
            </div>
            <div class="col-xs-4 naglowek-wiersza">
                <strong>W kabinie lakierniczej</strong>
            </div>
            <div class="col-xs-8">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Temperatura</th>
                        <th>Czas</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% autoescape false %}
                    <tr>
                        <th>Wstępne</th>
                        <td>{{ entity.suszenie.wstepneTemperaturaKabina ? entity.suszenie.wstepneTemperaturaKabina ~ " &#176; C" : "-" }}</td>
                        <td>{{ entity.suszenie.wstepneCzasKabina ? entity.suszenie.wstepneCzasKabina ~ " sek." : "-" }}</td>
                    </tr>
                    <tr>
                        <th>Docelowe</th>
                        <td>{{ entity.suszenie.doceloweTemperaturaKabina ? entity.suszenie.doceloweTemperaturaKabina ~ " &#176; C" : "-" }}</td>
                        <td>{{ entity.suszenie.doceloweCzasKabina ? entity.suszenie.doceloweCzasKabina ~ " sek." : "-" }}</td>
                    </tr>
                    {% endautoescape %}
                    </tbody>
                </table>
            </div>
            {{ data.row('Suszenie IR (Podczerwień)', entity.suszenie.infrared) }}
            {{ data.row('Suszenie UV (Ultrafiolet)', entity.suszenie.ultraviolet) }}
        </div>

        <div class="naglowek-sekcji">
            <h4 id="charakterystyka-produktu"><i class="fa fa-link"></i> Charakterystyka produktu <a href="#spis-tresci">powrót <i class="fa fa-arrow-circle-o-up"></i></a></h4>
        </div>

        <div class="row specyfikacja-wiersz">
            {{ data.row('Połysk pod kątem 60 st.', 'od: ' ~ entity.charakterystykaProduktu.polyskPodKatemMin|default('-') ~ ' % do: ' ~ entity.charakterystykaProduktu.polyskPodKatemMax|default('-') ~ ' %') }}
            {{ data.row('Czas do przelakierowania', 'od: ' ~ entity.charakterystykaProduktu.czasDoPrzelakierowaniaMin|default('-') ~ ' [h] do: ' ~ entity.charakterystykaProduktu.czasDoPrzelakierowaniaMax|default('-') ~ ' [h]') }}
            {{ data.row('Informacje uzupełniające', entity.charakterystykaProduktu.uwagi) }}
        </div>

    </section>
{% endblock %}