{% extends '@DFPEtapI/Frontend/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main_2.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/layout_2.css') }}" />
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jasny-bootstrap.min.js') }}"></script>
{% endblock javascript %}

{% block content -%}
    <h1>Lista Ofert Handlowych</h1>

    <table class="table table-hover">
            <thead>
            <tr>
                <th class="lp">Id</th>
                <th>Klient</th>
                <th>System malarski dobrał(a)</th>
                <th>Ofertę cenową przygotował(a)</th>
                <th title="Data złożenia zamówienia">Data złożenia</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody data-link="row" class="rowlink">
            {% for oferta in oferty_handlowe %}
            <tr class="{{ oferta.status != 4 ? 'rowlink-skip' }}" {% if oferta.status == 4 %} style="cursor: pointer;" {% else %} style="cursor: not-allowed;" {% endif %}>
                <th class="lp" >
                    {% if oferta.status == 4 %}
                        <a href="{{ path('oferta_handlowa_pdf',{ 'id' : oferta.id } ) }}" target="_blank">{{ oferta.id }}</a>
                    {% else %}
                        {{ oferta.id }}
                    {% endif %}
                </th>
                <td>{{ oferta.filia.klient.nazwaSkrocona }}</td>
                <td>{{ oferta.technik ? oferta.technik : "-"  }}</td>
                <td>{{ oferta.koordynatorDFP ? oferta.koordynatorDFP : "-" }}</td>
                <td>{{ oferta.dataZlozeniaZamowienia|date("Y-m-d H:i:s") }}</td>
                <td>{{ attribute(statusy, oferta.status) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(oferty_handlowe) }}
    </div>
{% endblock %}
