<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Oferta handlowa</title>
    <link href="{{ asset('css/bootstrap.min.css', absolute=true) }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css', absolute=true) }}" rel="stylesheet"/>
    <link href="{{ asset('css/oferta_handlowa_pdf.css', absolute=true) }}" rel="stylesheet"/>
</head>
<body style="margin: 0;">
    <div id="header" class="container">
        <div class="row">
            <div class="col-xs-4">
                Warszawa, dn. {{ oferta.dataKoncaWaznosci|date_modify('- 90 days')|localizeddate('long','none') }}
            </div>
            <div class="col-xs-offset-4 col-xs-4">
                <img src="{{ asset('css/images/logo_grupa_csv.png', absolute=true) }}">
            </div>
        </div>
    </div>
    <div id="wrap" style="text-align: justify;">
        <section id="strona-tytulowa" class="container">
            <div id="adresat-container">
                <address>
                    <strong>{{ klient.nazwaPelna }}</strong><br>
                    {{ oferta.filia.kodPocztowy|kodPocztowy }}; {{ oferta.filia.miejscowosc }}<br>
                    {{ oferta.filia.ulica }}
                </address>
            </div>
        </section>
        <h1 class="text-center text-uppercase"><strong>Oferta</strong></h1>
        <h2 class="text-center text-uppercase"><strong>farby przemysłowe</strong></h2>
        <div class="container text-center">
            <img style="margin: auto; width: 50mm;" src="{{ asset("css/images/logobesa_1.jpg", absolute=true) }}" />
        </div>
        <div id="first-page-footer" class="container">
            <div class="row text-left">
                <div class="col-xs-9">
                    <strong>Grupa CSV Sp. z o.o. Dział Farb Przemysłowych</strong>
                    <p class="small">ul. Mazura 16, 02-830 Warszawa, tel +48 22 54 40 340, fax +48 22 54 40 399, <a style="margin-left: 2mm;" href="mailto: farbyprzemyslowe@csv.pl">farbyprzemyslowe@csv.pl</a> <a style="margin-left: 2mm;" href="http://www.farbyprzemyslowe.csv.pl">www.farbyprzemyslowe.csv.pl</a></p>
                    <strong>Grupa CSV Sp. z o.o.</strong>
                    <p class="small">
                        ul. Pomorska 58-60, 70-812 Szczecin, tel +48 91 43 21 900, fax +48 91 46 01 459 NIP 534-247-60-33 REGON 143024171<br>
                        Wysokość kapitału zakładowego 66 291 000,00 PLN Sąd Rejonowy w Warszawie XIV Wydział Gospodarczy KRS 0000380775
                    </p>
                </div>
                <div class="col-xs-3">
                    <img style="z-index: 10;" src="{{ asset("css/images/dfp_diament.png", absolute=true) }}" />
                </div>
            </div>
        </div>
        <section id="produkty-opis" class="container">
            <h3>Oferta techniczno - cenowa dotycząca powłok lakierowych:</h3>
            <dl>
                {% for ofertaProdukt in opisy_produktow %}
                    <dt>{{ ofertaProdukt.nazwaHandlowa }} - {{ ofertaProdukt.nazwaTechniczna }}</dt>
                    <dd>{{ ofertaProdukt.opisPodstawowy }}</dd>
                {% endfor %}
            </dl>
            <em>
                Powyższe produkty należy stosować w określonych zestawach zgodnie z umieszczonymi w
                ofercie tabelami oraz zgodnie z zaleceniami w kartach technicznych produktów.
            </em>
        </section>
        <section id="systemy-malarskie" class="container-fluid">
            <h3>Systemy malarskie:</h3>
            {% for systemMalarski in oferta.ofertySystemy %}
                <dl>
                    <dt>{{ systemMalarski.profil }}</dt>
                    {% if systemMalarski.warstwa1 %}<dd> - {{ systemMalarski.warstwa1 }} <em class="text-muted">(Grunt / Gruntoemalia)</em></dd>{% endif %}
                    {% if systemMalarski.warstwa2 %}<dd> - {{ systemMalarski.warstwa2 }} <em class="text-muted">(Międzywarstwa)</em></dd>{% endif %}
                    {% if systemMalarski.warstwa3 %}<dd> - {{ systemMalarski.warstwa3 }} <em class="text-muted">(Międzywarstwa / Farba nawierzchniowa)</em></dd>{% endif %}
                    {% if systemMalarski.warstwa4 %}<dd> - {{ systemMalarski.warstwa4 }} <em class="text-muted">(Farba nawierzchniowa)</em></dd>{% endif %}
                </dl>
            {% endfor %}
        </section>
        <section id="produkty-lista" class="container-fluid">
            {% if lista_produktow_litry is not empty %}
                <table class="table table-condensed table-bordered">
                    <caption><h3>Lista cen jednostkowych w zł/L</h3></caption>
                    <thead>
                        <tr>
                            <th class="col-lp">#</th>
                            <th class="col-produkt">Produkt</th>
                            <th class="col-opakowanie">Opakowanie</th>
                            <th class="col-cena">Kolor</th>
                            <th class="col-cena">Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ofertaProdukt in lista_produktow_litry %}
                            {% if ofertaProdukt.opakowanieJednostka == 'l' %}
                                <tr>
                                    <td class="col-lp" rowspan="2">{{ loop.index }}</td>
                                    <td class="col-produkt">
                                        <div>
                                            <strong>{{ ofertaProdukt.produkt.nazwaHandlowa }}</strong> - {{ ofertaProdukt.produkt.nazwaTechniczna }}<br>
                                            {% set przygotowanieDoAplikacji = ofertaProdukt.produkt.przygotowanieDoAplikacji %}
                                            {% if przygotowanieDoAplikacji %}
                                                w proporcji
                                                {% for produktUtwardzacz in przygotowanieDoAplikacji.produktyUtwardzacze %}
                                                    {{ loop.first == false ? 'lub ' }}
                                                    {{ produktUtwardzacz.proporcjaMieszaniaWagowo }} obj. z utw. {{ produktUtwardzacz.utwardzacz.nazwaHandlowa }} <br>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="col-opakowanie">{{ ofertaProdukt.opakowanieWartosc }} [ l ]</td>
                                    <td>
                                        <table class="table-embed">
                                            {% for cena in ofertaProdukt.ceny %}
                                                <tr>
                                                    <td class="col-cena">{{ cena.kolor }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                    <td>
                                        <table class="table-embed">
                                            {% for cena in ofertaProdukt.ceny %}
                                                <tr>
                                                    <td class="col-cena">{{ cena.wartosc|number_format(2,',',' ') }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="small"><em>{{ ofertaProdukt.informacjeDodatkowe|default("-") }}</em></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if lista_produktow_kilogramy is not empty %}
                <table class="table table-condensed table-bordered">
                    <caption><h3>Lista cen jednostkowych w zł/kg</h3></caption>
                    <thead>
                    <tr>
                        <th class="col-lp">#</th>
                        <th class="col-produkt">Produkt</th>
                        <th class="col-opakowanie">Opakowanie</th>
                        <th class="col-cena">Kolor</th>
                        <th class="col-cena">Cena</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for ofertaProdukt in lista_produktow_kilogramy %}
                                <tr>
                                    <td class="col-lp" rowspan="2">{{ loop.index }}</td>
                                    <td class="col-produkt">
                                        <div>
                                            <strong>{{ ofertaProdukt.produkt.nazwaHandlowa }}</strong> - {{ ofertaProdukt.produkt.nazwaTechniczna }}<br>
                                            {% set przygotowanieDoAplikacji = ofertaProdukt.produkt.przygotowanieDoAplikacji %}
                                            {% if przygotowanieDoAplikacji %}
                                                w proporcji
                                                {% for produktUtwardzacz in przygotowanieDoAplikacji.produktyUtwardzacze %}
                                                    {{ loop.first == false ? 'lub ' }}
                                                    {{ produktUtwardzacz.proporcjaMieszaniaObjetosciowo }} obj. z utw. {{ produktUtwardzacz.utwardzacz.nazwaHandlowa }} <br>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="col-opakowanie">{{ ofertaProdukt.opakowanieWartosc }} [ kg ]</td>
                                    <td>
                                        <table class="table-embed">
                                            {% for cena in ofertaProdukt.ceny %}
                                                <tr>
                                                    <td class="col-cena">{{ cena.kolor }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                    <td>
                                        <table class="table-embed">
                                            {% for cena in ofertaProdukt.ceny %}
                                                <tr>
                                                    <td class="col-cena">{{ cena.wartosc|number_format(2,',',' ') }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="small"><em>{{ ofertaProdukt.informacjeDodatkowe|default("-") }}</em></td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if lista_produktow_sztuki is not empty %}
                <table class="table table-condensed table-bordered">
                    <caption><h3>Lista cen jednostkowych w zł/szt</h3></caption>
                    <thead>
                    <tr>
                        <th class="col-lp">#</th>
                        <th class="col-produkt">Produkt</th>
                        <th class="col-opakowanie">Opakowanie</th>
                        <th class="col-cena">Kolor</th>
                        <th class="col-cena">Cena</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ofertaProdukt in lista_produktow_sztuki %}
                        <tr>
                            <td class="col-lp" rowspan="2">{{ loop.index }}</td>
                            <td class="col-produkt">
                                <div>
                                    <strong>{{ ofertaProdukt.produkt.nazwaHandlowa }}</strong> - {{ ofertaProdukt.produkt.nazwaTechniczna }}<br>
                                    {% set przygotowanieDoAplikacji = ofertaProdukt.produkt.przygotowanieDoAplikacji %}
                                </div>
                            </td>
                            <td class="col-opakowanie">{{ ofertaProdukt.opakowanieWartosc }} [ szt ]</td>
                            <td>
                                <table class="table-embed">
                                    {% for cena in ofertaProdukt.ceny %}
                                        <tr>
                                            <td class="col-cena">{{ cena.kolor }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                            <td>
                                <table class="table-embed">
                                    {% for cena in ofertaProdukt.ceny %}
                                        <tr>
                                            <td class="col-cena">{{ cena.wartosc|number_format(2,',',' ') }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="small"><em>{{ ofertaProdukt.informacjeDodatkowe|default("-") }}</em></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </section>

        {% if oferta.ofertyDodatki is not empty %}
            <section id="dodatki-lista" class="container-fluid">
                <table class="table table-condensed table-bordered">
                    <caption><h3>Lista cen dodatków</h3></caption>
                    <thead>
                        <tr>
                            <th class="col-lp">#</th>
                            <th class="col-produkt">Produkt</th>
                            <th class="col-opakowanie">Opakowanie</th>
                            <th class="col-cena">Cena</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ofertaDodatek in oferta.ofertyDodatki %}
                        <tr>
                            <td class="col-lp">{{ loop.index }}</td>
                            <td>{{ ofertaDodatek.produkt.nazwaHandlowa }}</td>
                            <td>{{ ofertaDodatek.opakowanie }} {{ ofertaDodatek.jednostka }}</td>
                            <td>{{ ofertaDodatek.cena }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        {% endif %}
        <div id="opis-dodatkowy">
            {{ oferta.informacjaDodatkowa|raw }}
        </div>
        <div id="data-waznosci">
            <strong>* Oferta handlowa ważna do dnia: {{ oferta.dataKoncaWaznosci|localizeddate('long','none') }}</strong>
        </div>
    </div>
</body>
</html>

