<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Oferta handlowa</title>
    <link href="{{ asset('css/bootstrap.min.css', absolute=true) }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap-theme.min.css', absolute=true) }}" rel="stylesheet"/>
    <link href="{{ asset('css/oferta_handlowa_pdf.css', absolute=true) }}" rel="stylesheet"/>
</head>
<body>
    <div id="header" class="container">
        <div class="row">
            <div class="col-xs-offset-8 col-xs-3">
                <img src="{{ asset('css/images/logo_grupa_csv.png', absolute=true) }}">
            </div>
        </div>
    </div>
    <div id="wrap" style="margin: 0 10mm; text-align: justify;">
        <section id="strona-tytulowa">
            <div id="adresat-container">
                <address>
                    <strong>{{ klient.nazwaPelna }}</strong><br>
                    {{ oferta.filia.kodPocztowy }}; {{ oferta.filia.miejscowosc }}<br>
                    {{ oferta.filia.ulica }}
                </address>
            </div>
        </section>
        <h1 class="text-center text-uppercase">Oferta</h1>
        <h2 class="text-center text-uppercase">farby przemysłowe</h2>
        <div id="first-page-footer">
            <div class="row">
                <div class="col-xs-9">
                    <strong>Grupa CSV Sp. z o.o. Dział Farb Przemysłowych</strong>
                    <p class="small">ul. Mazura 16, 02-830 Warszawa, tel +48 22 54 40 340, fax +48 22 54 40 399, <a href="mailto: farbyprzemyslowe@csv.pl">farbyprzemyslowe@csv.pl</a> <a href="http://www.farbyprzemyslowe.csv.pl">www.farbyprzemyslowe.csv.pl</a></p>
                    <strong>Grupa CSV Sp. z o.o.</strong>
                    <p class="small">
                        ul. Pomorska 58-60, 70-812 Szczecin, tel +48 91 43 21 900, fax +48 91 46 01 459<br>
                        NIP 534-247-60-33 REGON 143024171 Wysokość kapitału zakładowego 66 291 000,00 PLN<br>
                        Sąd Rejonowy w Warszawie XIV Wydział Gospodarczy KRS 0000380775
                    </p>
                    <img style="position: absolute; z-index: 10;" src="{{ asset("css/images/dfp_diament.png", absolute=true) }}" class="pull-left">
                </div>
            </div>
        </div>
        <section id="produkty-opis">
            <h4>Oferta techniczno - cenowa dotycząca powłok lakierowych:</h4>
            <dl>
                {% for ofertaProdukt in oferta.ofertyProdukty %}
                    <dt>{{ ofertaProdukt.produkt.nazwaHandlowa }} - {{ ofertaProdukt.produkt.nazwaTechniczna }}</dt>
                    <dd>{{ ofertaProdukt.produkt.opisPodstawowy }}</dd>
                {% endfor %}
            </dl>
            <em>
                Powyższe produkty należy stosować w określonych zestawach zgodnie z umieszczonymi w
                ofercie tabelami oraz zgodnie z zaleceniami w kartach technicznych produktów.
            </em>
        </section>
        <section id="systemy-malarskie" class="container-fluid">
            <h4>Systemy malarskie:</h4>
            {% for systemMalarski in oferta.ofertySystemy %}
                <dl>
                    <dt>{{ systemMalarski.profil }}</dt>
                    {% if systemMalarski.warstwa1 %}<dd><span class="glyphicon glyphicon-hand-right"></span>{{ systemMalarski.warstwa1 }} <em class="text-muted">(Grunt / Gruntoemalia)</em></dd>{% endif %}
                    {% if systemMalarski.warstwa2 %}<dd><span class="glyphicon glyphicon-hand-right"></span>{{ systemMalarski.warstwa2 }} <em class="text-muted">(Międzywarstwa)</em></dd>{% endif %}
                    {% if systemMalarski.warstwa3 %}<dd><span class="glyphicon glyphicon-hand-right"></span>{{ systemMalarski.warstwa3 }} <em class="text-muted">(Międzywarstwa / Farba nawierzchniowa)</em></dd>{% endif %}
                    {% if systemMalarski.warstwa4 %}<dd><span class="glyphicon glyphicon-hand-right"></span>{{ systemMalarski.warstwa4 }} <em class="text-muted">(Farba nawierzchniowa)</em></dd>{% endif %}
                </dl>
            {% endfor %}
        </section>
        <section class="produkty">

        </section>
    </div>
</body>
</html>

