{% extends '@DFPEtapI/Backend/index.html.twig' %}

{% block title %}Portal DFP - słowniki | grupy produktów{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/main_2.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/layout_2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/custom-theme/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@DFPEtapIBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}

{% block content -%}
    <div class="page-header">
        <h1><i class="fa fa-list"></i> Słownik <small>- grupy produktów</small></h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-1">Id</th>
                <th class="col-sm-9">Nazwa</th>
                <th class="col-sm-2"></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('grupaproduktow_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nazwa }}</td>
                <td>
                    <a href="{{ path('grupaproduktow_show', { 'id': entity.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> pokaż</a>
                    <a href="{{ path('grupaproduktow_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i> edytuj</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>

    <section class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-lg-2">
                <a href="{{ path('grupaproduktow_new') }}" class="btn btn-success"><i class="fa fa-plus-circle"></i> dodaj</a>
            </div>
        </div>
    </section>
{% endblock %}
